<section class="cui-page__content">
    <div class="text-center" data-ng-if="$ctrl.loading">
        <oui-spinner data-size="m"></oui-spinner>
    </div>
    <div class="oui-slideshow oui-slideshow_onboarding oui-box" data-ng-if="!$ctrl.loading">
        <div class="text-center my-auto">
            <h2 class="oui-header_2" data-translate="cpc_tasks_onboarding_new"></h2>
            <div class="oui-slideshow-panel__title" data-translate="cpc_tasks_onboarding_automated_tasks"></div>
            <div class="oui-slideshow-panel__text"  data-translate="cpc_tasks_onboarding_description_1" data-translate-values="{ url: $ctrl.CPC_TASKS.mistralAPILink }"></div>
            <div class="oui-slideshow-panel__text" data-translate="cpc_tasks_onboarding_description_2"></div>
            <oui-button data-variant="primary"
                        data-text="{{:: 'cpc_tasks_onboarding_discover' | translate}}"
                        data-on-click="$ctrl.goToTasks()"></oui-button>
            <oui-button variant="link"
                        data-text="{{:: 'cpc_tasks_onboarding_stop_showing' | translate}}"
                        data-on-click="$ctrl.discardOnboarding()"></oui-button>
        </div>
    </div>
</section>
