<form>
    <h1 class="oui-header_1 oui-header_underline"
        data-ng-bind-html="$ctrl.formTitle"></h1>
    <oui-spinner data-ng-if="!$ctrl.formLoadedCondition"></oui-spinner>
    <div class="oui-list_steps oui-list_separated mt-5"
         data-ng-if="$ctrl.formLoadedCondition">
        <ol class="oui-list__items"
            data-ng-transclude></ol>
    </div>
    <div>
        <button class="oui-button oui-button_primary"
                type="submit"
                data-ng-disabled="!$ctrl.formCompletedCondition || $ctrl.formSubmittedCondition"
                data-ng-if="$ctrl.formCompletedFunction"
                data-ng-click="$ctrl.formCompletedFunction()">
            <span data-translate="common_confirm"
                  data-ng-if="!$ctrl.formCompletedText"></span>
            <span data-ng-bind="$ctrl.formCompletedText"
                  data-ng-if="$ctrl.formCompletedText"></span>
        </button>

        <button class="oui-button oui-button_link"
                type="reset"
                data-ng-click="$ctrl.formCancelledFunction()"
                data-ng-if="$ctrl.formCancelledFunction">
            <span data-translate="common_cancel"></span>
        </button>

        <oui-spinner data-size="s" data-ng-if="$ctrl.formSubmittedCondition"></oui-spinner>
    </div>
</form>
