<div class="modal-header">
    <h3 class="modal-title" data-translate="cpciif_buy_title"></h3>
</div>

<div class="modal-body">

    <form name="sizeForm" novalidate class="ovh-form-flat" data-ng-if="CPCIIpFailoverBuyCtrl.form.maxIp > 0">
        <p class="text-info bottom-space-m20">
            <i class="fa fa-info-circle right-space-m4"></i>
            {{ :: 'cpciif_buy_cloud_info' | translate }}
        </p>
        <p>{{ 'cpciif_buy_quantity_select' | translate}}</p>
        <div flat-input-container class="input-group col-xs-12" data-ng-if="CPCIIpFailoverBuyCtrl.form.maxIp > 0">
            <input type="number"
                   class="form-control"
                   data-ng-model="CPCIIpFailoverBuyCtrl.form.quantity"
                   data-ng-model-options="{ debounce: 500 }"
                   data-ng-change="CPCIIpFailoverBuyCtrl.form.quantityChanged()"
                   data-ng-pattern="/^[0-9]+$/"
                   data-ng-disabled="CPCIIpFailoverBuyCtrl.loaders.billingInfo"
                   min="1"
                   max="{{CPCIIpFailoverBuyCtrl.form.maxIp}}">
            </input>
            <p class="small top-space-m4 pull-right" data-ng-if="sizeForm.$invalid" data-translate="cpciif_buy_limit_info" data-translate-values="{ ips : CPCIIpFailoverBuyCtrl.form.maxIp}"></p>
        </div>
    </form>

    <div class="top-space-m12" data-ng-if="CPCIIpFailoverBuyCtrl.form.maxIp > 0">
        <p>{{ 'cpciif_buy_instance_select' + (CPCIIpFailoverBuyCtrl.form.quantity > 1 ? '_plural' : '') | translate }}</p>
        <select data-ng-options="instance.name for instance in CPCIIpFailoverBuyCtrl.form.instances"
            data-ng-model="CPCIIpFailoverBuyCtrl.form.instance"
            data-ng-change="CPCIIpFailoverBuyCtrl.form.instanceChanged()"
            data-ng-disabled="CPCIIpFailoverBuyCtrl.loaders.billingInfo"
            class="form-control">
        </select>
    </div>

    <span class="text-danger"
        data-ng-if="CPCIIpFailoverBuyCtrl.form.maxIp <= 0 && !CPCIIpFailoverBuyCtrl.loaders.init">
        <i class="fa fa-warning right-space-m4"></i>{{:: 'cpciif_buy_no_instance' | translate }}
    </span>

    <spinner class="block text-center top-space-m8 bottom-space-m8" data-ng-show="CPCIIpFailoverBuyCtrl.loaders.init"></spinner>

    <div class="top-space-m12" data-ng-if="CPCIIpFailoverBuyCtrl.form.instance">
        <p>{{ 'cpciif_buy_country_select' + (CPCIIpFailoverBuyCtrl.form.quantity > 1 ? '_plural' : '') | translate}}</p>

        <select data-ng-options="country as countryTranslated(country) for country in CPCIIpFailoverBuyCtrl.form.countryEnum | orderBy:countryTranslated"
            data-ng-model="CPCIIpFailoverBuyCtrl.form.country"
            data-ng-change="CPCIIpFailoverBuyCtrl.form.countryChanged()"
            data-ng-disabled="CPCIIpFailoverBuyCtrl.loaders.billingInfo"
            class="form-control">
        </select>
    </div>

    <spinner class="block text-center top-space-m12" data-ng-show="CPCIIpFailoverBuyCtrl.loaders.billingInfo"></spinner>

    <!--<div class="top-space-m8" data-ng-if="CPCIIpFailoverBuyCtrl.datas.billingInfo">
        <p>{{ 'cpciif_buy_services' | translate}}</p>
        <ul>
            <li data-ng-repeat="service in CPCIIpFailoverBuyCtrl.datas.billingInfo.details">
                <span data-ng-bind="service.description" class="right-space-m8"></span>
                <span class="bold red" data-ng-bind="service.totalPrice.text"></span><br/>
            </li>
        </ul>
    </div>-->

    <div class="row top-space-m20" data-ng-if="CPCIIpFailoverBuyCtrl.datas.billingInfo">
        <div class="col-xs-12"
            data-contracts="CPCIIpFailoverBuyCtrl.datas.billingInfo.contracts"
            data-full-text="false"
            data-contracts-validated="CPCIIpFailoverBuyCtrl.form.contractsAccepted">
        </div>
    </div>

</div>

<div class="modal-footer">
    <div class="clearfix">
    <button type="submit" class="btn btn-primary pull-right"
        data-ng-click="CPCIIpFailoverBuyCtrl.confirm()"
        data-ng-disabled="!CPCIIpFailoverBuyCtrl.form.contractsAccepted || CPCIIpFailoverBuyCtrl.loaders.buying || !CPCIIpFailoverBuyCtrl.form.instance || !CPCIIpFailoverBuyCtrl.form.country || !CPCIIpFailoverBuyCtrl.datas.billingInfo || !(CPCIIpFailoverBuyCtrl.form.quantity >= 1)">

        <i class="fa fa-shopping-cart right-space-m8"></i>
        <span data-translate="cpciif_buy_button_generate_bc"></span>
        <small class="opacity6"
               data-translate="cpciif_buy_price_tax_free"
               data-translate-values="{ price : CPCIIpFailoverBuyCtrl.datas.billingInfo.prices.withoutTax.text }"
               data-ng-if="CPCIIpFailoverBuyCtrl.datas.billingInfo.prices.withoutTax">
        </small>
        <small class="opacity6"
               data-ng-if="CPCIIpFailoverBuyCtrl.datas.billingInfo.prices.withoutTax">*</small>
        <spinner name="bubbles-fff-ffcd1a-16"  data-ng-show="CPCIIpFailoverBuyCtrl.loaders.buying"></spinner>
    </button>
    <button type="reset" class="btn pull-left btn-default"
        data-ng-click="CPCIIpFailoverBuyCtrl.cancel()">
        <i class="glyphicon glyphicon-remove"></i>
        <span data-translate="common_cancel"></span>
    </button>
</div>
    <div class="clearfix" data-ng-if="CPCIIpFailoverBuyCtrl.datas.billingInfo.prices.withoutTax.text">
        <small>* </small><small data-translate="cpciif_buy_button_infos"></small>
    </div>
</div>
