<cui-modal>
    <cui-modal-header data-on-dismiss="$ctrl.cancel()"></cui-modal-header>
    <cui-modal-body title="'metrics_token_delete_title' | translate">
        <cui-loader data-ng-show="$ctrl.loading"></cui-loader>
        <p data-translate="metrics_token_delete_message"></p>
    </cui-modal-body>
    <cui-modal-footer>
        <button class="oui-button oui-button_secondary"
          type="button"
          data-translate="metrics_token_cancel"
          data-ng-click="$ctrl.cancel()"></button>
        <button class="oui-button oui-button_primary"
          type="submit"
          data-translate="metrics_token_delete"
          data-ng-click="$ctrl.confirm()"
          data-ng-disabled="$ctrl.loading"></button>
    </cui-modal-footer>
</cui-modal>
