<section class="cui-flex cui-page__content">
    <div class="cui-flex__col cui-flex__col_1">
        <div class="cui-tile">
            <h4 class="oui-header_4 cui-tile__title" data-translate="iplb_home_tile_status"></h4>
            <div class="cui-tile__body cui-tile__body_custom cui-tile__body_custom-spaced">
                <iplb-status-card
                    data-type="ctrl.iplbStatus.data.status"
                    data-title="ctrl.configuration.data.displayName"
                    data-subtitle="ctrl.iplbStatus.data.statusText"
                    data-loading="ctrl.iplbStatus.loading"
                    data-actions="ctrl.IPLBActions"></iplb-status-card>
                <iplb-status-card
                    data-type="ctrl.frontendsStatus.data.status"
                    data-title="'iplb_home_tile_status_frontends' | translate"
                    data-subtitle="ctrl.frontendsStatus.data.statusText"
                    data-loading="ctrl.frontendsStatus.loading"
                    data-actions="ctrl.frontendsActions"></iplb-status-card>
                <iplb-status-card
                    data-type="ctrl.serverFarmsStatus.data.serverFarms.status"
                    data-title="'iplb_home_tile_status_servers_farms' | translate"
                    data-subtitle="ctrl.serverFarmsStatus.data.serverFarms.statusText"
                    data-loading="ctrl.serverFarmsStatus.loading"
                    data-actions="ctrl.farmsActions">
                    <iplb-status-card
                        data-type="ctrl.serverFarmsStatus.data.servers.status"
                        data-title="'iplb_home_tile_status_servers' | translate"
                        data-subtitle="ctrl.serverFarmsStatus.data.servers.statusText"
                        data-loading="ctrl.serverFarmsStatus.loading"></iplb-status-card>
                </iplb-status-card>
            </div>
        </div>
    </div>
    <div class="cui-flex__col cui-flex__col_1">
        <div class="cui-tile tile-iplb-usage">
            <h4 class="oui-header_4 cui-tile__title" data-translate="iplb_home_tile_usage"></h4>
            <div class="cui-tile__body cui-tile__body_custom cui-tile__body_custom-spaced">
                <div class="iplb-usage cui-dropdown-menu-container"
                    data-ng-repeat="quota in (ctrl.usage.data | orderBy:'zone') track by $index">
                    <div class="iplb-usage__content">
                        <div class="iplb-usage__region">
                            <i class="flag-icon {{quota.region.icon}} flag flag__icon-sm cui-tile-definition-description-region__flag" data-ng-class="{ 'cui-tile-definition-description-region__flag_last': $last }"></i>
                            <span class="iplb-usage__region-name"
                                data-ng-bind="quota.region.microRegion.text"></span>
                        </div>
                        <div class="iplb-usage__graph">
                            <iplb-bullet-chart
                                data-text="(quota.total | bytes:2:true) + ' / ' + (quota.included | bytes:2:true)"
                                data-value="100 * quota.total / quota.included"
                                data-limit="100 * quota.alert / quota.included"></iplb-bullet-chart>
                        </div>
                    </div>
                    <div class="iplb-usage__menu">
                        <cui-dropdown-menu>
                            <cui-dropdown-menu-button>
                                <ng-include src="'app/ui-components/icons/button-action.html'"></ng-include>
                            </cui-dropdown-menu-button>
                            <cui-dropdown-menu-body>
                                <div class="oui-action-menu">
                                    <div class="oui-action-menu__item oui-action-menu-item">
                                        <div class="oui-action-menu-item__icon"></div>
                                        <button class="oui-button oui-button_link oui-action-menu-item__label"
                                            type="button"
                                            data-translate="iplb_utilisation_update_alert"
                                            data-ng-click="ctrl.updateQuotaAlert()"></button>
                                    </div>
                                </div>
                            </cui-dropdown-menu-body>
                        </cui-dropdown-menu>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cui-flex__col cui-flex__col_1">
        <div class="cui-tile">
            <h4 class="oui-header_4 cui-tile__title">
                <span data-translate="iplb_home_tile_graph"></span>
                <cui-loader class="cui-tile__loader" data-ng-show="ctrl.loadingGraph"></cui-loader>
            </h4>
            <div class="cui-tile__body cui-tile__body_custom cui-tile__body_custom-spaced">
                <label class="oui-select">
                    <select class="oui-select__input"
                        data-ng-options="metric as ctrl.getGraphTitle(metric) for metric in ctrl.metricsList"
                        data-ng-model="ctrl.metric"
                        data-ng-change="ctrl.loadGraph()"></select>
                    <i class="oui-icon oui-icon-chevron-down" aria-hidden="true"></i>
                </label>
                <canvas id="line2" class="chart chart-line"
                    data-ng-show="ctrl.data"
                    data-chart-data="ctrl.data"
                    data-chart-labels="ctrl.labels"
                    data-chart-options="ctrl.options">
                </canvas>
                <div class="iplb-no-data"
                    data-ng-hide="ctrl.data"
                    data-translate="iplb_graph_no_data"></div>
            </div>
        </div>
    </div>

    <div class="cui-flex__col cui-flex__col_1">
        <cui-tile data-title="'iplb_home_tile_infos' | translate"
            data-loading="ctrl.information.loading">
            <cui-tile-item>
                <cui-tile-definitions>
                    <cui-tile-definition-term data-term="'iplb_home_tile_infos_ipv4' | translate"></cui-tile-definition-term>
                    <cui-tile-definition-description>
                        <cui-clipboard data-text="ctrl.information.data.ipV4"></cui-clipboard>
                    </cui-tile-definition-description>
                </cui-tile-definitions>
            </cui-tile-item>
            <cui-tile-item>
                <cui-tile-definitions>
                    <cui-tile-definition-term data-term="'iplb_home_tile_infos_ipv6' | translate"></cui-tile-definition-term>
                    <cui-tile-definition-description>
                        <cui-clipboard data-text="ctrl.information.data.ipV6"></cui-clipboard>
                    </cui-tile-definition-description>
                </cui-tile-definitions>
            </cui-tile-item>
            <cui-tile-item data-term="'iplb_home_tile_infos_ip_failover' | translate"
                data-description="ctrl.information.data.failoverIp.length"
                data-actions="ctrl.actions.showFailoverIp">
            </cui-tile-item>
            <cui-tile-item data-term="'iplb_home_tile_infos_ip_outbound' | translate"
                data-description="ctrl.information.data.natIp.length"
                data-actions="ctrl.actions.showNatIp"></cui-tile-item>
        </cui-tile>
    </div>
    <div class="cui-flex__col cui-flex__col_1">
        <cui-tile data-title="'iplb_home_tile_configuration' | translate"
            data-loading="ctrl.configuration.loading">
            <cui-tile-item data-term="'iplb_home_tile_configuration_name' | translate"
                data-description="ctrl.configuration.data.displayName"
                data-actions="ctrl.actions.changeName"></cui-tile-item>
            <cui-tile-item data-term="'iplb_home_tile_configuration_quota_max' | translate" data-description="'PlaceHolder'"></cui-tile-item>
            <cui-tile-item data-term="'iplb_home_tile_configuration_quota_alert' | translate" data-description="'PlaceHolder'"></cui-tile-item>
            <cui-tile-item data-term="'iplb_home_tile_configuration_quota_cipher' | translate"
                data-description="ctrl.configuration.data.sslConfiguration.displayName"
                data-actions="ctrl.actions.changeCipher"></cui-tile-item>
            <cui-tile-item>
                <cui-tile-definitions>
                    <cui-tile-definition-term data-term="'iplb_home_tile_configuration_quota_datacenter' | translate"></cui-tile-definition-term>
                    <cui-tile-definition-description-region data-regions="ctrl.configuration.data.zone"></cui-tile-definition-description-region>
                </cui-tile-definitions>
            </cui-tile-item>
        </cui-tile>
    </div>
    <div class="cui-flex__col cui-flex__col_1">
        <cui-tile-subscription data-loading="ctrl.subscription.loading"
            data-subscription-info="ctrl.subscription.data"
            data-offer-actions="ctrl.actions.changeOffer"
            data-autorenew-actions="ctrl.actions.manageAutorenew"
            data-contact-actions="ctrl.actions.manageContact"></cui-tile-subscription>
    </div>
</section>
