<section class="vrack-move-dialog">
    <div class="modal-header">
        <h3 class="modal-title" data-translate="vrack_move_dialog_title"></h3>
    </div>

    <form name="ctrl.form" class="form" role="form" data-ng-submit="ctrl.submit()">
        <div class="modal-body">
            <p data-translate="vrack_move_dialog_intro"></p>
            <p class="well">
                <i class="fa fa-lg fa-warning right-space-p8"></i>
                <span data-translate="vrack_move_dialog_warning_notice"></span>
            </p>
            <div class="form-group">
                <label for="vrack right-space-p8"
                       data-translate="vrack_move_dialog_choose_vrack_label">
                </label>
                <select id="vrack"
                        name="vrack"
                        data-ng-model="ctrl.models.vrack">
                    <option value=""
                            selected
                            disabled
                            data-translate="vrack_move_dialog_choose_vrack_default_option">
                    </option>
                    <option data-ng-repeat="vrackId in ctrl.getAllowedVracks()"
                            data-ng-value="vrackId">
                        {{ ctrl.getDisplayName(vrackId) }}
                    </option>
                </select>
            </div>
        </div>

        <div class="modal-footer">
            <button type="reset" class="btn btn-default pull-left"
                    data-ng-disabled="ctrl.hasPendingRequests()"
                    data-ng-click="ctrl.dismiss()">
                <i class="fa fa-times"></i>
                <span data-translate="common_cancel"></span>
            </button>
            <button type="submit"
                    data-ng-disabled="ctrl.hasPendingRequests()"
                    class="pull-right btn btn btn-primary right-space-p16 left-space-p16">
                <i class="fa fa-fw fa-spin fa-circle-o-notch"
                   data-ng-if="ctrl.hasPendingRequests()"></i>
                <span data-translate="common_move"></span>
            </button>
        </div>
    </form>
</section>
