<div class="cui-page__content inputs-logs-add-configure">
    <div class="flowgger-edit" data-ng-if="ctrl.configuration.engineType === 'FLOWGGER'">
        <p class="oui-header_3" data-translate="inputs_logs_configure_flowgger_title"></p>

        <form novalidate name="ctrl.form">
            <div class="oui-field">
                <label for="logs_index_modal_select" class="oui-label" data-translate="inputs_logs_configure_format"></label>
                <div class="oui-field__content" data-ng-if="!ctrl.saving.loading">
                    <div class="oui-field-control oui-field-control_5 d-flex">
                        <div class="oui-select">
                            <select class="oui-select__input float-left"
                                name="logs_inputs_configure_format"
                                id="logs_inputs_configure_format"
                                data-ng-model="ctrl.configuration.flowgger.logFormat">
                                <option value="GELF">Graylog Extended Log Format (GELF)</option>
                                <option value="RFC5424">Syslog RFC 5424</option>
                                <option value="LTSV">Labeled Tab-separated Values (LTSV)</option>
                                <option value="CAPNP">Cap’n Proto</option>
                            </select>
                            <i class="oui-icon oui-icon-chevron-down" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="oui-field">
                <label for="logs_index_modal_select" class="oui-label" data-translate="inputs_logs_configure_delimiter"></label>
                <div class="oui-field__content" data-ng-if="!ctrl.saving.loading">
                    <div class="oui-field-control oui-field-control_5 d-flex">
                        <div class="oui-select">
                            <select class="oui-select__input float-left"
                                name="logs_inputs_configure_delimiter"
                                id="logs_inputs_configure_delimiter"
                                data-ng-model="ctrl.configuration.flowgger.logFraming">
                                <option value="LINE" data-translate="inputs_logs_configure_delimiter_line"></option>
                                <option value="NUL" data-translate="inputs_logs_configure_delimiter_nul"></option>
                                <option value="SYSLEN" data-translate="inputs_logs_configure_delimiter_syslen"></option>
                                <option value="CAPNP">Cap'n Proto</option>
                            </select>
                            <i class="oui-icon oui-icon-chevron-down" aria-hidden="true"></i>
                        </div>
                        <a class="oui-link" oui-tooltip="{{:: 'input_logs_configure_delimiter_tooltip' | translate}}">
                            <i class="oui-icon oui-icon-help_circle logs-inputs-configure-help" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="oui-field" data-ng-class="{'oui-field_error': ctrl.form.$submitted && ctrl.form.kafkaCoalesce.$invalid}">
                <label for="kafkaCoalesce" class="oui-label" data-translate="inputs_logs_configure_messages_batch"></label>
                <div class="oui-field__content d-flex">
                    <div class="oui-field-control oui-field-control_1">
                        <input type="number" id="kafkaCoalesce" name="kafkaCoalesce"
                        class="oui-input mb-0" data-ng-model="ctrl.configuration.flowgger.kafkaCoalesce"
                        data-ng-class="{'oui-input_error': ctrl.form.$submitted && ctrl.form.kafkaCoalesce.$invalid}"
                        autofocus required />
                    </div>
                    <a class="oui-link" oui-tooltip="{{:: 'input_logs_configure_kafka_coalesce_tooltip' | translate}}">
                        <i class="oui-icon oui-icon-help_circle logs-inputs-configure-help" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div class="cui-form-actions">
                <oui-spinner data-ng-if="ctrl.saving.loading"></oui-spinner>
                <div>
                    <button
                        class="oui-button oui-button_secondary"
                        data-translate="inputs_logs_configure_previous"
                        data-ng-click="ctrl.cancel()"></button>
                    <button
                        class="oui-button oui-button_primary ml-2"
                        type="submit"
                        data-translate="inputs_logs_configure_next"
                        data-ng-click="ctrl.saveConfig()"></button>
                    <a class="oui-button oui-button_link"
                        data-translate="inputs_logs_configure_later"
                        data-ui-sref="dbaas.logs.detail.inputs.add.edit"></a>
                    </a>
                </div>
            </div>
        </form>
    </div>

    <div class="logstash-edit" data-ng-if="ctrl.configuration.engineType === 'LOGSTASH'">
        <p class="oui-header_3" data-translate="inputs_logs_configure_logstash_title"></p>
        <p data-translate="inputs_logs_configure_logstash_desc"></p>
        <p data-translate="inputs_logs_configure_logstash_desc2"></p>
        
        <form novalidate name="ctrl.form">
            <div class="oui-field mt-4">
                <label for="logs_index_modal_select" class="oui-label" data-translate="inputs_logs_configure_logstash_wizard"></label>
                <div class="oui-field__content" data-ng-if="!ctrl.saving.loading">
                    <div class="oui-field-control oui-field-control_5 d-flex">
                        <div class="oui-select">
                            <select class="oui-select__input float-left"
                                name="logs_inputs_configure_format"
                                id="logs_inputs_configure_format"
                                data-ng-model="ctrl.configuration.logstash.logFormat"
                                data-ng-change="ctrl.applyConfiguration(ctrl.configuration.logstash.logFormat)">
                                <option value="" data-translate="inputs_logs_configure_choose_app"></option>                                
                                <option value="Syslog">Syslog</option>
                                <option value="Apache">Apache</option>
                                <option value="HAProxy">HAProxy</option>
                                <option value="MySQL Slow Queries">MySQL Slow Queries</option>
                                <option value="Twitter">Twitter</option>
                                <option value="Nginx">Nginx</option>
                            </select>
                            <i class="oui-icon oui-icon-chevron-down" aria-hidden="true"></i>                        
                        </div>
                    </div>
                </div>
            </div>

            <label class="oui-header_6 mt-3">conf.d/logstash.conf</label>
            <label class="oui-label pl-4">input {</label>

            <div class="oui-field mt-3 pl-4" data-ng-class="{'oui-field_error': ctrl.form.$submitted && ctrl.form.input.$invalid}">
                <label for="input" class="oui-label" data-translate="inputs_logs_configure_logstash_input_section"></label>
                <div class="oui-field__content">
                    <div class="oui-field-control oui-field-control_6">
                        <textarea id="input" name="input" rows="8"
                        class="oui-textarea" data-ng-model="ctrl.configuration.logstash.inputSection"
                        data-ng-class="{'oui-textarea_error': ctrl.form.$submitted && ctrl.form.input.$invalid}"
                        required />
                    </div>
                </div>
            </div>

            <label class="oui-label pl-4">}</label>
            <label class="oui-label pl-4">filter {</label>
            
            <div class="oui-field mt-3 pl-4" data-ng-class="{'oui-field_error': ctrl.form.$submitted && ctrl.form.filter.$invalid}">
                <label for="filter" class="oui-label" data-translate="inputs_logs_configure_logstash_filter_section"></label>
                <div class="oui-field__content">
                    <div class="oui-field-control oui-field-control_6">
                        <textarea id="filter" name="filter" rows="8"
                        class="oui-textarea" data-ng-model="ctrl.configuration.logstash.filterSection"
                        data-ng-class="{'oui-textarea_error': ctrl.form.$submitted && ctrl.form.filter.$invalid}"
                        required />
                    </div>
                </div>
            </div>
            <label class="oui-label pl-4">}</label>

            <label class="oui-header_6 mt-3">conf.d/logpatterns/custom-grok-patterns</label>

            <div class="oui-field mt-3 pl-4" data-ng-class="{'oui-field_error': ctrl.form.$submitted && ctrl.form.grok.$invalid}">
                <label for="grok" class="oui-label" data-translate="inputs_logs_configure_logstash_grok"></label>
                <div class="oui-field__content">
                    <div class="oui-field-control oui-field-control_6">
                        <textarea id="grok" name="grok" rows="8"
                        class="oui-textarea" data-ng-model="ctrl.configuration.logstash.patternSection"
                        data-ng-class="{'oui-textarea_error': ctrl.form.$submitted && ctrl.form.grok.$invalid}"
                        required />
                    </div>
                </div>
            </div>

            <button
                class="oui-button oui-button_secondary"
                data-translate="input_logs_configure_test"
                data-ng-click="ctrl.test()"></button>

            <div class="cui-form-actions">
                <oui-spinner data-ng-if="ctrl.saving.loading"></oui-spinner>
                <div>
                    <button
                        class="oui-button oui-button_secondary"
                        data-translate="inputs_logs_configure_previous"
                        data-ng-click="ctrl.cancel()"></button>
                    <button
                        class="oui-button oui-button_primary ml-2"
                        type="submit"
                        data-translate="inputs_logs_configure_next"
                        data-ng-click="ctrl.saveConfig()"></button>
                    <a class="oui-button oui-button_link"
                        data-translate="inputs_logs_configure_later"
                        data-ui-sref="dbaas.logs.detail.inputs.add.edit"></a>
                </div>
            </div>
        </form>
    </div>
</div>
    