<li class="oui-list__item oui-list__group"
    data-ng-class="'oui-list__item_' + $ctrl.step.status">
    <span class="oui-list__header">
        <span data-ng-bind-html="$ctrl.stepTitle"></span>
    </span>
    <div class="oui-list__description"
         data-ng-if="$ctrl.step.status !== 'disabled' || !$ctrl.stepDisabledCondition"
         data-ng-init="$ctrl.stepInitFunction()">
        <div class="text-center">
            <oui-loader size="m" class="d-inline-block"
                        data-ng-if="!$ctrl.stepLoadedCondition"></oui-loader>
        </div>

        <div data-ng-if="$ctrl.stepLoadedCondition"
             data-ng-transclude></div>
    </div>
</li>

