.inputs-logs-add {
    .oui-progress-tracker__step {
        pointer-events: initial;
        max-width: none;

        a:hover { 
            color: @oui-color-dodger;
        }
    }

    .oui-progress-tracker__step_active {
        color: @oui-color-concrete;
        pointer-events: none;
        cursor: none;
    }

    .oui-progress-tracker__step_disabled {
        pointer-events: none;
        cursor: none;
    }
}