.nasha-partition-access {

    .btn-back {
        background-color: #DFEEEB;
        border-color: #BDCCC9;
    }

    .permissions {
        display: block;

        &-labels {
            font-weight: normal;
        }
    }

    .loading-spinner {
        text-align: center;
    }
}
