<div class="cui-page__content">
    <oui-back-button class="back_button_inline_text"></oui-back-button>
    <span class="oui-header_3" data-translate="{{ ctrl.editMode ? 'edit_alert_title_' + ctrl.alertType.toLowerCase() : 'add_alert_title_' + ctrl.alertType.toLowerCase() }}"></span>
    <p class="oui-paragraph" data-translate="{{ 'add_alert_description_' + ctrl.alertType.toLowerCase() }}"></p>

    <oui-spinner data-ng-if="ctrl.alert.loading"></oui-spinner>
    <form data-ng-if="!ctrl.alert.loading" novalidate name="ctrl.form">
        <div class="oui-field" data-ng-class="{'oui-field_error': ctrl.form.$submitted && ctrl.form.alert_title.$invalid}">
            <label for="alert_title" class="oui-field__label oui-label" data-translate="add_alert_title_field"></label>
            <div class="oui-field__content">
                <div class="oui-field-control oui-field-control_4">
                    <input type="text" id="alert_title" name="alert_title"
                            class="oui-input" 
                            data-ng-model="ctrl.alert.data.title"
                            data-ng-class="{'oui-input_error': ctrl.form.$submitted && ctrl.form.alert_title.$invalid}"
                            data-ng-minlength="ctrl.LogsStreamsAlertsAddConstant.TITLE_MIN_LENGTH"
                            data-ng-maxlength="ctrl.LogsStreamsAlertsAddConstant.TITLE_MAX_LENGTH"
                            autofocus
                            required />
                    <div class="oui-field-helper mb-0 ml-0" data-translate="add_alert_title_field_description"></div>
                </div>
            </div>
        </div>

        <div data-ng-if="ctrl.alertType !== 'MESSAGE_COUNT'" class="oui-field" data-ng-class="{'oui-field_error': ctrl.form.$submitted && ctrl.form.field.$invalid}">
            <label for="field" class="oui-field__label oui-label" data-translate="add_alert_field_field"></label>
            <div class="oui-field__content">
                <div class="oui-field-control oui-field-control_4">
                    <input type="text" id="field" name="field"
                            class="oui-input" 
                            data-ng-model="ctrl.alert.data.field"
                            data-ng-class="{'oui-input_error': ctrl.form.$submitted && ctrl.form.field.$invalid}"
                            data-ng-minlength="ctrl.LogsStreamsAlertsAddConstant.FIELD_MIN_LENGTH"
                            data-ng-maxlength="ctrl.LogsStreamsAlertsAddConstant.FIELD_MAX_LENGTH"
                            required />
                    <div class="oui-field-helper mb-0 ml-0" data-translate="add_alert_field_field_description"></div>
                </div>
            </div>
        </div>

        <div data-ng-if="ctrl.alertType === 'FIELD_CONTENT_VALUE'" class="oui-field" data-ng-class="{'oui-field_error': ctrl.form.$submitted && ctrl.form.val.$invalid}">
                <label for="val" class="oui-field__label oui-label" data-translate="add_alert_value_field"></label>
                <div class="oui-field__content">
                    <div class="oui-field-control oui-field-control_4">
                        <input type="text" id="val" name="val"
                                class="oui-input" 
                                data-ng-model="ctrl.alert.data.value"
                                data-ng-class="{'oui-input_error': ctrl.form.$submitted && ctrl.form.field.$invalid}"
                                data-ng-minlength="ctrl.LogsStreamsAlertsAddConstant.VALUE_MIN_LENGTH"
                                data-ng-maxlength="ctrl.LogsStreamsAlertsAddConstant.VALUE_MAX_LENGTH"
                                required />
                        <div class="oui-field-helper mb-0 ml-0" data-translate="add_alert_value_field_description"></div>
                    </div>
                </div>
            </div>

        <div data-ng-if="ctrl.alertType !== 'FIELD_CONTENT_VALUE'">
            <div class="oui-field" data-ng-class="{'oui-field_error': ctrl.form.$submitted && ctrl.form.time_period.$invalid}">
                <label for="time_period" class="oui-field__label oui-label" data-translate="add_alert_time_period_field"></label>
                <div class="oui-field__content">
                    <oui-numeric
                        id="time_period"
                        name="time_period"
                        model="ctrl.alert.data.time"
                        class="numeric_without_bottom_margin"
                        min="ctrl.LogsStreamsAlertsAddConstant.TIME_PERIOD_MIN_IN_SECONDS"
                        max="ctrl.LogsStreamsAlertsAddConstant.TIME_PERIOD_MAX_IN_SECONDS"
                        required>
                    </oui-numeric>                    
                </div>
                <div class="oui-field-helper mt-2 mb-4 ml-0" data-translate="add_alert_time_period_field_description"></div>
            </div>

            <div class="oui-field">
                <label for="threshold_type" class="oui-label" data-translate="add_alert_threshold_type_field"></label>
                <div class="oui-field__content">
                    <div class="oui-field-control oui-field-control_4 mb-0">
                        <div class="oui-select">
                            <select class="oui-select__input"
                                name="threshold_type"
                                id="threshold_type"
                                data-ng-model="ctrl.alert.data.thresholdType">
                                <option data-ng-repeat="thresholdType in ctrl.getThresholdTypes()" value="{{::thresholdType}}" data-translate="{{ ::'add_alert_threshold_type_' + thresholdType.toLowerCase() }}"></option>
                            </select>
                            <i class="oui-icon oui-icon-chevron-down" aria-hidden="true"></i>
                        </div>                        
                    </div>
                </div>
                <div class="oui-field-helper mb-4 ml-0" data-translate="{{ ::'add_alert_threshold_type_field_description_' + ctrl.alertType.toLowerCase() }}"></div>
            </div>

            <div class="oui-field" data-ng-class="{'oui-field_error': ctrl.form.$submitted && ctrl.form.threshold.$invalid}">
                <label for="threshold" class="oui-field__label oui-label" data-translate="add_alert_threshold_field"></label>
                <div class="oui-field__content">
                    <oui-numeric
                        id="threshold"
                        name="threshold"
                        model="ctrl.alert.data.threshold"
                        class="numeric_without_bottom_margin"
                        min="ctrl.LogsStreamsAlertsAddConstant.THRESHOLD_MIN"
                        max="ctrl.LogsStreamsAlertsAddConstant.THRESHOLD_MAX"
                        required>
                    </oui-numeric>
                </div>
                <div class="oui-field-helper mt-2 mb-4 ml-0" data-translate="add_alert_threshold_field_description"></div>
            </div>

            <div data-ng-if="ctrl.alertType === 'FIELD_VALUE'" class="oui-field">
                <label for="constraint_type" class="oui-label" data-translate="add_alert_constraint_type_field"></label>
                <div class="oui-field__content">
                    <div class="oui-field-control oui-field-control_4 mb-0">
                        <div class="oui-select">
                            <select class="oui-select__input"
                                name="constraint_type"
                                id="constraint_type"
                                data-ng-model="ctrl.alert.data.constraintType">
                                <option data-ng-repeat="constraintType in ctrl.getConstraintTypes()" value="{{::constraintType}}" data-translate="{{ ::'add_alert_constraint_type_' + constraintType.toLowerCase() }}"></option>
                            </select>
                            <i class="oui-icon oui-icon-chevron-down" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="oui-field-helper mb-4 ml-0" data-translate="add_alert_constraint_type_field_description"></div>
            </div>
        </div>

        <div class="oui-field" data-ng-class="{'oui-field_error': ctrl.form.$submitted && ctrl.form.grace_period.$invalid}">
            <label for="grace_period" class="oui-field__label oui-label" data-translate="add_alert_grace_period_field"></label>
            <div class="oui-field__content">
                <oui-numeric
                    id="grace_period"
                    name="grace_period"
                    model="ctrl.alert.data.grace"
                    class="numeric_without_bottom_margin"
                    min="ctrl.LogsStreamsAlertsAddConstant.GRACE_PERIOD_MIN_IN_MINUTES"
                    max="ctrl.LogsStreamsAlertsAddConstant.GRACE_PERIOD_MAX_IN_MINUTES"
                    required>
                </oui-numeric>
            </div>
            <div class="oui-field-helper mt-2 mb-4 ml-0" data-translate="add_alert_grace_period_field_description"></div>
        </div>

        <div class="oui-field" data-ng-class="{'oui-field_error': ctrl.form.$submitted && ctrl.form.accumulation.$invalid}">
            <label for="accumulation" class="oui-field__label oui-label" data-translate="add_alert_accumulation_field"></label>
            <div class="oui-field__content">
                <oui-numeric
                    id="accumulation"
                    name="accumulation"
                    model="ctrl.alert.data.backlog"
                    class="numeric_without_bottom_margin"
                    min="ctrl.LogsStreamsAlertsAddConstant.BACKLOG_MIN"
                    max="ctrl.LogsStreamsAlertsAddConstant.BACKLOG_MAX"
                    required>
                </oui-numeric>
            </div>
            <div class="oui-field-helper mt-2 mb-4 ml-0" data-translate="add_alert_accumulation_field_description"></div>
        </div>

        <div class="oui-field pb-4">
            <div class="oui-field__content">
                <div class="oui-field-control">
                    <oui-checkbox model="ctrl.alert.data.repeatNotificationsEnabled"
                        id="notification"
                        name="notification"
                        text="{{::'add_alert_notification_field' | translate}}"
                        description="{{::'add_alert_notification_field_description' | translate}}">
                    </oui-checkbox>
                </div>
            </div>
        </div>

        <div class="cui-form-actions">
            <oui-spinner data-ng-show="ctrl.savingAlert.loading"></oui-spinner>
            <div data-ng-hide="ctrl.savingAlert.loading">
                <oui-button
                    text="{{::'common_save' | translate}}"
                    variant="primary"
                    type="submit"
                    on-click="ctrl.saveAlert()"
                ></oui-button>
            
                <oui-button
                    text="{{::'common_cancel' | translate}}"
                    variant="link"
                    on-click="ctrl.cancel()"
                ></oui-button>
            </div>
        </div>
    </form>
</div>
