<div class="oui-modal oui-modal_shadow">
    <div class="oui-modal__header">
        <button
            class="oui-icon oui-icon-close_thin oui-modal__close-button"
            type="button"
            aria-label="Exit"
            ng-click="ctrl.cancel()"></button>
    </div>
    <div class="oui-modal__body oui-modal__body_no-icon">
        <div class="oui-modal__body-text mb-3">
            <h2 class="oui-modal__title" ng-if="ctrl.isEdit" data-translate="logs_index_modal_edit_title"></h2>
            <h2 class="oui-modal__title" ng-if="!ctrl.isEdit" data-translate="logs_index_modal_add_title"></h2>
        </div>

        <div ng-if="ctrl.isEdit" class="mb-3">
            <span data-translate="logs_index_modal_edit_description"></span>
            <b><span>{{ ctrl.indexInfo.name | translate }}</span></b>
        </div>

        <form novalidate name="ctrl.form">
            <div class="oui-field" ng-if="!ctrl.isEdit" data-ng-class="{'oui-field_error': ctrl.form.$submitted && ctrl.form.suffix.$invalid}">
                <label for="suffix" class="oui-label" data-translate="logs_index_modal_suffix"></label>
                <div class="oui-field__content">
                    <div class="oui-field-control oui-field-control_5 mb-2">
                        <input type="text" id="suffix" name="suffix"
                        data-ng-pattern="ctrl.suffixPattern"
                        class="oui-input mb-0" data-ng-model="ctrl.index.suffix"
                        data-ng-class="{'oui-input_error': ctrl.form.$submitted && ctrl.form.suffix.$invalid}"
                        autofocus required />
                    </div>
                </div>
                <p data-translate="logs_index_suffix_description" class="mb-4"></p>

            </div>

            <div class="oui-field mt-3" data-ng-class="{'oui-field_error': ctrl.form.$submitted && ctrl.form.description.$invalid}">
                <label for="description" class="oui-label" data-translate="logs_index_modal_description"></label>
                <div class="oui-field__content">
                    <div class="oui-field-control oui-field-control_5">
                        <textarea id="description" name="description"
                        class="oui-textarea" data-ng-model="ctrl.index.description"
                        data-ng-class="{'oui-textarea_error': ctrl.form.$submitted && ctrl.form.description.$invalid}"
                        required />
                    </div>
                </div>
            </div>


            <div class="oui-field" ng-if="!ctrl.isEdit">
                <label for="logs_index_modal_select" class="oui-label" data-translate="logs_select_options_title"></label>
                <oui-spinner data-ng-if="ctrl.options.loading"></oui-spinner>
                <div class="oui-field__content" data-ng-if="!ctrl.options.loading">
                    <div class="oui-field-control oui-field-control_5">
                        <div class="oui-select mb-0">
                            <select class="oui-select__input"
                                name="logs_index_modal_select"
                                id="logs_index_modal_select"
                                data-ng-model="ctrl.index.optionId"
                                data-ng-options="option.optionId as option.type+', '+option.detail+' - '+option.curNbIndex+'/'+option.maxNbIndex for option in ctrl.options.data">
                                <option value="">{{::'logs_main_offer' | translate}} - {{ctrl.mainOffer.data.current}}/{{ctrl.mainOffer.data.max}}</option>
                            </select>
                            <i class="oui-icon oui-icon-chevron-down" aria-hidden="true"></i>
                        </div>
                        <div class="mb-4">
                            <span data-translate="logs_index_option_warning"></span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="oui-field">
                <label class="oui-label" data-translate="logs_index_modal_notification"></label>
                <div class="oui-field__content">
                    <div class="oui-field-control">
                        <oui-checkbox model="ctrl.index.alertNotifyEnabled" text="{{ ::'logs_index_modal_checkbox' | translate}}"></oui-checkbox>
                    </div>
                </div>
            </div>


            <div class="oui-modal__footer">
                <div class="cui-form-actions">
                    <oui-spinner data-ng-if="ctrl.saving.loading"></oui-spinner>
                    <div data-ng-if="!ctrl.saving.loading">
                        <button
                            class="oui-button oui-button_secondary"
                            data-translate="common_cancel"
                            data-ng-click="ctrl.cancel()"></button>
                        <button
                            type="submit"
                            class="oui-button oui-button_primary"
                            data-translate="common_save"
                            data-ng-click="ctrl.editIndex()"
                            data-ng-if="ctrl.isEdit"></button>
                        <button
                            class="oui-button oui-button_primary"
                            type="submit"
                            data-translate="common_save"
                            data-ng-click="ctrl.saveIndex()"
                            data-ng-if="!ctrl.isEdit"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
