{
    "extends": "airbnb-base",
    "plugins": ["angular"],
    "env": {
        "browser": true,
        "jasmine": true
    },
    "globals": {
        "_": true,
        "$", true,
        "angular": true,
        "inject": true,
        "JSURL": true,
        "moment": true,
        "RFB": "true",
        "URI": true,
        "Util": true,
        "WebUtil": true
    }
}
