{
    "extends": "airbnb-base",
    "plugins": ["angular"],
    "env": {
        "browser": true,
        "jasmine": true
    },
    "globals": {
        "_": true,
        "angular": true,
        "inject": true,
        "moment": true,
        "JSURL": true
    }
}
