node_modules
client/app/config/*/custom.constants.js
tools/keys/*
Messages_*_*.json
.tmp
client/app/app.less
client/index.html
karma.conf.js
test-reports/
test-reports.tar.gz
.idea
client/bower_components
dist
/server/config/local.env.js
npm-debug.log
dist-EU.tar.gz
dist-CA.tar.gz
dist-US.tar.gz
phantomjsdriver.log
*.orig
dist.tar.gz
client/**/translations/*.json
server/certificate/server.crt
server/certificate/server.csr
server/certificate/server.key
tools/
client/app/app-scss.css
.DS_Store
.vscode/
