<form novalidate name="$ctrl.form">
    <oui-modal 
        data-title="{{:: 'cpb_vouchers_your_voucher_add' | translate}}"
        data-primary-action="$ctrl.confirm()"
        data-primary-label="{{ ::'common_confirm' | translate }}"
        data-secondary-action="$ctrl.cancel()"
        data-secondary-label="{{ ::'common_cancel' | translate }}"
        data-on-dismiss="$ctrl.cancel()"
        data-loading="$ctrl.saving">
            
        <div class="oui-field" data-ng-class="{'oui-field_error': $ctrl.form.$submitted && $ctrl.form.voucherAddValue.$invalid}">
                <label class="oui-label" for="voucherAddValue"
                        data-translate="cpb_vouchers_your_voucher"></label>
                <input type="text"
                        class="oui-input"
                        id="voucherAddValue"
                        name="voucherAddValue"
                        data-ng-class="{'oui-input_error': $ctrl.form.$submitted && $ctrl.form.voucherAddValue.$invalid}"
                        data-ng-model="$$ctrl.model.value"
                        required />
                <div class="oui-field__error" data-ng-if="$ctrl.form.$submitted && $ctrl.form.voucherAddValue.$invalid">
                    <span role="alert">
                        <i class="oui-icon oui-icon-error" aria-hidden="true"></i>
                        <span translate="common_required_field"></span>
                    </span>
                </div>
        </div>
    </oui-modal>
</form>
