<cui-modal>
    <cui-modal-header data-on-dismiss="$ctrl.cancel()"></cui-modal-header>
    <cui-modal-body data-title="'vps_tab_backup_storage_table_ip_edit' | translate">
        <div class="text-center" data-ng-if="$ctrl.loader.save">
            <oui-spinner></oui-spinner>
        </div>
        <div data-ng-if="!$ctrl.loader.save">
            <cui-modal-text data-text="'vps_backup_storage_access_add_authorization' | translate"></cui-modal-text>
            <oui-checkbox
                data-text="{{ 'vps_tab_backup_storage_table_cifs' | translate }}"
                id="acces-cifs"
                name="acces-cifs"
                data-model="$ctrl.model.cifs">
            </oui-checkbox>
            <oui-checkbox
                data-text="{{ 'vps_tab_backup_storage_table_ftp' | translate }}"
                id="acces-ftp"
                name="acces-ftp"
                data-model="$ctrl.model.ftp">
            </oui-checkbox>
            <oui-checkbox
                data-text="{{ 'vps_tab_backup_storage_table_nfs' | translate }}"
                id="acces-nfs"
                name="acces-nfs"
                data-model="$ctrl.model.nfs">
            </oui-checkbox>
        </div>
    </cui-modal-body>
    <cui-modal-footer>
        <cui-cancel-button data-text="'common_cancel' | translate" data-on-click="$ctrl.cancel()"></cui-cancel-button>
        <cui-submit-button data-text="'common_confirm' | translate"
            data-on-click="$ctrl.confirm()"
            data-disabled="$ctrl.loader.save || !$ctrl.validateCheckboxes()"></cui-submit-button>
    </cui-modal-footer>
</cui-modal>
