<div class="veeam__storage">
    <div class="veeam__row">
        <a ui-sref="paas.veeam.detail.dashboard({ serviceName: VeeamStorageCtrl.$stateParams.serviceName })"
            class="oui-button oui-button_link oui-button_icon-left">
            <i class="oui-icon oui-icon-chevron-left" aria-hidden="true"></i><span data-translate="veeam_storage_back"></span>
        </a>
    </div>
    <div class="veeam__row">
        <h3 class="oui-header_3" data-translate="veeam_storage_title"></h3>
    </div>
    <div class="veeam__row">
        <button class="oui-button oui-button_secondary"
            data-ng-disabled="VeeamStorageCtrl.actions.loading"
            data-translate="veeam_storage_add_storage"
            data-ng-click="VeeamStorageCtrl.addStorage()"></button>
        <div class="pull-right">
            <input type="search"
                class="oui-input"
                data-ng-model="VeeamStorageCtrl.searchText"
                data-ng-model-options="{ debounce: 200 }"
                data-translate-attr="{ placeholder: 'veeam_storage_search' }"/>
        </div>
    </div>
    <div class="veeam__row">
        <table class="oui-table">
            <thead class="oui-table__headers">
                <tr>
                    <th class="oui-table__header" data-translate="veeam_table_storage"></th>
                    <th class="oui-table__header" data-translate="veeam_table_usage"></th>
                    <th class="oui-table__header" data-translate="veeam_quota"></th>
                    <th class="oui-table__header" data-translate="veeam_table_datacenter"></th>
                    <th class="oui-table__header oui-table__cell_action" data-translate="veeam_table_action"></th>
                </tr>
            </thead>
            <tbody class="oui-table__body" data-ng-show="VeeamStorageCtrl.storageInfos.loading">
                <tr class="oui-table__row">
                    <td colspan="5" class="oui-table__cell">
                        <cui-loader></cui-loader>
                    </td>
                </tr>
            </tbody>
            <tbody class="oui-table__body" data-ng-hide="VeeamStorageCtrl.storageInfos.loading">
                <tr class="oui-table__row cui-dropdown-menu-container"
                    data-ng-repeat="storage in VeeamStorageCtrl.storageInfos.data | filter:VeeamStorageCtrl.searchText track by $index">
                    <td class="oui-table__cell" data-ng-bind="storage.inventoryName"></td>
                    <td class="oui-table__cell">
                        <span data-ng-show="storage.quotaUsed" data-ng-bind="storage.quotaUsed.value | bytes:2:false:storage.quotaUsed.unit"></span>
                        <span data-ng-show="!storage.quotaUsed">0 B</span>
                    </td>
                    <td class="oui-table__cell" data-ng-bind="storage.quota.value | bytes:2:false:storage.quota.unit"></td>
                    <td class="oui-table__cell" data-ng-bind="VeeamStorageCtrl.getRegionText(storage.replicationZone)"></td>
                    <td class="oui-table__cell oui-table__cell_action">
                        <cui-dropdown-menu>
                            <cui-dropdown-menu-button>
                                <ng-include src="'app/ui-components/icons/button-action.html'"></ng-include>
                            </cui-dropdown-menu-button>
                            <cui-dropdown-menu-body>
                                <div class="oui-action-menu">
                                  <div class="oui-action-menu__item oui-action-menu-item">
                                    <div class="oui-action-menu-item__icon"></div>
                                    <button class="oui-button oui-button_link oui-action-menu-item__label"
                                        type="button"
                                        data-ng-if="!VeeamStorageCtrl.capabilities.loading"
                                        data-ng-disabled="(VeeamStorageCtrl.capabilities.data.maxQuota | bytes:0:false:'GB':true) <= (VeeamStorageCtrl.capabilities.data.defaultQuota | bytes:0:false:'GB':true)"
                                        data-translate="veeam_storage_update_title"
                                        data-ng-click="VeeamStorageCtrl.updateQuota(storage.inventoryName)"></button>
                                  </div>
                                </div>
                            </cui-dropdown-menu-body>
                        </cui-dropdown-menu>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
