<div class="cui-page__content">
    <oui-back-button data-state="dbaas.logs.detail.aliases"
        class="back_button_inline_text"
        data-state-params="{ serviceName: ctrl.serviceName}">
    </oui-back-button>
    <span class="oui-header_3" data-translate="logs_aliases_link_title"></span>
    <h6 data-ng-if="!ctrl.alias.loading" class="oui-header_6">
        {{ctrl.alias.data.info.name}}
    </h6>
    <p class="oui-paragraph mb-5" data-translate="logs_aliases_link_description"></p>
    <form novalidate name="ctrl.form">
        <cui-radio-bar data-ng-model="ctrl.selectedContent">
            <cui-radio-bar-item data-ng-repeat="content in ctrl.contents"
                data-text="content.name | translate"
                data-value="content.value"
                data-ng-disabled="ctrl.isContentDisabled(content.value)">
            </cui-radio-bar-item>
        </cui-radio-bar>

        <div data-ng-if="ctrl.selectedContent === ctrl.LogsAliasesService.contentTypeEnum.STREAMS">
            <cui-dual-list
                source-list-label="{{::'logs_aliases_link_available_streams' | translate}}"
                target-list-label="{{::'logs_aliases_link_attached_streams' | translate}}"
                source-list-empty-label="{{::'logs_aliases_link_all_streams_attached' | translate}}"
                target-list-empty-label="{{::'logs_aliases_link_no_streams_attached' | translate}}"
                property="info.title"
                source-list="ctrl.availableStreams.promise"
                target-list="ctrl.attachedStreams.promise"
                on-add="ctrl.attachStream(items, defer)"
                on-remove="ctrl.detachStream(items, defer)"
                bulk-action-enabled="false"
                height="200px">
            </cui-dual-list>      
        </div>

        <div data-ng-if="ctrl.selectedContent === ctrl.LogsAliasesService.contentTypeEnum.INDICES">
            <cui-dual-list
                source-list-label="{{::'logs_aliases_link_available_indexes' | translate}}"
                target-list-label="{{::'logs_aliases_link_attached_indexes' | translate}}"
                source-list-empty-label="{{::'logs_aliases_link_all_indexes_attached' | translate}}"
                target-list-empty-label="{{::'logs_aliases_link_no_indexes_attached' | translate}}"
                property="info.name"
                source-list="ctrl.availableIndices.promise"
                target-list="ctrl.attachedIndices.promise"
                on-add="ctrl.attachIndex(items, defer)"
                on-remove="ctrl.detachIndex(items, defer)"
                bulk-action-enabled="false"
                height="200px">
            </cui-dual-list>
        </div>

        <div class="cui-form-actions">
            <oui-spinner data-ng-show="ctrl.saving.loading"></oui-spinner>
            <div data-ng-hide="ctrl.save.loading">
                <a class="oui-button oui-button_link"
                    data-translate="common_cancel"
                    data-ui-sref="dbaas.logs.detail.aliases"></a>
            </div>
        </div>
    </form>
</div>



