<fieldset class="view-upgrade">
    <legend data-translate="metrics_upgrade_title"></legend>
    <article class="flex-row space-around">
        <div class="thumbnail pad" ng-repeat="(id, plan) in $ctrl.upgradeOnly($ctrl.plans[$ctrl.service.type])">
            <metrics-logo type="$ctrl.service.type"></metrics-logo>
            <h3>
                <span data-ng-bind="$ctrl.service.type"></span>
                <span data-ng-bind="plan.title"></span>
            </h3>
            <ul class="list-group">
                <li class="list-group-item"
                    ng-if="plan.mads">
                    {{ plan.mads | metricsCleverNumber }} {{ 'metrics_mads' | translate }}
                </li>
            </ul>
            <a class="ovh-button ovh-button_primary btn-small"
               href="https://www.ovh.com/fr/data-platforms/metrics/"
               data-translate="metrics_purchase">
            </a>
        </div>
    </article>
</fieldset>
