<div class="cui-page__content">
    <oui-back-button data-title="{{'metrics_token_add_token' | translate }}"
                     data-on-click="$ctrl.$state.go('dbaas.metrics.detail.token')">
    </oui-back-button>

    <form name="MetricsTokenAddForm">
        <oui-spinner data-ng-show="$ctrl.loading"></oui-spinner>
        <div data-ng-hide="$ctrl.loading">
            <oui-field label="{{'metrics_token_add_name' | translate }}">
                <div class="oui-field-control oui-field-control_4">
                    <input class="oui-input"
                           type="text"
                           id="description"
                           name="description"
                           data-ng-model="$ctrl.token.description">
                </div>
            </oui-field>

            <oui-field label="{{'metrics_token_add_permission' | translate }}">
                <div class="oui-field-control oui-field-control_5">
                    <cui-radio-bar data-ng-model="$ctrl.token.permission"
                                   id="permission"
                                   name="permission">
                        <cui-radio-bar-item
                            data-ng-repeat="permission in $ctrl.permissions"
                            data-text="permission.text"
                            data-value="permission.value">
                        </cui-radio-bar-item>
                    </cui-radio-bar>
                </div>
            </oui-field>

            <oui-field label="{{'metrics_token_add_labels' | translate }}">
                <div class="oui-field-control oui-field-control_5"
                     data-ng-repeat="label in $ctrl.token.labels">
                    <div class="metrics-token-add__labels">
                        <div class="metrics-token-add__labels-item oui-input-formfield">
                            <input class="oui-input" type="text" data-ng-model="label.key" name="key">
                            <label class="oui-label metrics-token-add__labels-item-label" for="key" data-translate="metrics_token_add_labels_key"></label>
                        </div>
                        <div class="metrics-token-add__labels-item oui-input-formfield">
                            <input class="oui-input" type="text" data-ng-model="label.value" name="value">
                            <label class="oui-label metrics-token-add__labels-item-label" for="value" data-translate="metrics_token_add_labels_value"></label>
                        </div>
                        <div class="metrics-token-add__labels-item metrics-token-add__labels-item-action">
                            <div data-ng-show="$last">
                                <button class="oui-button oui-button_secondary"
                                    data-ng-click="$ctrl.addLabel()">+</button>
                            </div>
                            <div data-ng-show="!$last">
                                <button class="oui-button oui-button_secondary"
                                    data-ng-click="$ctrl.removeLabel(label)">-</button>
                            </div>
                        </div>
                    </div>
                </div>
            </oui-field>

            <oui-form-actions data-on-submit="$ctrl.confirm()"
                              data-on-cancel="$ctrl.cancel()"
                              data-submit-text="{{'metrics_token_add_confirmation' | translate}}"
                              data-cancel-text="{{'metrics_token_cancel' | translate}}"
                              data-disabled="MetricsTokenAddForm.$invalid || $ctrl.loading"></oui-form-actions>
        </div>
    </form>
</div>
