<div class="nasha cui-page">
    <div data-ng-if="NashaCtrl.data.nasha.serviceName">
        <cui-page-header
            data-title-text="NashaCtrl.data.nasha.serviceName"
            data-guides="NashaCtrl.guides">
        </cui-page-header>

        <div class="cui-page__content">
            <!-- init loading... -->
            <cui-loader data-size="l" data-ng-show="NashaCtrl.loading"></cui-loader>

            <cui-message-container data-messages="NashaCtrl.messages"></cui-message-container>

            <div data-ng-include="'app/nasha/information/nasha-information.html'"></div>

            <div data-ng-if="!NashaCtrl.loading && NashaCtrl.data.information.status !== 'expired'">
                <div ui-view="nashaPartition"></div>
            </div>

            <div data-ng-if="!NashaCtrl.loaders.nasha && NashaCtrl.data.information.status !== 'expired'">
                <div ui-view="nashaPartitionAccess"></div>
            </div>
        </div>
    </div>
</div>
