<div class="cui-ads__container" data-ng-if="$ctrl.hasMessageToDisplay()">
    <div data-ng-repeat="message in $ctrl.messages track by $index">
        <div class="cui-ads__message" data-ng-if="message.type === 'image'">
            <img class="cui-ads__image" data-ng-src="{{:: message.src }}" alt="{{:: message.alt }}">
            <button class="oui-icon oui-icon-close cui-ads__button_close"
                    type="button"
                    data-ng-click="$ctrl.onDismiss(message)"
                    aria-label="Close">
            </button>
        </div>
    </div>
</div>
