
.numeric_without_bottom_margin {
    .oui-input-group {
        margin: 0rem;
    }
}

// ToDo: Remove once the components supports hiding the paging information
.datagrid-without-pagination {
    oui-pagination {
        display: none;
    }
}

.table-without-pagination {
    oui-table-default-pagination {
        display: none;
    }
}