.back_button_inline_text {
    button {
        padding-top: 1.2rem;
        padding-right: 0rem;
    }
}

.numeric_without_bottom_margin {
    .oui-input-group {
        margin: 0rem;
    }
}

// ToDo: Remove once the components supports hiding the paging information
.datagrid-without-pagination {
    oui-pagination {
        display: none;
    }
}