
<form id="openStackUserTokenCreationForm" name="openStackUserTokenCreationForm" class="ovh-form-flat" novalidate>

    <div class="modal-header">
        <h3 class="modal-title" >
            {{"cpou_token_title" | translate}}
        </h3>
    </div>

    <div class="modal-body">
        <div data-ng-if="!CloudProjectOpenstackUsersTokenCtrl.generateToken.tokens">
            <p data-translate="cpou_token_info"
               data-translate-values="{username: CloudProjectOpenstackUsersTokenCtrl.openstackUser.username}"></p>

            <div flat-input-container class="bottom-space-m12">
                <label for="password" data-translate="cpou_token_password_label"></label>
                <input type="password" class="form-control error-animate-shake-light" id="password" name="password"
                    placeholder="{{ ::'cpou_token_password_label' | translate}}"
                    data-ng-model="CloudProjectOpenstackUsersTokenCtrl.generateToken.password"
                    autoselect
                    autofocus
                    required
                    ng-maxlength="4095">
            </div>
        </div>

        <div data-ng-if="CloudProjectOpenstackUsersTokenCtrl.generateToken.tokens">

            <p>
                <span data-translate="cpou_token_xauthtoken"></span>
                <strong>{{ CloudProjectOpenstackUsersTokenCtrl.generateToken.tokens['X-Auth-Token'] }}</strong>
            </p>
            <p data-ng-if="CloudProjectOpenstackUsersTokenCtrl.tokenGuide.link"
               data-translate="cpou_token_xauthtoken_guide"
               data-translate-values="{ link : CloudProjectOpenstackUsersTokenCtrl.tokenGuide.link }"></p>

            <p class="text-center top-space-m20 bottom-space-m20 orange">
                <i class="fa fa-exclamation-triangle"></i>
                <span data-translate="cpou_token_title_information"></span>
            </p>

            <table class="table table-pretty table-hover table-striped shadow-z-1">
                <thead>
                    <tr>
                        <th data-translate="cpou_token_catalog_region"></th>
                        <th data-translate="cpou_token_catalog_service"></th>
                        <th data-translate="cpou_token_catalog_endpoint"></th>
                    </tr>
                </thead>
                <tbody data-ng-repeat="catalog in CloudProjectOpenstackUsersTokenCtrl.generateToken.tokens.token.catalog">
                    <tr data-ng-repeat="endpoint in catalog.endpoints">
                        <td>{{ endpoint.region }}</td>
                        <td>{{ catalog.type }} </td>
                        <td class="word-break">{{ endpoint.url }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="modal-footer">

        <button type="submit" class="btn btn-primary pull-right"
            data-ng-if="!CloudProjectOpenstackUsersTokenCtrl.generateToken.tokens"
            data-ng-disabled="openStackUserTokenCreationForm.$invalid || CloudProjectOpenstackUsersTokenCtrl.loaders.generateToken"
            data-ng-click="CloudProjectOpenstackUsersTokenCtrl.generate()">
            <i class="glyphicon glyphicon-ok"></i>
            <span data-translate="common_confirm"></span>
            <spinner name="bubbles-fff-ffcd1a-16" data-ng-show="CloudProjectOpenstackUsersTokenCtrl.loaders.generateToken"></spinner>
        </button>

        <button type="reset" class="btn btn-default pull-left"
            data-ng-if="!CloudProjectOpenstackUsersTokenCtrl.generateToken.tokens"
            data-ng-click="CloudProjectOpenstackUsersTokenCtrl.cancel()"
            data-ng-disabled="CloudProjectOpenstackUsersTokenCtrl.loaders.generateToken">
            <i class="glyphicon glyphicon-remove"></i>
            <span data-translate="common_cancel"></span>
        </button>


        <div data-ng-if="CloudProjectOpenstackUsersTokenCtrl.generateToken.tokens"
            class="text-center animate-fadeIn-enter"
            data-ng-hide="VmAddEditCtrl.vmInEdition.hasChange()">
            <button class="btn btn-default" type="reset"
                data-translate="common_close"
                data-ng-click="CloudProjectOpenstackUsersTokenCtrl.close()">
            </button>
        </div>
    </div>
