<cui-modal>
    <cui-modal-header data-on-dismiss="$ctrl.cancel()"></cui-modal-header>
    <form name="MetricsTokenEditForm">
    <cui-modal-body title="'metrics_token_edit_title' | translate">
        <cui-loader data-ng-show="$ctrl.loading"></cui-loader>
        <div data-ng-hide="$ctrl.loading">
            <div data-ng-if="$ctrl.type == 'name'">
                <hr>
                <section>
                  <h3 data-translate="metrics_token_edit_name"></h3>
                  <input class="oui-input" type="text" data-ng-model="$ctrl.value">
                </section>
                <hr>
            </div>
        </div>
    </cui-modal-body>
    <cui-modal-footer>
      <cui-cancel-button 
        data-text="'metrics_token_edit_cancel' | translate"
        data-ng-click="$ctrl.cancel()"></cui-cancel-button>
      <cui-submit-button
        data-text="'metrics_token_edit_confirm' | translate"
        data-ng-click="$ctrl.confirm()"
        data-ng-disabled="MetricsTokenEditForm.$invalid || $ctrl.loading"></cui-submit-button>
    </cui-modal-footer>
    </form>
</cui-modal>
