<section class="cui-page__content">
    <div data-ng-if="$ctrl.backup.loading || $ctrl.info.loading || $ctrl.vps.loading"
         class="text-center">
        <oui-spinner size="l"></oui-spinner>
    </div>

    <div data-ng-if="!$ctrl.info.data.activated && !$ctrl.backup.loading && !$ctrl.vps.loading">
        <p data-ng-if="$ctrl.vps.data.hasBackup" data-translate="vps_tab_backup_not_activated"></p>
        <button class="oui-button oui-button_primary"
                    data-translate="vps_configuration_activate_ftpbackup_title_button"
                    data-ui-sref="iaas.vps.detail.backup-storage.order"
                    data-ng-if="$ctrl.vps.data.hasBackup"></button>
        <p data-ng-if="!$ctrl.vps.data.hasBackup" data-translate="vps_tab_SUMMARY_backups_not_available"></p>
    </div>

    <div data-ng-if="$ctrl.info.data.activated && !$ctrl.info.loading">
        <div data-ng-if="!$ctrl.info.loading">
            <div class="span2 bold" data-translate="vps_tab_backup_storage_name"></div>
            <div class="span10" data-ng-bind="$ctrl.info.data.name"></div>

            <div class="span2 bold" data-translate="vps_tab_backup_storage_login"></div>
            <div class="span10" data-ng-bind="$ctrl.info.data.login"></div>

            <div class="span2 bold" data-translate="vps_tab_backup_storage_usage"></div>
            <div class="span10">
                <div class="oui-progress"
                     data-ng-class="{'oui-progress_success' : $ctrl.info.data.usage.value < 51,
                                    'oui-progress_warning' : $ctrl.info.data.usage.value > 50 && $ctrl.info.data.usage.value < 81,
                                    'oui-progress_error' : $ctrl.info.data.usage.value > 80 }"
                     style="width:250px;">
                     <div class="oui-progress__bar"
                          data-ng-class="{'oui-progress__bar_success' : $ctrl.info.data.usage.value < 51,
                                        'oui-progress__bar_warning' : $ctrl.info.data.usage.value > 50 && $ctrl.info.data.usage.value < 81,
                                        'oui-progress__bar_error' : $ctrl.info.data.usage.value > 80 }"
                          role="progressbar" style="width: {{$ctrl.info.data.usage.value}}%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100">
                        <span class="oui-progress__label">
                            <span data-ng-bind="($ctrl.info.data.usage.value * $ctrl.info.data.quota.value / 100) | bytes:2:false:$ctrl.info.data.quota.unit"></span>/
                            <span data-ng-bind="$ctrl.info.data.quota.value | bytes:2:false:$ctrl.info.data.quota.unit"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <button type="button"
                class="oui-button oui-button_secondary mt-4"
                data-translate="vps_backup_storage_access_add_button"
                data-ng-click="$ctrl.add()"></button>

        <button type="button"
                class="oui-button oui-button_secondary mt-4"
                data-translate="vps_backup_storage_access_forgot_password_button"
                data-ng-click="$ctrl.resetPassword()"></button>

        <oui-table rows="$ctrl.backup.data.list.results"
                   rows-loader="$ctrl.backup.loading">
            <column title="'vps_tab_backup_storage_table_ip' | translate" property="ipBlock" sortable>
                <span data-ng-bind="$row.ipBlock"></span>
            </column>
            <column title="'vps_tab_backup_storage_table_cifs' | translate" property="cifs" sortable>
                <span data-ng-bind="$row.cifs"></span>
            </column>
            <column title="'vps_tab_backup_storage_table_ftp' | translate" property="ftp" sortable>
                <span data-ng-bind="$row.ftp"></span>
            </column>
            <column title="'vps_tab_backup_storage_table_nfs' | translate" property="nfs" sortable>
                <span data-ng-bind="$row.nfs"></span>
            </column>
            <column title="'vps_tab_backup_storage_table_status' | translate"
                    template="$ctrl.activationStatusTemplate()"
                    sortable>
            </column>
            <column title="'common_actions' | translate"
                    class="oui-table__cell_action oui-table__cell_action-menu"
                    template="$ctrl.actionTemplate()">
            </column>
        </oui-table>
    </div>
</section>
