<section class="cui-page__content">
    <div data-ng-if="$ctrl.loaders.init || $ctrl.loaders.disk"
         class="text-center">
        <oui-loader size="l" class="d-inline-block"></oui-loader>
    </div>

    <div data-ng-if="!$ctrl.hasAdditionalDiskOption && !$ctrl.loaders.init && !$ctrl.loaders.disk">
        <span data-translate="vps_tab_additional_disk_not_available"></span>
    </div>

    <div data-ng-if="$ctrl.hasAdditionalDiskOption && !$ctrl.loaders.disk">
        <p data-ng-if="$ctrl.canOrder()" data-translate="vps_tab_additional_disk_count"></p>
        <button class="oui-button oui-button_primary"
                data-translate="vps_additional_disk_add_button"
                data-ng-if="$ctrl.canOrder()"
                data-ui-sref="iaas.vps.detail.additional-disk.order"></button>

        <oui-table data-ng-if="!$ctrl.canOrder()"
                   rows="$ctrl.additionnalDisks"
                   rows-loader="$ctrl.loaders.disk">
            <column title="'vps_tab_additional_disk_header_id' | translate" property="id" sortable>
                <span data-ng-bind="$row.id"></span>
            </column>
            <column title="'vps_tab_additional_disk_header_size' | translate" property="size" sortable>
                <span data-ng-bind="$row.size"></span>
            </column>
            <column title="'vps_tab_additional_disk_header_state' | translate" property="state" sortable>
                <span data-ng-bind="'vps_tab_additional_disk_state_' + $row.state | translate"></span>
            </column>
        </oui-table>
    </div>
</section>
