<cui-modal>
    <cui-modal-header data-on-dismiss="IpLoadBalancerFailoverIpDetailCtrl.dismiss()"></cui-modal-header>
    <cui-modal-body title="'iplb_modal_failover_ip_title' | translate">
        <cui-loader data-ng-if="IpLoadBalancerFailoverIpDetailCtrl.isModalLoading()"></cui-loader>

        <div data-ng-if="!IpLoadBalancerFailoverIpDetailCtrl.isModalLoading()">
            <cui-clipboard data-text="ip" data-ng-repeat="ip in IpLoadBalancerFailoverIpDetailCtrl.ips.data track by $index"></cui-clipboard>
        </div>
    </cui-modal-body>
</cui-modal>
