<cui-modal>
    <cui-modal-header data-on-dismiss="IpLoadBalancerFailoverIpDetailCtrl.dismiss()"></cui-modal-header>
    <cui-modal-body title="'iplb_modal_failover_ip_title' | translate">
        <cui-loader data-ng-if="IpLoadBalancerFailoverIpDetailCtrl.isModalLoading()"></cui-loader>

        <cui-clipboard-list data-ng-if="!IpLoadBalancerFailoverIpDetailCtrl.isModalLoading()">
            <cui-clipboard data-text="ip" data-ng-repeat="ip in IpLoadBalancerFailoverIpDetailCtrl.ips.data track by $index"></cui-clipboard>
        </cui-clipboard-list>

    </cui-modal-body>
    <cui-modal-footer>
        <cui-button data-text="'common_modal_ok' | translate" 
            data-on-click="IpLoadBalancerFailoverIpDetailCtrl.dismiss()"
            type="primary"></cui-submit-button>
    </cui-modal-footer>
</cui-modal>