<oui-message data-type="info" data-ng-if="!$ctrl.loading && !$ctrl.projectHasInstances">
    <span data-translate="cpc_tasks_no_instances"></span>
</oui-message>
<section class="cui-page__content">
    <div class="text-center" data-ng-if="$ctrl.loading">
        <oui-spinner data-size="m"></oui-spinner>
    </div>
    <div data-ng-if="!$ctrl.loading">
        <oui-datagrid data-rows="$ctrl.backups" data-row-loader="$ctrl.getInstanceName($row)" >
            <oui-column data-title=":: 'cpc_tasks_name' | translate" data-property="backupName"></oui-column>
            <oui-column data-title=":: 'cpc_tasks_action' | translate" data-property="action"></oui-column>
            <oui-column data-title=":: 'cpc_tasks_resource' | translate" data-property="instanceName"></oui-column>
            <oui-column data-title=":: 'cpc_tasks_schedule' | translate" data-property="cron"></oui-column>
            <oui-action-menu data-align="end" data-compact>
                <oui-action-menu-item data-text="{{:: 'common_delete' | translate }}"
                                      data-on-click="$ctrl.deleteTask($row)">
                </oui-action-menu-item>
            </oui-action-menu>
            <extra-top>
                <oui-action-menu data-text="{{:: 'common_actions' | translate }}">
                    <oui-action-menu-item data-text="{{:: 'common_add' | translate }}"
                                          data-on-click="$ctrl.$state.go('iaas.pci-project.compute.task.create', { projectId: $ctrl.projectId})"
                                          data-disabled="!$ctrl.projectHasInstances">
                    </oui-action-menu-item>
                </oui-action-menu>
            </extra-top>
        </oui-datagrid>
    </div>
</section>
