<div class="metrics-token-add__header">
    <cui-back-link class="metrics-token-add__header-link"
                   data-state="dbaas.metrics.detail.token"
                   data-state-params="{ serviceName: MetricsTokenAddCtrl.serviceName }">
    </cui-back-link>
    <cui-page-content-title text="'metrics_token_add_token' | translate"></cui-page-content-title>
</div>

<form name="MetricsTokenAddForm">
    <cui-loader data-ng-show="MetricsTokenAddCtrl.loading"></cui-loader>
    <div data-ng-hide="MetricsTokenAddCtrl.loading">
        <hr>

        <div class="oui-field">
            <label for="description" class="oui-field__label oui-label" data-translate="metrics_token_add_name"></label>
            <div class="oui-field__content">
                <div class="oui-field-control oui-field-control_4">
                    <input class="oui-input" type="text" id="description" name="description" 
                           data-ng-model="MetricsTokenAddCtrl.token.description">
                </div>
            </div>
        </div>
        <hr>

        <div class="oui-field">
            <label for="permission" class="oui-field__label oui-label" data-translate="metrics_token_add_permission"></label>
            <div class="oui-field__content">
                <cui-radio-bar data-ng-model="MetricsTokenAddCtrl.token.permission" id="permission" name="permission">
                    <cui-radio-bar-item data-ng-repeat="permission in MetricsTokenAddCtrl.permissions" 
                        data-text="permission.text"
                        data-value="permission.value"></cui-radio-bar-item>
                </cui-radio-bar>
            </div>
        </div>
        <hr>

        <div class="oui-field">
            <label class="oui-field__label oui-label" data-translate="metrics_token_add_labels"></label>
            <div class="oui-field__content" data-ng-repeat="label in MetricsTokenAddCtrl.token.labels">
                <div class="metrics-token-add__labels">
                    <div class="metrics-token-add__labels-item oui-input-formfield">
                        <input class="oui-input" type="text" data-ng-model="label.key" name="key">
                        <label class="oui-label metrics-token-add__labels-item-label" for="key" data-translate="metrics_token_add_labels_key"></label>
                    </div>
                    <div class="metrics-token-add__labels-item oui-input-formfield">
                        <input class="oui-input" type="text" data-ng-model="label.value" name="value">
                        <label class="oui-label metrics-token-add__labels-item-label" for="value" data-translate="metrics_token_add_labels_value"></label>
                    </div>
                    <div class="metrics-token-add__labels-item metrics-token-add__labels-item-action">
                        <div data-ng-show="$last">
                            <button class="oui-button oui-button_secondary"
                                data-ng-click="MetricsTokenAddCtrl.addLabel()">+</button>
                        </div>
                        <div data-ng-show="!$last">
                            <button class="oui-button oui-button_secondary"
                                data-ng-click="MetricsTokenAddCtrl.removeLabel(label)">-</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="cui-form-action metrics-token-add__footer">
            <cui-submit-button 
                data-text="'metrics_token_add_confirmation' | translate"
                data-ng-click="MetricsTokenAddCtrl.confirm()"
                data-ng-disabled="MetricsTokenAddForm.$invalid || MetricsTokenAddCtrl.loading"></cui-submit-button>
            <cui-cancel-button
                data-text="'metrics_token_cancel' | translate"
                data-ng-click="MetricsTokenAddCtrl.cancel()"></cui-cancel-button>
        </div>
    </div>
</form>
