<div class="row cloud-billing-estimate-content">
    <section class="cloud-billing-estimate-summary col-sm-6 col-lg-6">
        <header>
            <h3 data-translate="cpbe_estimate_summary_header" data-translate-values="{ month: $ctrl.constructor.getNextMonth().format('MMMM')}"/>
            <p data-ng-if="!$ctrl.loaders.forecast" class="center-block text-center" data-ng-bind="$ctrl.data.estimateTotals.total.toFixed(2) + $ctrl.data.estimateTotals.currencySymbol"></p>
        </header>
        <div class="text-center" data-ng-if="$ctrl.loaders.forecast">
            <oui-spinner></oui-spinner>
        </div>
        <div data-ng-if="!$ctrl.loaders.forecast">
            <p data-translate="cpbe_estimate_summary_renew_monthly_sub_label"
               data-translate-values="{ total: $ctrl.data.estimateTotals.monthly.total.toFixed(2) + ' ' + $ctrl.data.estimateTotals.currencySymbol }"></p>
            <p data-translate="cpbe_estimate_summary_hourly_consumption_label"
               data-translate-values="{
                   month: $ctrl.constructor.getCurrentMonth().format('MMMM'),
                   total: $ctrl.data.estimateTotals.hourly.total.toFixed(2) + ' ' +  $ctrl.data.estimateTotals.currencySymbol
               }"></p>
        </div>
    </section>
    <section class="cloud-billing-estimate-alert left-space-p8 col-sm-6 col-lg-4 bottom-space-p20">
        <header>
            <h4 data-translate="cpbe_estimate_alert_header_title" class="text-center top-space-p12"></h4>
            <p data-translate="cpbe_estimate_alert_header_description"></p>
        </header>
        <div class="text-center" data-ng-if="$ctrl.loaders.alert">
            <oui-spinner></oui-spinner>
        </div>
        <div data-ng-if="!$ctrl.loaders.alert && !$ctrl.data.alert">
            <div class="text-center">
            <button
                class="oui-button oui-button_primary"
                type="button"
                data-ng-click="$ctrl.openAlertAddModal()"
                data-ng-disabled="false"
                title="{{ :: cpbe_estimate_alert_create | translate }}"
                data-write-right-required>
                <span translate="cpbe_estimate_alert_create"></span>
            </button>
            </div>
        </div>
        <div data-ng-if="!$ctrl.loaders.alert && $ctrl.data.alert">
            <div class="consumption-chart">
                <consumption-chart data-model="$ctrl.consumptionChartData"></consumption-chart>
            </div>
            <div class="text-center top-space-p20" data-write-right-required>
                <oui-spinner data-size="s"
                    data-ng-if="$ctrl.loaders.deleteAlert"></oui-spinner>
                <button
                    class="oui-button oui-button_secondary"
                    type="button"
                    data-ng-click="$ctrl.openAlertAddModal()"
                    data-ng-disabled="$ctrl.loaders.deleteAlert"
                    title="{{ :: cpbe_estimate_alert_edit | translate }}">
                    <span data-translate="cpbe_estimate_alert_edit"></span>
                </button>
                <button class="oui-button oui-button_secondary"
                        type="button"
                        data-ng-click="$ctrl.deleteAlert()"
                        data-ng-disabled="$ctrl.loaders.deleteAlert">
                    <span data-translate="cpbe_estimate_alert_delete"></span>
                </button>
            </div>
        </div>
    </section>
</div>
