/*
 * Since oui-less is still in it's infant stage, we feel the need to override some css.
 * These fixes should try to be in accordance with CX guidelines.
 * These fixes should also aim to be temporary.
 * Try to improve oui-less instead of making these fixes.)
 */

.oui-message {
    max-width: inherit;
}

.oui-table {
    font-size: rem-calc(16);

    &-empty {
        margin-top: rem-calc(20);
        padding: rem-calc(20);
        font-style: italic;
        text-align: center;
        border-radius: @oui-global-base-radius;
        background-color: @oui-color-concrete;
        color: #000;
    }

    &__cell_action-menu {
        width: 80px;

        .tablet({
            width: 100%;

            .cui-dropdown-menu {
                float: right;
            }
        });
    }

    &__cell_component {
        padding-top: 0;
        padding-bottom: 0;
    }
}
