<section class="cda-modal">
    <header class="modal-header">
        <h4 class="h3" data-translate="cda_ip_delete_title"></h4>
    </header>
    <div class="modal-body">
        <dl>
            <dt data-translate="cda_ip_delete_ip_label"></dt>
            <dd data-ng-bind="(CdaIpDeleteCtrl.ip.network) + '/' + (CdaIpDeleteCtrl.ip.netmask)"></dd>
        </dl>
        <p data-translate="cda_ip_delete_confirm"></p>
    </div>

    <div class="modal-footer">
        <button type="button"
                class="btn btn-primary pull-right"
                title="{{ ::'delete' | translate }}"
                data-ng-click="CdaIpDeleteCtrl.deleteIp()"
                data-ng-disabled="CdaIpDeleteCtrl.saving">
            <span data-translate="delete"></span>
            <spinner name="bubbles-fff-ffcd1a-16" data-ng-show="CdaIpDeleteCtrl.saving"></spinner>
        </button>
        <button type="button"
                class="btn btn-default pull-right pull-right right-space-m16"
                title="{{ ::'common_cancel' | translate }}"
                data-ng-click="CdaIpDeleteCtrl.closeModal()"
                data-ng-disabled="CdaIpDeleteCtrl.saving">
            <i class="glyphicon glyphicon-remove"></i>
            <span data-translate="common_cancel"></span>
        </button>
    </div>
</section>
