<section class="cda-modal">
    <header class="modal-header">
        <h4 class="h3" data-translate="cda_pool_add_title"></h4>
    </header>
    <div class="modal-body">
        <form id="addPoolForm" name="addPoolForm" class="ovh-form-flat clearfix cda-form">
            <div>
                <div class="input-group">
                    <label for="poolName" data-translate="cda_pool_add_poolname_label" class="cda-input-label"></label>
                    <input type="text" class="form-control error-animate-shake-light"
                        id="poolName" name="poolName"
                        data-ng-model="CdaPoolAddCtrl.model.poolName"
                        data-ng-maxLength="CdaPoolAddCtrl.options.poolName.maxLength"
                        data-ng-pattern="CdaPoolAddCtrl.options.poolName.pattern"
                        required />
                </div>
                <div class="text-danger" data-ng-messages="addPoolForm.poolName.$error" data-ng-if="addPoolForm.poolName.$dirty">
                    <p class="animate-fadeInLeft-enter animate-fadeOutRight-leave" >
                        <span data-ng-message="required" data-translate="cda_pool_add_poolname_required"></span>
                        <span data-ng-message="maxlength" data-translate="cda_pool_add_poolname_maxlength" data-translate-values="{ maxlength: CdaPoolAddCtrl.options.poolName.maxLength }"></span>
                        <span data-ng-message="pattern" data-translate="cda_pool_add_poolname_pattern"></span>
                    </p>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-primary pull-right"
                title="{{ ::'common_add' | translate }}"
                data-ng-click="addPoolForm.$valid && CdaPoolAddCtrl.createPool()"
                data-ng-disabled="CdaPoolAddCtrl.saving || (addPoolForm.poolName.$error && !addPoolForm.poolName.$valid)"
                form="addPoolForm">
            <span data-translate="common_add"></span>
            <spinner name="bubbles-fff-ffcd1a-16" data-ng-show="CdaPoolAddCtrl.saving"></spinner>
        </button>
        <button type="reset"
                class="btn btn-default pull-right pull-right right-space-m16"
                title="{{ ::'common_cancel' | translate }}"
                data-ng-click="CdaPoolAddCtrl.closeModal()"
                data-ng-disabled="CdaPoolAddCtrl.saving"
                form="addPoolForm">
            <i class="glyphicon glyphicon-remove"></i>
            <span data-translate="common_cancel"></span>
        </button>
    </div>
</section>
