<div ui-view class="cui-page">
    <cui-page-header data-title-text="$ctrl.details.alias !== 'noAlias' ? $ctrl.details.alias : $ctrl.details.serviceName"
                 data-subtitle-text="$ctrl.details.alias !== 'noAlias' ? $ctrl.details.serviceName :''">
    </cui-page-header>
    <div>
        <cui-message-container data-messages="$ctrl.messages"></cui-message-container>
    </div>
    <section class="container-fluid cui-page__content cui-page__content-flex">
        <div class="row d-lg-flex">
            <div class="col-xm-12 col-md-4">
                <oui-tile data-heading="{{::'common_tile_shortcut' | translate}}" class="h-100 oui-tile-h-100">
                    <oui-tile-button
                        data-text="{{::$ctrl.actions.restart.text}}"
                        data-disabled="!$ctrl.actions.restart.isAvailable()" 
                        data-on-click="$ctrl.actions.restart.callback()">
                    </oui-tile-button>
                    <oui-tile-button
                        data-text="{{::$ctrl.actions.changePassword.text}}"
                        data-disabled="!$ctrl.actions.changePassword.isAvailable()" 
                        data-on-click="$ctrl.actions.changePassword.callback()">
                    </oui-tile-button>
                    <oui-tile-button
                        data-text="{{::$ctrl.actions.accessConsole.text}}"
                        data-disabled="!$ctrl.actions.accessConsole.isAvailable()" 
                        data-on-click="$ctrl.actions.accessConsole.callback()">
                    </oui-tile-button>
                    <oui-tile-button 
                        data-text="{{::$ctrl.actions.reinit.text}}"
                        data-disabled="!$ctrl.actions.reinit.isAvailable()"
                        data-on-click="$ctrl.actions.reinit.callback()">
                    </oui-tile-button>
                    <oui-tile-button 
                        data-text="{{::$ctrl.actions.changeOffer.text}}" 
                        data-disabled="!$ctrl.actions.changeOffer.isAvailable()"
                        data-on-click="$ctrl.actions.changeOffer.callback()">
                    </oui-tile-button>
                    <oui-tile-button 
                        data-text="{{::$ctrl.actions.remove.text}}" 
                        data-disabled="!$ctrl.actions.remove.isAvailable()"
                        data-on-click="$ctrl.actions.remove.callback()">
                    </oui-tile-button>
                </oui-tile>

                <!-- <div class="cui-tile h-100">
                    <h4 class="oui-header_4 cui-tile__title" data-translate="common_tile_shortcut"></h4>
                    <ul class="cui-tile__body cui-tile__body_list">
                        <li class="cui-tile__item cui-tile__item_button cui-tile__top-bordered">
                            <button class="oui-button oui-button_link oui-button_icon-right oui-button_full-width cui-tile__button"
                                type="button"
                                data-ng-click="$ctrl.actions.restart.callback()"
                                data-ng-disabled="!$ctrl.actions.restart.isAvailable()">
                                <span data-ng-bind="$ctrl.actions.restart.text"></span>
                                <i class="oui-icon oui-icon-chevron-right" aria-hidden="true"></i>
                            </button>
                        </li>
                        <li class="cui-tile__item cui-tile__item_button cui-tile__top-bordered">
                            <button class="oui-button oui-button_link oui-button_icon-right oui-button_full-width cui-tile__button"
                                type="button"
                                data-ng-click="$ctrl.actions.changePassword.callback()"
                                data-ng-disabled="!$ctrl.actions.changePassword.isAvailable()">
                                <span data-ng-bind="$ctrl.actions.changePassword.text"></span>
                                <i class="oui-icon oui-icon-chevron-right" aria-hidden="true"></i>
                            </button>
                        </li>
                        <li class="cui-tile__item cui-tile__item_button cui-tile__top-bordered">
                            <button class="oui-button oui-button_link oui-button_icon-right oui-button_full-width cui-tile__button"
                                type="button"
                                data-ng-click="$ctrl.actions.accessConsole.callback()"
                                data-ng-disabled="!$ctrl.actions.accessConsole.isAvailable()">
                                <span data-ng-bind="$ctrl.actions.accessConsole.text"></span>
                                <i class="oui-icon oui-icon-chevron-right" aria-hidden="true"></i>
                            </button>
                        </li>
                        <li class="cui-tile__item cui-tile__item_button cui-tile__top-bordered">
                            <button class="oui-button oui-button_link oui-button_icon-right oui-button_full-width cui-tile__button"
                                type="button"
                                data-ng-click="$ctrl.actions.reinit.callback()"
                                data-ng-disabled="!$ctrl.actions.reinit.isAvailable()">
                                <span data-ng-bind="$ctrl.actions.reinit.text"></span>
                                <i class="oui-icon oui-icon-chevron-right" aria-hidden="true"></i>
                            </button>
                        </li>
                        <li class="cui-tile__item cui-tile__item_button cui-tile__top-bordered">
                            <button class="oui-button oui-button_link oui-button_icon-right oui-button_full-width cui-tile__button"
                                type="button"
                                data-ng-click="$ctrl.actions.changeOffer.callback()"
                                data-ng-disabled="!$ctrl.actions.changeOffer.isAvailable()">
                                <span data-ng-bind="$ctrl.actions.changeOffer.text"></span>
                                <i class="oui-icon oui-icon-chevron-right" aria-hidden="true"></i>
                            </button>
                        </li>
                        <li class="cui-tile__item cui-tile__item_button cui-tile__top-bordered">
                            <button class="oui-button oui-button_link oui-button_icon-right oui-button_full-width cui-tile__button"
                                type="button"
                                data-ng-click="$ctrl.actions.remove.callback()"
                                data-ng-disabled="!$ctrl.actions.remove.isAvailable()">
                                <span data-ng-bind="$ctrl.actions.remove.text"></span>
                                <i class="oui-icon oui-icon-chevron-right" aria-hidden="true"></i>
                            </button>
                        </li>
                    </ul>
                </div> -->
            </div>
            <div class="col-xm-12 col-md-4">
                <oui-tile 
                    data-heading="{{::'common_tile_subscription' | translate}}"
                    data-loading="$ctrl.flags.init.serviceInfos || $ctrl.flags.init.details"
                    class="h-100 oui-tile-h-100">
                    <oui-tile-definition ng-if="$ctrl.flags.init.serviceInfos || $ctrl.flags.init.details">
                        <oui-tile-description>
                            <oui-skeleton randomized></oui-skeleton>
                            <oui-skeleton randomized></oui-skeleton>
                            <oui-skeleton randomized></oui-skeleton>
                            <oui-skeleton randomized></oui-skeleton>
                            <oui-skeleton randomized></oui-skeleton>
                            <oui-skeleton randomized></oui-skeleton>
                            <oui-skeleton randomized></oui-skeleton>
                        </oui-tile-description>
                    </oui-tile-definition>
                    <div ng-if="!($ctrl.flags.init.serviceInfos || $ctrl.flags.init.details)">
                        <oui-tile-definition
                            data-ng-if="$ctrl.services.offer" 
                            data-term="{{::'common_tile_subscription_offer' | translate}}">
                            <oui-tile-description>{{$ctrl.services.offer}}</oui-tile-description>
                            <oui-action-menu data-compact align="end" data-ng-if="$ctrl.actions.changeOffer.isAvailable()">
                                <oui-action-menu-item data-text="{{::$ctrl.actions.changeOffer.text}}"
                                    data-aria-label="{{::$ctrl.actions.changeOffer.text}}"
                                    data-on-click="$ctrl.actions.changeOffer.callback()">
                                </oui-action-menu-item>
                            </oui-action-menu>
                        </oui-tile-definition>
                        <oui-tile-definition
                            data-term="{{($ctrl.services.renew.forced || $ctrl.services.renew.automatic) ? 'common_tile_subscription_autorenew' : 'common_tile_subscription_expiration_date' | translate}}">
                            <oui-tile-description>{{$ctrl.services.expiration | momentFormat:'LL'}}</oui-tile-description>
                            <oui-action-menu data-compact align="end" data-ng-if="$ctrl.actions.manageAutorenew.isAvailable()">
                                <oui-action-menu-item data-text="{{::$ctrl.actions.manageAutorenew.text}}"
                                    data-aria-label="{{::$ctrl.actions.manageAutorenew.text}}"
                                    data-href="{{$ctrl.actions.manageAutorenew.href}}"
                                    external>
                                </oui-action-menu-item>
                            </oui-action-menu>
                        </oui-tile-definition>
                        <oui-tile-definition
                            data-term="{{::'common_tile_subscription_contact' | translate}}">
                            <oui-tile-description>
                                <span data-ng-bind="$ctrl.services.contactAdmin"></span>
                                <small data-translate="common_tile_subscription_contact_admin"></small>
                            </oui-tile-description>
                            <oui-tile-description>
                                <div>
                                <span data-ng-bind="$ctrl.services.contactBilling"></span>
                                <small data-translate="common_tile_subscription_contact_billing"></small>
                                </div>
                            </oui-tile-description>
                            <oui-tile-description>
                                <div>
                                <span data-ng-bind="$ctrl.services.contactTech"></span>
                                <small data-translate="common_tile_subscription_contact_technical"></small>
                                </div>
                            </oui-tile-description>
                            <oui-action-menu data-compact align="end" data-ng-if="$ctrl.actions.manageContact.isAvailable()">
                                <oui-action-menu-item data-text="{{::$ctrl.actions.manageContact.text}}"
                                    data-aria-label="{{::$ctrl.actions.manageContact.text}}"
                                    data-href="{{::$ctrl.actions.manageContact.href}}"
                                    external>
                                </oui-action-menu-item>
                            </oui-action-menu>
                        </oui-tile-definition>
                        <oui-tile-definition
                            data-term="{{::'common_tile_subscription_creation_date' | translate}}">
                            <oui-tile-description>{{$ctrl.services.creation | momentFormat:'LL'}}</oui-tile-description>
                        </oui-tile-definition>
                    </div>
                </oui-tile>
            </div>

           
            <!-- <cui-tile-subscription class="h-100"
                data-loading="$ctrl.flags.init.serviceInfos || $ctrl.flags.init.details"
                data-subscription-info="$ctrl.services"
                data-offer-actions="$ctrl.actions.changeOffer"
                data-autorenew-actions="$ctrl.actions.manageAutorenew"
                data-contact-actions="$ctrl.actions.manageContact"></cui-tile-subscription> -->
           
            <div class="col-xm-12 col-md-4">
                <oui-tile 
                    data-heading="{{::'common_tile_infos' | translate}}"
                    data-loading="$ctrl.flags.initializing()"
                    class="h-100 oui-tile-h-100">
                    <oui-tile-definition ng-if="$ctrl.flags.initializing()">
                        <oui-tile-description>
                            <oui-skeleton randomized></oui-skeleton>
                            <oui-skeleton randomized></oui-skeleton>
                            <oui-skeleton randomized></oui-skeleton>
                            <oui-skeleton randomized></oui-skeleton>
                            <oui-skeleton randomized></oui-skeleton>
                            <oui-skeleton randomized></oui-skeleton>
                            <oui-skeleton randomized></oui-skeleton>
                        </oui-tile-description>
                    </oui-tile-definition>
                    <div ng-if="!($ctrl.flags.initializing())">
                        <oui-tile-definition
                            data-term="{{::'common_tile_information_status' | translate}}">
                            <oui-tile-description>{{$ctrl.services.status}}</oui-tile-description>
                        </oui-tile-definition>
                        <oui-tile-definition
                            data-term="{{::'vdi_label_username' | translate}}">
                            <oui-tile-description>{{$ctrl.user.name}}</oui-tile-description>
                        </oui-tile-definition>
                        <oui-tile-definition
                            data-term="{{::'vdi_label_email' | translate}}">
                            <oui-tile-description>{{$ctrl.user.email}}</oui-tile-description>
                        </oui-tile-definition>
                        <oui-tile-definition
                            data-term="{{::'vdi_label_ip' | translate}}">
                            <oui-tile-description>
                                <oui-clipboard data-model="$ctrl.details.ip"></oui-clipboard>
                            </oui-tile-description>
                        </oui-tile-definition>
                        <oui-tile-definition
                            data-term="{{::'vdi_label_connection' | translate}}">
                            <oui-tile-description>
                                <a data-ng-href="{{ $ctrl.details.url }}" data-ng-bind="$ctrl.details.url" target="_blank"></a>
                            </cui-clipboard></oui-tile-description>
                        </oui-tile-definition>
                    </div>
                </oui-tile>

                <!-- <cui-tile class="h-100"
                    data-title="'common_tile_infos' | translate"
                    data-loading="$ctrl.flags.initializing()">
                    <cui-tile-body>
                        <cui-tile-item class="cui-tile__top-bordered"
                                       data-term="'common_tile_information_status' | translate"
                                       data-description="$ctrl.services.status">
                        </cui-tile-item>
                        <cui-tile-item class="cui-tile__top-bordered"
                                       data-term="'vdi_label_username' | translate"
                                       data-description="$ctrl.user.name">
                        </cui-tile-item>
                        <cui-tile-item class="cui-tile__top-bordered"
                                       data-term="'vdi_label_email' | translate"
                                       data-description="$ctrl.user.email">
                        </cui-tile-item>
                        <cui-tile-item class="cui-tile__top-bordered">
                            <cui-tile-definitions>
                                <cui-tile-definition-term data-term="'vdi_label_ip' | translate"></cui-tile-definition-term>
                                <cui-tile-definition-description>
                                    <cui-clipboard data-text="$ctrl.details.ip"></cui-clipboard>
                                </cui-tile-definition-description>
                            </cui-tile-definitions>
                        </cui-tile-item>
                        <cui-tile-item class="cui-tile__top-bordered">
                            <cui-tile-definitions>
                                <cui-tile-definition-term data-term="'vdi_label_connection' | translate"></cui-tile-definition-term>
                                <cui-tile-definition-description>
                                    <a data-ng-href="{{ $ctrl.details.url }}" data-ng-bind="$ctrl.details.url" target="_blank"></a>
                                </cui-tile-definition-description>
                            </cui-tile-definitions>
                        </cui-tile-item>
                    </cui-tile-body>
                </cui-tile> -->
            </div>
        </div>
        <div class="row d-lg-flex">
            <div class="col-xm-12 col-md-4">
                <oui-tile 
                    data-heading="{{::'common_tile_configuration' | translate}}"
                    data-loading="$ctrl.flags.initializing()"
                    class="h-100 oui-tile-h-100">
                    <oui-tile-definition ng-if="$ctrl.flags.initializing()">
                        <oui-tile-description>
                            <oui-skeleton randomized></oui-skeleton>
                            <oui-skeleton randomized></oui-skeleton>
                            <oui-skeleton randomized></oui-skeleton>
                            <oui-skeleton randomized></oui-skeleton>
                            <oui-skeleton randomized></oui-skeleton>
                            <oui-skeleton randomized></oui-skeleton>
                            <oui-skeleton randomized></oui-skeleton>
                        </oui-tile-description>
                    </oui-tile-definition>
                    <div ng-if="!($ctrl.flags.initializing())">
                        <oui-tile-definition
                            data-term="{{::'vdi_label_alias' | translate}}">
                            <oui-tile-description data-ng-bind="$ctrl.details.displayName"></oui-tile-description>
                            <oui-action-menu data-compact align="end" data-ng-if="$ctrl.actions.changeAlias.isAvailable()">
                                <oui-action-menu-item data-text="{{$ctrl.actions.changeAlias.text}}"
                                    data-aria-label="{{::$ctrl.actions.changeAlias.text}}"
                                    data-on-click="$ctrl.actions.changeAlias.callback()">
                                </oui-action-menu-item>
                            </oui-action-menu>
                        </oui-tile-definition>
                        <oui-tile-definition
                            data-term="{{::'vdi_label_os' | translate}}">
                            <oui-tile-description>{{$ctrl.details.os}}</oui-tile-description>
                        </oui-tile-definition>
                        <oui-tile-definition
                            data-term="{{::'vdi_label_vcpu' | translate}}">
                            <oui-tile-description>{{$ctrl.details.vcpu}}</oui-tile-description>
                        </oui-tile-definition>
                        <oui-tile-definition
                            data-term="{{::'vdi_label_ram' | translate}}">
                            <oui-tile-description>
                                <oui-tile-description>{{$ctrl.details.ram.value + ' ' + $ctrl.details.ram.unit}}</oui-tile-description>
                            </oui-tile-description>
                        </oui-tile-definition>
                        <oui-tile-definition
                            data-term="{{::'vdi_label_data' | translate}}">
                            <oui-tile-description>{{$ctrl.details.dataDisk.value + ' ' + $ctrl.details.dataDisk.unit}}</oui-tile-description>
                        </oui-tile-definition>
                    </div>
                </oui-tile>
                <!-- <cui-tile class="h-100"
                    data-title="'common_tile_configuration' | translate"
                    data-loading="$ctrl.flags.initializing()">
                    <cui-tile-body>
                        <cui-tile-item class="cui-tile__top-bordered"
                                       data-term="'vdi_label_alias' | translate"
                                       data-description="$ctrl.details.displayName"
                                       data-actions="$ctrl.actions.changeAlias">
                        </cui-tile-item>
                        <cui-tile-item class="cui-tile__top-bordered"
                                       data-term="'vdi_label_os' | translate"
                                       data-description="$ctrl.details.os">
                        </cui-tile-item>
                        <cui-tile-item class="cui-tile__top-bordered"
                                       data-term="'vdi_label_vcpu' | translate"
                                       data-description="$ctrl.details.vcpu">
                        </cui-tile-item>
                        <cui-tile-item class="cui-tile__top-bordered"
                                       data-term="'vdi_label_ram' | translate"
                                       data-description="$ctrl.details.ram.value + ' ' + $ctrl.details.ram.unit">
                        </cui-tile-item>
                        <cui-tile-item class="cui-tile__top-bordered"
                                       data-term="'vdi_label_data' | translate"
                                       data-description="$ctrl.details.dataDisk.value + ' ' + $ctrl.details.dataDisk.unit">
                        </cui-tile-item>
                    </cui-tile-body>
                </cui-tile> -->
            </div>
            <div class="col-xm-12 col-md-8">
                <oui-tile 
                    data-heading="{{::'vdi_task_current' | translate}}"
                    class="h-100 oui-tile-h-100">
                    <oui-datagrid data-rows="$ctrl.tasksHandler.cleanTasks">
                        <oui-column data-title="'vdi_task_id' | translate" data-property="taskId" data-sortable="asc"></oui-column>
                        <oui-column data-title="'vdi_task_name' | translate" data-property="displayName" data-sortable></oui-column>
                        <oui-column data-title="'vdi_task_state' | translate" data-property="displayState" data-sortable></oui-column>
                        <oui-column data-title="'vdi_task_modification_date' | translate" data-property="lastModificationDate" data-sortable>
                            {{ $row.lastModificationDate | momentFormat:'LLL' }}
                        </oui-column>
                        <oui-column data-title="'common_progress' | translate" data-property="progress" data-sortable class="oui-table__cell_component">
                            <cui-task-progress data-task="$row"></cui-task-progress>
                        </oui-column>
                    </oui-datagrid>
                </oui-tile>
                <!-- <div class="cui-tile h-100">
                    <h4 class="oui-header_4 cui-tile__title" data-translate="vdi_task_current"></h4>
                    <div class="cui-tile__body cui-tile__body_custom cui-tile__body_custom-spaced">
                        <oui-datagrid data-rows="$ctrl.tasksHandler.cleanTasks">
                            <oui-column data-title="'vdi_task_id' | translate" data-property="taskId" data-sortable="asc"></oui-column>
                            <oui-column data-title="'vdi_task_name' | translate" data-property="displayName" data-sortable></oui-column>
                            <oui-column data-title="'vdi_task_state' | translate" data-property="displayState" data-sortable></oui-column>
                            <oui-column data-title="'vdi_task_modification_date' | translate" data-property="lastModificationDate" data-sortable>
                                {{ $row.lastModificationDate | momentFormat:'LLL' }}
                            </oui-column>
                            <oui-column data-title="'common_progress' | translate" data-property="progress" data-sortable class="oui-table__cell_component">
                                <cui-task-progress data-task="$row"></cui-task-progress>
                            </oui-column>
                        </oui-datagrid>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
</div>
