<div class="cloud-project-compute">
    <!-- init loading... -->
    <div data-ng-if="CloudProjectComputeCtrl.loading" class="text-center" style="margin-top: 200px;">
        <spinner name="bubbles-222-fff-32"></spinner>
    </div>
    <div class="cloud-project-compute-content" data-ng-if="!CloudProjectComputeCtrl.loading">
        <cui-page-header data-cloud-project-title="CloudProjectComputeCtrl.serviceName" 
                         data-subtitle-text="CloudProjectComputeCtrl.serviceName">
            <cui-tabs>
                <cui-tab data-text="'cpc_tab_infra'|translate" 
                         data-state="iaas.pci-project.compute.infrastructure"
                         data-state-params="{ serviceName: CloudProjectComputeCtrl.serviceName }"></cui-tab>
                <cui-tab data-text="'cpc_tab_snapshot'|translate" 
                         data-state="iaas.pci-project.compute.snapshot"
                         data-state-params="{ serviceName: CloudProjectComputeCtrl.serviceName }"></cui-tab>
                <cui-tab data-text="'cpc_tab_volume'|translate" 
                         data-state="iaas.pci-project.compute.volume"
                         data-state-params="{ serviceName: CloudProjectComputeCtrl.serviceName }"></cui-tab>
                <cui-tab data-text="'cpc_tab_ssh'|translate" 
                         data-state="iaas.pci-project.compute.ssh"
                         data-state-params="{ serviceName: CloudProjectComputeCtrl.serviceName }"></cui-tab>
            </cui-tabs>
        </cui-page-header>

        <div class="cloud-compute-content-ctnr-responsive">
            <div ui-view="cloudProjectCompute" class="cloud-compute-content-ctnr"></div>
        </div>

    </div>

</div>

<div class="highlighed-element-overlay animated-300 fadeIn" data-highlighed-element="compute"></div>
