<div class="cloud-project-compute cui-page">
    <!-- init loading... -->
    <div data-ng-if="CloudProjectComputeCtrl.loading" class="text-center" style="margin-top: 200px;">
        <oui-loader size="l" class="d-inline-block"></oui-loader>
    </div>
    <div class="cloud-project-compute-content" data-ng-if="!CloudProjectComputeCtrl.loading">
        <cui-page-header data-cloud-project-title="CloudProjectComputeCtrl.serviceName"
                         data-subtitle-text="CloudProjectComputeCtrl.serviceName">
            <cui-tabs>
                <cui-tab data-text="'cpc_tab_infra'|translate"
                         data-state="iaas.pci-project.compute.infrastructure"
                         data-state-params="{ serviceName: CloudProjectComputeCtrl.serviceName }"></cui-tab>
                <cui-tab data-text="'cpc_tab_snapshot'|translate"
                         data-state="iaas.pci-project.compute.snapshot"
                         data-state-params="{ serviceName: CloudProjectComputeCtrl.serviceName }"></cui-tab>
                <cui-tab data-text="'cpc_tab_volume'|translate"
                         data-state="iaas.pci-project.compute.volume"
                         data-state-params="{ serviceName: CloudProjectComputeCtrl.serviceName }"></cui-tab>
                <cui-tab data-text="'cpc_tab_ssh'|translate"
                         data-state="iaas.pci-project.compute.ssh"
                         data-state-params="{ serviceName: CloudProjectComputeCtrl.serviceName }"></cui-tab>
                <cui-tab data-text="'cpc_tab_loadbalancer'|translate"
                         data-state="iaas.pci-project.compute.loadbalancer"
                         data-state-params="{ serviceName: CloudProjectComputeCtrl.serviceName }"></cui-tab>
            </cui-tabs>
        </cui-page-header>

        <div class="cloud-compute-content-ctnr-responsive">
            <div>
                <cui-message-container data-messages="CloudProjectComputeCtrl.messages"
                                       data-grouped-types="['warning', 'info']"
                                       data-dismissable-types="['warning', 'info']"></cui-message-container>
            </div>
            <div ui-view="cloudProjectCompute"></div>
        </div>

    </div>

</div>

<div class="highlighed-element-overlay animated-300 fadeIn" data-highlighed-element="compute"></div>
