<div class="text-center cloud-billing-consumption-current-spinner-ctnr" data-ng-if="$ctrl.loading">
    <oui-spinner></oui-spinner>
</div>
<div class="cloud-billing-consumption-current" data-ng-if="!$ctrl.loading">
    <div class="row cloud-billing-consumption-content">
        <section class="col-lg-5 cloud-billing-consumption-monthly">
            <header>
                <h3 data-translate="cpbc_monthly_header"></h3>
                <span class="cloud-billing-total">{{ $ctrl.data.totals.monthly.total.toFixed(2) + " " + $ctrl.data.totals.currencySymbol }}</span>
            </header>
            <monthly-resource-list resources="$ctrl.data"></monthly-resource-list>
        </section>
        <section class="col-lg-6 cloud-billing-consumption-hourly">
            <header>
                <h3 data-translate="cpbc_hourly_header"></h3>
                <span class="cloud-billing-total" data-ng-bind="$ctrl.consumption.hourly.price.text"></span>
            </header>
            <hourly-resource-list resources="$ctrl.consumption.hourly"
                                  show-switch-to-monthly-billing-option="true"
                                  data-group-snapshots-by-region="!$ctrl.projectUsesAgora">
            </hourly-resource-list>
        </section>
    </div>
</div>

