<div class="oui-modal oui-modal_shadow">
    <div class="oui-modal__header">
        <button
            class="oui-icon oui-icon-close_thin oui-modal__close-button"
            type="button"
            aria-label="Exit"
            ng-click="ctrl.cancel()">
        </button>
    </div>
    <form novalidate name="ctrl.form">
        <div class="oui-modal__body oui-modal__body_no-icon">
            <div class="oui-modal__body-text">
                <h2 class="oui-modal__title" data-translate="logs_home_account_title"></h2>
                <oui-spinner size="s" data-ng-if="ctrl.accountDetails.loading"></oui-spinner>
                <p class="oui-paragraph" data-ng-if="!ctrl.accountDetails.loading" data-translate="logs_home_account_description" data-translate-values="{displayName: ctrl.displayName}"></p>            
                <div class="oui-field" data-ng-if="!ctrl.accountDetails.loading" data-ng-class="{'oui-field_error': ctrl.form.$submitted && ctrl.form.display_name.$invalid}">
                    <label for="display_name" class="oui-label" data-translate="logs_home_account_display_name_field"></label>
                    <div class="oui-field__content">
                        <div class="oui-field-control oui-field-control_4">
                            <input type="text" id="display_name" name="display_name"
                                class="oui-input" 
                                data-ng-model="ctrl.accountDetails.data.service.displayName"
                                data-ng-class="{'oui-input_error': ctrl.form.$submitted && ctrl.form.display_name.$invalid}"
                                data-ng-maxlength="ctrl.LogsHomeAccountConstant.DISPLAY_NAME_MAX_LENGTH"
                                autofocus/>
                        </div>
                    </div>                
                </div>
            </div>
            <div class="oui-modal__footer" data-ng-if="!ctrl.accountDetails.loading">
                <oui-spinner data-ng-if="ctrl.saving.loading"></oui-spinner>
                <div data-ng-if="!ctrl.saving.loading">
                    <button type="button"
                        class="oui-button oui-button_secondary"
                        data-translate="common_cancel"
                        data-ng-click="ctrl.cancel()">
                    </button>
                    <button type="submit"
                        class="oui-button oui-button_primary"
                        data-translate="common_save"
                        data-ng-click="ctrl.updateDisplayName()">
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
