<div id="cloud_project_storage">
    <div data-ng-include="'app/cloud/project/storage/storage-header.html'"></div>

    <div>
        <cui-message-container data-messages="messages"></cui-message-container>
    </div>

    <div class="col-xs-12" data-ng-if="storages !== null">
        <div class="top-space-m20 bottom-space-m10">
            <a class="ovh-button ovh-button_primary"
               data-ui-sref="iaas.pci-project.storage.add-container"
               write-right-required>
                {{ 'storage_add_button'|translate }}
            </a>
            <guide-component class="pull-right" data-guides="guides"></guide-component>
        </div>
    </div>

    <div class="col-xs-12">
        <div>
            <cloud-search data-on-search="search" data-on-clear="showAll" class="pull-right" data-ng-if="storages.length > 0"> </cloud-search>
            <h3>
                <span class="main-color" data-translate="storage_title"></span>
                <spinner data-ng-show="loaders.storages"> </spinner>
            </h3>
        </div>

        <promise-task-state></promise-task-state>

        <!-- error -->
        <div class="row" data-ng-if="!loaders.storages && storages === null">
            <div class="col-xs-12">
                <div class="alert alert-danger text-center">
                    <p class="bold"><i class="fa fa-bug"></i> <span data-translate="storage_load_error"></span></p>
                </div>
            </div>
        </div>

        <div class="callout callout-warning"
             data-ng-if="!loaders.storages && storages.length === 0">

            <h3>
                <i class="icn-ra-storage-add"></i><span class="main-color" data-translate="storage_no_storage_title"></span>
            </h3>

            <p data-translate="storage_no_storage"></p>
        </div>

        <div class="table-responsive-vertical shadow-z-1" data-ng-if="!loaders.storages &&  storages.length > 0">
          <div data-ng-include="'app/cloud/project/storage/storage-containers/table.html'"></div>
        </div>

        <div class="table-pretty-pagination bottom-space-m20"
             data-ng-show="!loaders.storagesFiltered && storagesFiltered.length > 5"
             data-pagination-front
             data-items="storagesFiltered"
             data-paginated-items="storagesPaginated"
             data-current-page="currentPage"
             data-nb-pages="nbPages"
             data-items-per-page="filesPerPage"
             data-page-placeholder="{{ 'common_pagination_page' | translate:{currentPage: currentPage, nbPages : nbPages} }}"
             data-item-per-page-placeholder="{{ 'common_pagination_display' | translate }}"></div>
        </div>
    </div>
</div>
