<cui-modal>
    <form novalidate name="form">
        <cui-modal-header data-on-dismiss="DeskaasGetConsoleAccessCtrl.cancel()"></cui-modal-header>
        <cui-modal-body title="'vdi_pwd_title' | translate">
            <oui-spinner data-ng-if="vm.flags.init"></oui-spinner>
            <div data-ng-if="!vm.flags.init">
                <div>
                    <ul>
                        <li data-translate="vdi_pwd_policy_length" data-translate-values="{min : vm.policies.minLength, max : vm.policies.maxLength}"></li>
                        <li data-translate="vdi_pwd_policy_letterMandatory" data-ng-if="vm.policies.letterMandatory"></li>
                        <li data-translate="vdi_pwd_policy_lowerMandatory" data-ng-if="vm.policies.lowercaseLetterMandatory"></li>
                        <li data-translate="vdi_pwd_policy_upperMandatory" data-ng-if="vm.policies.uppercaseLetterMandatory"></li>
                        <li data-translate="vdi_pwd_policy_digitMandatory" data-ng-if="vm.policies.digitMandatory"></li>
                        <li data-translate="vdi_pwd_policy_specialMandatory" data-ng-if="vm.policies.specialMandatory"></li>
                        <li data-translate="vdi_pwd_policy_deniedChars" data-translate-values="{chars : vm.policies.deniedCharsString}"></li>
                    </ul>
                </div>
                <div class="oui-field">
                    <label for="password" class="oui-field__label oui-label" data-translate="vdi_pwd_password_label"></label>
                    <div class="oui-field__content">
                        <div class="oui-field-control oui-field-control_4">
                            <input data-ng-class="{ 'oui-input_error': form.$submitted && form.vdi-new-password.$invalid }"
                                id="vdi-new-password"
                                name="password"
                                class="oui-input"
                                data-ng-model="vm.values.password"
                                data-ng-pattern="vm.policies.pattern"
                                data-ng-disabled="vm.values.generatePwd"
                                required
                                cui-password />
                        </div>
                    </div>
                </div>
                <div class="oui-checkbox">
                    <input class="oui-checkbox__input" id="vdi-gen-password" type="checkbox"
                        data-ng-model="vm.values.generatePwd">
                    <label class="oui-checkbox__label-container" for="vdi-gen-password">
                        <span class="oui-checkbox__label" data-translate="vdi_pwd_password_generated"></span>
                        <span class="oui-checkbox__icon">
                            <i class="oui-icon oui-icon-checkbox-unchecked" aria-hidden="true"></i>
                            <i class="oui-icon oui-icon-checkbox-checked" aria-hidden="true"></i>
                            <i class="oui-icon oui-icon-checkbox-checkmark" aria-hidden="true"></i>
                        </span>
                    </label>
                </div>
            </div>
        </cui-modal-body>
        <cui-modal-footer>
            <cui-cancel-button data-text="'common_modal_cancel' | translate"
                data-on-click="vm.cancel()"></cui-cancel-button>
            <cui-submit-button data-text="'common_modal_ok' | translate"
                data-disabled="vm.flags.init || !(vm.values.generatePwd || form.$valid)"
                data-on-click="vm.ok()"></cui-submit-button>
        </cui-modal-footer>
    </form>
</cui-modal>
