<div class="deskaas-modal">

    <div class="white title">
        <h1 data-translate="vdi_pwd_title"></h1>
    </div>

    <div class="loading" data-ng-if="vm.flags.init">
        <i class="fa fa-refresh fa-spin fa-3x"></i>
        <h3 data-translate="common_loading"></h3>
    </div>

    <div data-ng-show="!vm.flags.init">

        <div class="top-space-m8">
            <ul class="policies">
                <li data-translate="vdi_pwd_policy_length" data-translate-values="{min : vm.policies.minLength, max : vm.policies.maxLength}"></li>
                <li data-translate="vdi_pwd_policy_letterMandatory" data-ng-if="vm.policies.letterMandatory"></li>
                <li data-translate="vdi_pwd_policy_lowerMandatory" data-ng-if="vm.policies.lowercaseLetterMandatory"></li>
                <li data-translate="vdi_pwd_policy_upperMandatory" data-ng-if="vm.policies.uppercaseLetterMandatory"></li>
                <li data-translate="vdi_pwd_policy_digitMandatory" data-ng-if="vm.policies.digitMandatory"></li>
                <li data-translate="vdi_pwd_policy_specialMandatory" data-ng-if="vm.policies.specialMandatory"></li>
                <li data-translate="vdi_pwd_policy_deniedChars" data-translate-values="{chars : vm.policies.deniedCharsString}"></li>
            </ul>
        </div>

        <form novalidate class="simple-form" name="form">

            <div class="top-space-m8">
                <label for="vdi-new-password" data-translate="vdi_pwd_password_label"></label>
                <input type="password" id="vdi-new-password"
                    class="form-control"
                    data-ng-model="vm.values.password"
                    data-ng-pattern="vm.policies.pattern"
                    data-ng-disabled="vm.values.generatePwd" required />
            </div>

            <div class="top-space-m8 checkbox-container">
                <input type="checkbox" id="vdi-gen-password" class="form-control" data-ng-model="vm.values.generatePwd" />
                <label for="vdi-gen-password" class="checkbox-text" data-translate="vdi_pwd_password_generated"></label>
            </div>

        </form>

    </div>

    <div class="modal-footer">

        <button type="button" class="btn btn-primary"
            ng-click="vm.ok()"
            ng-disabled="vm.flags.init || !(vm.values.generatePwd || form.$valid)"
            data-translate="ok"></button>
        <button type="button" class="btn btn-default"
            ng-click="vm.cancel()"
            data-translate="cancel"></button>

    </div>

</div>