<div>

    <div data-ng-include="'app/cloud/project/storage/storage-header.html'"></div>

    <div class="col-xs-12" data-ng-init="getPage();">
        <div class="top-space-m20 bottom-space-m20">
            <a class="cloud-button cloud-button_link" data-ui-sref="iaas.pci-project.storage">
                <span class="glyphicon glyphicon-arrow-left"></span>
                <span data-translate="common_back" translate="storage_add_button_return"></span>
            </a>

            <button type="button"
                class="cloud-button cloud-button_primary"
                data-ng-click="addObjects()"
                data-ng-disabled="errors.notdefined || errors.notfound"
                write-right-required>
                    <i class="glyphicon glyphicon-plus right-space-m8"></i>
                    {{ 'storage_object_add_multiple' | translate }}
            </button>
            <guide-component class="pull-right" data-guides="guides"></guide-component>
        </div>

        <div>
            <h3>
                <span class="main-color" data-translate="storage_object_title"></span> <small> - {{storage.name }}</small>
                <spinner data-ng-show="loaders.details"> </spinner>
            </h3>
        </div>

        <div class="container-infos rows clearfix" data-ng-if="!loaders.details && !errors.notfound && !errors.notdefined.notdefined && !errors.notfound && !errors.notdefined.notfound">
            <div class="pull-left" data-ng-if="storage.shortcut">
                <img class="storage-details-logo" data-ng-src="assets/images/add/storage/{{ storage.shortcut }}.svg" />
            </div>
            <dl class="container-infos-list" data-ng-class="{ 'container-infos-list_no-icon': !storage.shortcut }">
                    <dd class="container-infos-list-item">
                        <span class="container-infos-list-item-label" data-translate="storage_nb_objects"></span>{{ objects.length }}
                    </dd>
                    <dd class="container-infos-list-item">
                        <span class="container-infos-list-item-label" data-translate="storage_container_size"></span>{{ computeStorageSize() | showByte }}
                    </dd>
                    <dd class="container-infos-list-item" data-ng-show="url">
                        <span class="container-infos-list-item-label" data-ng-show="url" data-translate="storage_container_url"></span>
                        <span class="container-infos-list-item-label word-wrap" data-uib-tooltip="{{ :: 'storage_container_url_info' | translate }}">
                            {{ url }}
                            <i class="glyphicon glyphicon-question-sign pointer"></i>
                        </span>
                    </dd>
                    <dd class="container-infos-list-item" data-ng-if="storage.shortcut == 'swift_cname'">
                            <span class="container-infos-list-item-label" data-translate="storage_static_url"></span>
                            {{ storage.staticUrl }}
                            <i class="glyphicon glyphicon-question-sign pointer" data-ng-click="openDNSHelp()" />
                    </dd>
                    <div data-ng-if="storage.shortcut === 'pca'" data-ng-include="'app/cloud/project/storage/storage-details/pca-connection-info.html'"></div>
            </dl>
        </div>

        <promise-task-state></promise-task-state>

        <div class="callout callout-error" data-ng-if="errors.notfound">
            <h3 data-translate="storage_details_not_found"></h3>
        </div>

        <div class="callout callout-error" data-ng-if="errors.notdefined">
            <h3 data-translate="storage_details_not_defined"></h3>
        </div>

        <div class="callout callout-warning"
             data-ng-if="objects.length == 0 && !loaders.details && !errors.notfound && !errors.notdefined">
            <h3 data-translate="storage_no_files_title"></h3>
            <p data-translate="storage_no_files"></p>

        </div>

        <div class="table-responsive-vertical shadow-z-1">
            <div data-ng-if="storage.shortcut !== 'pca'" data-ng-include="'app/cloud/project/storage/storage-details/pcs-table.html'"></div>
            <div data-ng-if="storage.shortcut === 'pca'" data-ng-include="'app/cloud/project/storage/storage-details/pca-table.html'"></div>
        </div>
        <div class="table-pretty-pagination"
             data-ng-show="!loaders.details && !errors.notfound && !errors.notdefined && objects.length > 5"
             data-pagination-front
             data-items="objects"
             data-paginated-items="files"
             data-current-page="currentPage"
             data-nb-pages="nbPages"
             data-items-per-page="filesPerPage"
             data-page-placeholder="{{ 'common_pagination_page' | translate:{currentPage: currentPage, nbPages : nbPages} }}"
             data-item-per-page-placeholder="{{ 'common_pagination_display' | translate }}"></div>
        </div>

    </div>
</div>
