<div class="cui-page__content inputs-logs">
    <oui-back-button class="back_button_inline_text"></oui-back-button>
    <span class="oui-header_3" data-translate="inputs_logs_title" data-translate-values="{inputTitle: ctrl.input.data.info.title}"></span>
    
    <ovh-tail-logs>
        <div class="row" data-ng-repeat="log in ctrl.logger.logs track by $index">
            <span class="col-xs-2" data-ng-bind="log.message.timestamp | date:'short'"></span>
            <span class="col-xs-10" data-ng-bind="log.message.message"></span>
        </div>
        <div class="row" data-ng-if="ctrl.logger.logs.length === 0">
            <span class="col-xs-12" data-translate="inputs_logs_no_logs"></span>
        </div>
    </ovh-tail-logs>
</div>
