<div class="oui-modal oui-modal_shadow nasha-partition nasha-zfs">
    <form>
        <div class="oui-modal__header">
            <button class="oui-icon oui-icon-close_thin oui-modal__close-button"
                type="button"
                aria-label="Exit" data-ng-click="NashaPartitionZFSOptionsCtrl.dismiss()"></button>
        </div>

        <div class="oui-modal__body oui-modal__body_no-icon loading-spinner nasha-zfs__body_loading" data-ng-if="NashaPartitionZFSOptionsCtrl.loaders">
            <spinner></spinner>
        </div>

        <div class="oui-modal__body oui-modal__body_no-icon nasha-modal-zfs nasha-zfs__body" data-ng-if="!NashaPartitionZFSOptionsCtrl.loaders">
            <h2 class="oui-modal__title" data-translate="nasha_partitions_zfs_title"></h2>

            <fieldset>
                <div class="checkbox">
                    <legend for="nasha-zfs-atime" data-translate="nasha_partitions_zfs_atime_label"></legend>
                    <label for="nasha-zfs-atime">
                        <input id="nasha-zfs-atime"
                               type="checkbox"
                               data-ng-model="NashaPartitionZFSOptionsCtrl.model.atime">
                        <span class="bold nasha-zfs__label-title"
                              data-translate="nasha_partitions_zfs_atime_disable"></span>
                        <span data-translate="nasha_partitions_zfs_atime_description"></span>
                    </label>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <legend for="nasha-zfs-recordsize" data-translate="nasha_partitions_zfs_recordsize_label"></legend>
                    <select id="nasha-zfs-recordsize"
                            class="form-control"
                            data-ng-options="recordsize.size as recordsize.label + ' ' + (recordsize.isDefault ? ('nasha_partitions_zfs_recordsize_default' | translate) : '') for recordsize in NashaPartitionZFSOptionsCtrl.enums.recordsize"
                            data-ng-model="NashaPartitionZFSOptionsCtrl.model.recordsize">
                    </select>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <legend data-translate="nasha_partitions_zfs_sync_label"></legend>
                    <div class="radio">
                        <label data-ng-repeat="sync in NashaPartitionZFSOptionsCtrl.enums.sync">
                            <input type="radio"
                                   name="syncs"
                                   data-ng-model="NashaPartitionZFSOptionsCtrl.model.sync"
                                   data-ng-value="sync.label" />
                            <span class="bold nasha-zfs__label-title ">{{'nasha_partitions_zfs_sync_' + sync.label | translate}}</span>
                            <span>{{'nasha_partitions_zfs_sync_description_' + sync.label | translate}}</span>
                            <span class="bold nasha-zfs__label_warning" data-ng-if="sync.warning">{{'nasha_partitions_zfs_sync_description_' + sync.label + '_warning' | translate}}</span>
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="oui-modal__footer">
            <button type="reset"
                class="oui-button oui-button_secondary"
                data-ng-disabled="NashaPartitionZFSOptionsCtrl.states.saving"
                data-ng-click="NashaPartitionZFSOptionsCtrl.dismiss()"
                data-translate="common_cancel">
            </button>
            <button type="button"
                class="oui-button oui-button_primary"
                data-ng-disabled="NashaPartitionZFSOptionsCtrl.loaders  || NashaPartitionZFSOptionsCtrl.states.saving"
                data-ng-click="NashaPartitionZFSOptionsCtrl.applyZFSOptionsChanges()"
                data-translate="common_confirm">
            </button>
        </div>
    </form>
</div>
