<div class="oui-modal oui-modal_shadow nasha-partition nasha-zfs">
    <form>
        <div class="oui-modal__header">
            <button class="oui-icon oui-icon-close_thin oui-modal__close-button"
                type="button"
                aria-label="Exit" data-ng-click="NashaPartitionZFSOptionsCtrl.dismiss()"></button>
        </div>

        <div class="oui-modal__body oui-modal__body_no-icon" data-ng-if="NashaPartitionZFSOptionsCtrl.loaders">
            <div class="text-center">
                <oui-spinner></oui-spinner>
            </div>
        </div>

        <div class="oui-modal__body oui-modal__body_no-icon nasha-modal-zfs nasha-zfs__body" data-ng-if="!NashaPartitionZFSOptionsCtrl.loaders">
            <h2 class="oui-modal__title" data-translate="nasha_partitions_zfs_title"></h2>

            <div class="oui-field">
                <label data-translate="nasha_partitions_zfs_atime_label"
                    for="nasha-zfs-atime"
                    class="oui-field__label oui-label"></label>
                <div class="oui-field__content">
                    <div class="oui-field-control">
                        <oui-checkbox
                            text="{{ 'nasha_partitions_zfs_atime_disable' | translate }}"
                            description="{{ 'nasha_partitions_zfs_atime_description' | translate  }}"
                            id="nasha-zfs-atime"
                            name="nasha-zfs-atime"
                            model="NashaPartitionZFSOptionsCtrl.model.atime">
                        </oui-checkbox>
                    </div>
                </div>
            </div>

            <div class="oui-field">
                <label data-translate="nasha_partitions_zfs_recordsize_label"
                    for="nasha-zfs-recordsize"
                    class="oui-field__label oui-label"></label>
                <div class="oui-field__content">
                    <div class="oui-field-control">
                        <label class="oui-select">
                            <select id="nasha-zfs-recordsize"
                                name="nasha-zfs-recordsize"
                                class="oui-select__input"
                                data-ng-options="recordsize.size as recordsize.label + ' ' + (recordsize.isDefault ? ('nasha_partitions_zfs_recordsize_default' | translate) : '') for recordsize in NashaPartitionZFSOptionsCtrl.enums.recordsize"
                                data-ng-model="NashaPartitionZFSOptionsCtrl.model.recordsize">
                            </select>
                            <i class="oui-icon oui-icon-chevron-down" aria-hidden="true"></i>
                        </label>
                    </div>
                </div>
            </div>

            <div class="oui-field">
                <label data-translate="nasha_partitions_zfs_sync_label"
                    class="oui-field__label oui-label"></label>
                <div class="oui-field__content">
                    <div class="oui-field-control">
                        <div class="oui-radio"
                            data-ng-repeat="sync in NashaPartitionZFSOptionsCtrl.enums.sync">
                            <input type="radio"
                                class="oui-radio__input"
                                id="syncs-{{sync.label}}"
                                name="syncs"
                                data-ng-model="NashaPartitionZFSOptionsCtrl.model.sync"
                                data-ng-value="sync.label" />
                            <label class="oui-radio__label-container" for="syncs-{{sync.label}}">
                                <span class="oui-radio__label"
                                    data-ng-bind="'nasha_partitions_zfs_sync_' + sync.label | translate"></span>
                                <span class="oui-radio__description">
                                    <span data-ng-bind="'nasha_partitions_zfs_sync_description_' + sync.label | translate"></span>
                                    <span class="d-inline-block" data-ng-if="sync.warning"
                                        data-ng-bind="'nasha_partitions_zfs_sync_description_' + sync.label + '_warning' | translate"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="oui-modal__footer">
            <button type="reset"
                class="oui-button oui-button_secondary"
                data-ng-disabled="NashaPartitionZFSOptionsCtrl.states.saving"
                data-ng-click="NashaPartitionZFSOptionsCtrl.dismiss()"
                data-translate="common_cancel">
            </button>
            <button type="button"
                class="oui-button oui-button_primary"
                data-ng-disabled="NashaPartitionZFSOptionsCtrl.loaders  || NashaPartitionZFSOptionsCtrl.states.saving"
                data-ng-click="NashaPartitionZFSOptionsCtrl.applyZFSOptionsChanges()"
                data-translate="common_confirm">
            </button>
        </div>
    </form>
</div>
