<cui-modal>
    <form novalidate name="confirmTerminateForm">
        <cui-modal-header data-on-dismiss="DeskaasGetConsoleAccessCtrl.cancel()"></cui-modal-header>
        <cui-modal-body title="'vdi_cancel_title' | translate">
            <oui-spinner data-ng-if="DeskaasConfirmTerminateCtrl.flags.init"></oui-spinner>
            <div data-ng-if="!DeskaasConfirmTerminateCtrl.flags.init">
                <div class="oui-field">
                    <label for="vdi-token" class="oui-field__label oui-label" data-ng-bind="'Token'"></label>
                    <div class="oui-field__content">
                        <div class="oui-field-control oui-field-control_4">
                            <input data-ng-class="{ 'oui-input_error': form.$submitted && form.vdi-token.$invalid }"
                                type="text"
                                id="vdi-token"
                                class="oui-input"
                                data-ng-model="DeskaasConfirmTerminateCtrl.values.token"
                                data-ng-disabled="true"
                                required />
                        </div>
                    </div>
                </div>
                <div class="oui-field">
                    <label for="vdi-reason" class="oui-field__label oui-label" data-translate="vdi_confirm_cancel_reason"></label>
                    <div class="oui-field__content">
                        <div class="oui-field-control oui-field-control_4">
                            <label class="oui-select">
                                <select id="vdi-reason"
                                    data-ng-model="DeskaasConfirmTerminateCtrl.values.reason"
                                    class="oui-select__input"
                                    required>
                                    <option value="" data-translate="common_select"></option>
                                    <option value="TOO_HARD_TO_USE" data-translate="vdi_reason_hard">
                                    <option selected value="TESTING_SOLUTION" data-translate="vdi_reason_testing">
                                    <option value="MISSING_FEATURES" data-translate="vdi_reason_missing">
                                    <option value="BAD_PERFORMANCE" data-translate="vdi_reason_performance">
                                    <option value="NOT_SUITABLE" data-translate="vdi_reason_not_suitable">
                                    <option value="NO_NEED_ANYMORE" data-translate="vdi_reason_need">
                                    <option value="OTHER" data-translate="vdi_reason_other">
                                </select>
                                <i class="oui-icon oui-icon-chevron-down" aria-hidden="true"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="oui-field">
                    <label for="vdi-comment" class="oui-field__label oui-label" data-translate="vdi_confirm_cancel_commentary"></label>
                    <div class="oui-field__content">
                        <div class="oui-field-control oui-field-control_4">
                            <input
                                type="text"
                                id="vdi-comment"
                                class="oui-input"
                                data-ng-model="DeskaasConfirmTerminateCtrl.values.commentary"
                                value="DeskaasDetailsCtrl.stateParams.token"
                                required />
                        </div>
                    </div>
                </div>
            </div>
        </cui-modal-body>
        <cui-modal-footer>
            <cui-cancel-button data-text="'common_modal_cancel' | translate"
                data-on-click="DeskaasConfirmTerminateCtrl.cancel()"></cui-cancel-button>
            <cui-submit-button data-text="'common_modal_ok' | translate"
                data-disabled="DeskaasConfirmTerminateCtrl.flags.init || !(DeskaasConfirmTerminateCtrl.values.token && DeskaasConfirmTerminateCtrl.values.reason) || !confirmTerminateForm.$valid"
                data-on-click="DeskaasConfirmTerminateCtrl.ok()"></cui-submit-button>
        </cui-modal-footer>
    </form>
</cui-modal>
