<div class="table-responsive-vertical">
    <table class="table table-pretty table-hover table-striped no-space table-relative">
        <thead>
            <tr>
                <th>
                    <span data-translate="cda_task_table_col_id"></span>
                </th>
                <th>
                    <span data-translate="cda_task_table_col_name"></span>
                </th>
                <th>
                    <span data-translate="cda_task_table_col_processing"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-if="$ctrl.tasks.length" data-ng-repeat="task in $ctrl.tasks track by task.id">
                <td data-title="{{ 'cda_task_table_col_id' | translate }}">
                    <span data-ng-bind=" ::task.id"></span>
                </td>
                <td data-title="{{ 'cda_task_table_col_name' | translate }}">
                    <span data-ng-bind=" ::task.name"></span>
                </td>
                <td data-title="{{ 'cda_task_table_col_processing' | translate }}">
                    <uib-progressbar value="100" class="progress-striped active">
                </td>
            </tr>
            <tr data-ng-if="!$ctrl.tasks.length">
                <td colspan="3">
                    <span data-translate="cda_task_table_empty"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
