
<form id="openStackUserOpenrcCreationForm" class="open-stack-user-openrc" name="openStackUserOpenrcCreationForm" novalidate>

    <div class="modal-header">
        <h3 class="modal-title" >
            {{"cpou_openrc_title" | translate}}
        </h3>
    </div>

    <div class="modal-body text-center" data-ng-if="OpenstackUsersOpenrcCtrl.loaders.guide">
        <spinner></spinner>
    </div>

    <div class="modal-body" data-ng-if="!OpenstackUsersOpenrcCtrl.loaders.guide">
        <p>
            {{:: 'cpou_openrc_expl' | translate }}
            <a data-ng-if="OpenstackUsersOpenrcCtrl.data.guideURL"
               data-ng-href="{{ OpenstackUsersOpenrcCtrl.data.guideURL }}"
               target="_blank">
                {{:: 'cpou_openrc_more' | translate }}
                <i class="fa fa-external-link"></i>
            </a>
        </p>

        <div class="bottom-space-m12">
            <label for="region" data-translate="cpou_openrc_form_select_region" ></label>
            <select class="form-control"
                id="region" name="region"
                placeholder="{{ ::'cpou_openrc_form_select_region_placeholder' | translate}}"
                data-ng-options="OpenstackUsersOpenrcCtrl.regionService.getTranslatedMicroRegion(region) for region in OpenstackUsersOpenrcCtrl.form.regions"
                data-ng-model="OpenstackUsersOpenrcCtrl.data.region">
            </select>
        </div>

    </div>


    <div class="modal-footer">

        <button type="submit" class="btn btn-primary pull-right"
            data-ng-disabled="openStackUserOpenrcCreationForm.$invalid || OpenstackUsersOpenrcCtrl.loaders.regions || !OpenstackUsersOpenrcCtrl.data.region || OpenstackUsersOpenrcCtrl.loaders.download"
            data-ng-click="OpenstackUsersOpenrcCtrl.downloadOpenrcFile()">
            <i class="glyphicon glyphicon-ok"></i>
            <span data-translate="common_confirm"></span>
            <spinner name="bubbles-fff-ffcd1a-16" data-ng-show="OpenstackUsersOpenrcCtrl.loaders.regions"></spinner>
        </button>

        <button type="reset" class="btn btn-default pull-left"
            data-ng-click="OpenstackUsersOpenrcCtrl.cancel()">
            <i class="glyphicon glyphicon-remove"></i>
            <span data-translate="common_cancel"></span>
        </button>

    </div>
