<section>
    <header>
        <p class="fs14" data-translate="cda_user_permission_definition"></p>
    </header>
    <div>
        <button type="button"
                class="btn btn-primary bottom-space-m12 top-space-m4 fs14"
                data-ng-click="CdaUserListCtrl.openAddModal()"
                data-ng-if="!CdaUserListCtrl.loading">
            <i class="glyphicon glyphicon-plus"></i>
            <span data-translate="cda_user_add_button_text"></span>
        </button>
    </div>
    <div class="text-center" data-ng-if="CdaUserListCtrl.loading">
        <oui-loader size="m" class="d-inline-block"></oui-loader>
    </div>
    <div class="table-responsive-vertical">
        <table data-ng-if="!CdaUserListCtrl.loading" class="table table-pretty table-hover table-striped cda-table">
            <thead>
                <tr>
                    <th class="cda-table-col-action">
                        <span data-translate="cda_user_table_col_username"></span>
                    </th>
                    <th class="cda-table-col-action">
                        <span data-translate="cda_user_table_col_key"></span>
                    </th>
                    <th>
                        <span data-translate="cda_user_table_col_pool"></span>
                    </th>
                    <th class="cda-table-col-action"></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-if="CdaUserListCtrl.datas.users.length" data-ng-repeat="user in CdaUserListCtrl.datas.paginatedUsers track by user.user.name">
                    <td data-title="{{ 'cda_user_table_col_username' | translate }}">
                        <span data-ng-bind=" ::user.user.name"></span>
                    </td>
                    <td data-title="{{ 'cda_user_table_col_key' | translate }}">
                        <span data-ng-bind=" ::user.user.key"></span>
                    </td>
                    <td data-title="{{ 'cda_user_table_col_pool' | translate }}">
                        <span data-ng-repeat="pool in user.pools | limitTo: CdaUserListCtrl.options.maxPoolDisplay track by pool.poolName">
                            {{ pool.poolName }}{{ !$last || CdaUserListCtrl.isTruncatedPoolArray(user.pools , $index) ? ',' : '' }}
                            <span data-ng-if="$last && CdaUserListCtrl.isTruncatedPoolArray(user.pools , $index)">...</span>
                        </span>
                    </td>
                    <td  data-title="{{ 'cda_user_table_col_actions' | translate }}">
                        <div class="btn-group" dropdown data-on-toggle="toggled(open)">
                            <button type="button" class="no-style" data-toggle="dropdown" aria-expanded="false" data-uib-tooltip="{{:: 'cda_user_table_col_actions' | translate }}">
                                <i class="fa fa-cog fs14"></i>
                            </button>

                            <ul data-uib-dropdown-menu data-uib-dropdown-menu-left class="dropdown-menu dropdown-menu-right responsive-dropdown-menu pointer" role="menu">
                                <li>
                                    <a ui-sref="paas.cda.cda-details.cda-user.cda-user-details.cda-user-details-permission-list({userName: user.user.name})">
                                        <i class="ovh-font ovh-font-key"></i>
                                        <span data-translate="cda_user_edit_button_text"></span>
                                    </a>
                                </li>
                                <li>
                                    <button data-ng-click="CdaUserListCtrl.openDeleteModal(user)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                        <span data-translate="cda_user_delete_button_text"></span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr data-ng-if="!CdaUserListCtrl.datas.users.length">
                    <td colspan="4">
                        <span data-translate="cda_user_table_empty"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="table-pretty-pagination top-space-m12"
             data-ng-hide="CdaUserListCtrl.loading"
             data-pagination-front
             data-items="CdaUserListCtrl.datas.users"
             data-paginated-items="CdaUserListCtrl.datas.paginatedUsers"
             data-current-page="currentPage"
             data-nb-pages="nbPages"
             data-items-per-page="itemsPerPage"
             data-page-placeholder="{{ 'common_pagination_page' | translate:{currentPage: currentPage, nbPages : nbPages} }}"
             data-item-per-page-placeholder="{{ 'common_pagination_display' | translate }}">
        </div>
    </div>
</section>