<div class="cui-page__content log-options">
    <oui-back-button data-title="{{ ::'log_options_title' | translate}}"
        data-on-click="ctrl.goToHomePage()">
    </oui-back-button>

    <p class="oui-paragraph">
        <span data-translate="log_options_intro_text"></span>
        <span data-translate="logs_options_description_manage"></span>
        <a data-translate="logs_options_manage_link"
           data-ui-sref="dbaas.logs.detail.options.manage"></a>.
    </p>

    <oui-spinner data-ng-show="ctrl.currentOptions.loading || ctrl.selectedOffer.loading"></oui-spinner>
    <div class="row mb-4" data-ng-if="!ctrl.isBasicOffer() && !ctrl.selectedOffer.loading">
        <p class="oui-paragraph col-md-12" data-translate="log_options_current_offer_title"></p>
        <div class="col-xm-12 col-md-4 current-options-tile mb-5">
            <cui-tile data-loading="ctrl.selectedOffer.loading">
                <h4 class="oui-header_5 cui-tile__title" data-ng-bind="ctrl.selectedOffer.data.name"></h4>
                <cui-tile-body class="cui-tile__top-bordered">
                    <cui-tile-item>
                        <cui-tile-definitions>
                            <cui-tile-definition-term data-term="ctrl.selectedOffer.data.streams"></cui-tile-definition-term>
                            <cui-tile-definition-term data-term="ctrl.selectedOffer.data.dashboards"></cui-tile-definition-term>
                            <cui-tile-definition-term data-ng-if="ctrl.selectedOffer.data.maxNbInput > 0" data-term="ctrl.selectedOffer.data.inputs"></cui-tile-definition-term>
                        </cui-tile-definitions>
                    </cui-tile-item>
                </cui-tile-body>
            </cui-tile>
        </div>
    </div>

    <div data-ng-if="!(ctrl.currentOptions.loading || ctrl.selectedOffer.loading)">
        <p class="oui-paragraph" data-translate="log_options_current_title" data-ng-if="ctrl.currentOptions.data.length>0"></p>
        <div class="oui-paragraph" data-ng-if="ctrl.currentOptions.data.length===0 && ctrl.isBasicOffer()">
            <span data-translate="log_options_basic_no_options"></span>
            <button
                role="link"
                class="oui-link oui-button-link"
                data-ng-click="ctrl.goToOffersPage()"
                data-translate="log_options_basic_no_options_upgrade"
                data-ui-sref="dbaas.logs.detail.offer">
            </button>
        </div>
        <p class="oui-paragraph" data-translate="log_options_pro_no_options" data-ng-if="ctrl.currentOptions.data.length===0 && !ctrl.isBasicOffer()"></p>
    </div>

    <div class="cui-grid-list mb-5">
        <div class="cui-grid-list-item cui-grid-cell current-options-tile" data-ng-repeat="option in ctrl.currentOptions.data">
            <cui-tile data-loading="ctrl.currentOptions.loading">
                <h4 class="oui-header_5 cui-tile__title" data-ng-bind="option.type+' ('+option.quantity+')'"></h4>
                <cui-tile-body class="cui-tile__top-bordered">
                    <cui-tile-item>
                        <cui-tile-definitions>
                            <cui-tile-definition-term data-ng-repeat="suboption in option.details">
                                <span class="cui-tile__description">
                                    <strong data-ng-bind="suboption.quantity"></strong>
                                </span>
                                <span data-ng-bind="suboption.detail"></span>
                            </cui-tile-definition-term>
                        </cui-tile-definitions>
                    </cui-tile-item>
                </cui-tile-body>
            </cui-tile>
        </div>
    </div>

    <oui-spinner data-ng-show="ctrl.options.loading"></oui-spinner>
    <oui-datagrid data-ng-hide="ctrl.options.loading" rows="ctrl.options.data" page-size="15" class="datagrid-without-pagination">
        <oui-column title="'log_options_type' | translate" property="type" sortable="asc" type="string" searchable filterable></oui-column>
        <oui-column title="'log_options_details' | translate" property="detail" sortable type="string" searchable filterable></oui-column>
        <oui-column title="'log_options_add' | translate" property="quantity" type="number">
            <oui-numeric
                data-ng-attr-id="{{ $row.planCode }}"
                class="numeric_without_bottom_margin"
                model="$row.quantity"
                min="0">
            </oui-numeric>
        </oui-column>
        <oui-column title="'log_options_price' | translate" property="price" data-align="end" sortable type="number" filterable>
            {{$row.priceText}}
        </oui-column>
    </oui-datagrid>

    <p class="oui-paragraph text-right">
        <span data-translate="log_options_total"></span>:
        <span>
            <span class="oui-header_3" data-ng-bind="ctrl.getTotalPrice()"></span>
            {{ctrl.getCurrentCurrency()}}/{{'month' | translate}}
        </span>
    </p>

    <oui-button
        text="{{'log_options_order' | translate}}"
        variant="primary"
        type="button"
        on-click="ctrl.order()"
        disabled="ctrl.getSelectedOptions().length === 0">
    </oui-button>

    <oui-button
        text="{{'log_options_cancel' | translate}}"
        variant="link"
        type="button"
        on-click="ctrl.cancel()">
    </oui-button>
</div>
