<div class="cloud-project-billing-consumption-estimate-alert-add">
    <div class="estimate-alert-add-ctnr">
        <header>
            <h4 class="h3 space-m0 bottom-space-m0" data-translate="cpbea_estimate_alert_add_header_title"></h4>
            <button class="no-style"
                    type="button"
                    title="{{ ::'cpbea_estimate_alert_add_cancel_btn' | translate }}" 
                    data-ng-click="CloudProjectBillingConsumptionEstimateAlertAddCtrl.closeModal()">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </header>
        <form id="addAlertForm" name="addAlertForm" class="ovh-form-flat top-space-m12 clearfix">
            <div flat-input-container class="estimate-alert-add-form-ctnr">
                <div class="input-group">
                    <label for="alertMail" data-translate="cpbea_estimate_alert_add_mail_label"></label>
                    <input type="email" class="form-control error-animate-shake-light" 
                        id="alertMail" name="mail"
                        data-ng-model="CloudProjectBillingConsumptionEstimateAlertAddCtrl.model.email"
                        required />
                </div>
                <div class="left-space-p8 right-space-p8 text-danger" data-ng-messages="addAlertForm.mail.$error" data-ng-if="addAlertForm.mail.$dirty">
                    <p class="animate-fadeInLeft-enter animate-fadeOutRight-leave" >
                        <span data-ng-message="required" data-translate="cpbea_estimate_alert_add_mail_required"></span>
                        <span data-ng-message="email" data-translate="cpbea_estimate_alert_add_mail_bad_format"></span>
                    </p>
                </div>
            </div>
            <div flat-input-container class="estimate-alert-add-form-ctnr">
                <label for="alertThreshold" data-translate="cpbea_estimate_alert_add_threshold_label"></label>
                <div class="input-group">
                    <input class="form-control error-animate-shake-light" 
                            id="alertThreshold" name="alertThreshold"
                            type="number"
                            data-ng-model="CloudProjectBillingConsumptionEstimateAlertAddCtrl.model.threshold"
                            min="0"
                            max="9999999"
                            required>
                        <div class="input-group-addon" data-ng-bind="CloudProjectBillingConsumptionEstimateAlertAddCtrl.alerting.currency"></div>
                    </input>
                </div>
                <div class="left-space-p8 right-space-p8 text-danger" data-ng-messages="addAlertForm.alertThreshold.$error" data-ng-if="addAlertForm.alertThreshold.$dirty">
                    <p class="animate-fadeInLeft-enter animate-fadeOutRight-leave" data-ng-message="required"><span data-translate="cpbea_estimate_alert_add_threshold_required"></span></p>
                </div>
            </div>
            <button type="submit" 
                    class="btn btn-primary pull-right left-space-m16 top-space-m20"
                    title="{{ ::'cpbea_estimate_alert_add_submit_btn' | translate }}"
                    data-ng-click="addAlertForm.$valid && CloudProjectBillingConsumptionEstimateAlertAddCtrl.saveAlert()"
                    data-ng-disabled="CloudProjectBillingConsumptionEstimateAlertAddCtrl.loaders.saveAlert">
                <i class="fa fa-bell"></i>
                <span data-translate="cpbea_estimate_alert_add_submit_btn"></span>
                <spinner name="bubbles-fff-ffcd1a-16" data-ng-show="CloudProjectBillingConsumptionEstimateAlertAddCtrl.loaders.saveAlert"></spinner>
            </button>
            <button type="reset" 
                    class="btn btn-default pull-right left-space-m16 top-space-m20" 
                    title="{{ ::'cpbea_estimate_alert_add_cancel_btn' | translate }}" 
                    data-ng-click="CloudProjectBillingConsumptionEstimateAlertAddCtrl.closeModal()"
                    data-ng-disabled="CloudProjectBillingConsumptionEstimateAlertAddCtrl.loaders.saveAlert">
                <i class="glyphicon glyphicon-remove"></i>
                <span data-translate="cpbea_estimate_alert_add_cancel_btn"></span>
            </button>
        </form>
    </div>
</div>