.cui-key-value-input {
    display: block;

    &__container {
        display: flex;
    }

    &__label {
        font-size: 14px;
    }

    &__action {
        align-self: flex-end;
    }

    &__field {
        margin-right: 5px;
    }
}