<section class="cui-page__content">
    <cui-back-link data-state="{{ $ctrl.previousState.state }}"
                   data-state-params="$ctrl.previousState.stateParams"
                   data-text="'Retour'"></cui-back-link>
    <cui-page-content-title text="'iplb_zone_add_title' | translate"></cui-page-content-title>
    <p data-translate="iplb_zone_add_intro_text"></p>
    <form novalidate name="$ctrl.form">
        ANOTHER TEST {{ $ctrl.model.zones.value }}
        <iplb-zone-picker data-zones="$ctrl.zones"
            data-on-selection-change="$ctrl.model.zones.value = value"></iplb-zone-picker>

        <div class="cui-form-actions">
            <oui-spinner data-ng-if="$ctrl.saving"></oui-spinner>
            <div data-ng-if="!$ctrl.saving">
                <cui-submit-button data-text="'common_add' | translate"
                    data-on-click="$ctrl.submit()"></cui-submit-button>
                <a class="oui-button oui-button_link"
                    data-translate="common_cancel"
                    data-ui-state="$ctrl.previousState.state"
                    data-ui-state-params="$ctrl.previousState.stateParams"></a>
            </div>
        </div>
    </form>
</section>