<section class="cui-page__content">
    <cui-back-link data-state="{{ $ctrl.previousState.state }}"
                   data-state-params="$ctrl.previousState.stateParams"
                   data-text="'Retour'"></cui-back-link>
    <cui-page-content-title text="'iplb_zone_delete_title' | translate"></cui-page-content-title>
    <p data-ng-if="$ctrl.zones.data.length <= 1" data-translate="iplb_zone_delete_intro_text_single"></p>
    <p data-ng-if="$ctrl.zones.data.length > 1" data-translate="iplb_zone_delete_intro_text_plural"></p>
    <form novalidate name="$ctrl.form">
        <div>
            <p>France</p>
            <oui-checkbox text="Roubaix (RBX)"></oui-checkbox>
            <oui-checkbox text="Strasbourg (SBG)"></oui-checkbox>
        </div>
        <div>
            <p>Canada</p>
            <oui-checkbox text="Beauharnois (BHS)"></oui-checkbox>
        </div>
        <div class="cui-form-actions">
            <oui-spinner data-ng-if="$ctrl.saving"></oui-spinner>
            <div data-ng-if="!$ctrl.saving">
                <cui-submit-button data-text="'common_delete' | translate"
                    data-on-click="$ctrl.submit()"></cui-submit-button>
                <a class="oui-button oui-button_link"
                    data-translate="common_cancel"
                    data-ui-state="$ctrl.previousState.state"
                    data-ui-state-params="$ctrl.previousState.stateParams"></a>
            </div>
        </div>
    </form>
</section>