<div class="deskaas-modal">

    <div class="white title">
        <h1 data-translate="vdi_console_title"></h1>
    </div>

    <div>
        <div data-translate="vdi_console_info"></div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            ng-click="DeskaasGetConsoleAccessCtrl.ok()"
            data-translate="ok"></button>
        <button type="button" class="btn btn-default"
            ng-click="DeskaasGetConsoleAccessCtrl.cancel()"
            data-translate="cancel"></button>

    </div>

</div>
