<section class="container-fluid cui-page__content cui-page__content-flex">
    <div class="row d-lg-flex">
        <div class="col-xm-12 col-md-4">
            <div class="cui-tile h-100">
                <h4 class="oui-header_4 cui-tile__title" data-translate="veeam_tiles_shortcut_title"></h4>
                <ul class="cui-tile__body cui-tile__body_list">
                    <li class="cui-tile__item cui-tile__item_button">
                        <button class="oui-button oui-button_link oui-button_icon-right oui-button_full-width cui-tile__button"
                            type="button"
                            data-ng-click="VeeamDashboardCtrl.addStorage()">
                            <span data-translate="veeam_tiles_shortcut_label_add_storage"></span>
                            <i class="oui-icon oui-icon-chevron-right" aria-hidden="true"></i>
                        </button>
                    </li>
                    <li class="cui-tile__item cui-tile__item_button">
                        <button class="oui-button oui-button_link oui-button_icon-right oui-button_full-width cui-tile__button"
                            type="button"
                            data-ng-click="VeeamDashboardCtrl.changeOffer()">
                            <span data-translate="veeam_tiles_shortcut_label_change_offer"></span>
                            <i class="oui-icon oui-icon-chevron-right" aria-hidden="true"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xm-12 col-md-4">
            <cui-tile class="h-100" data-title="'veeam_tiles_configuration_title' | translate" data-loading="VeeamDashboardCtrl.configurationInfos.loading">
                <cui-tile-body>
                    <cui-tile-item data-term="'veeam_tiles_configuration_label_name' | translate"
                        data-description=":: VeeamDashboardCtrl.configurationInfos.data.serviceName">
                    </cui-tile-item>
                    <cui-tile-item data-term="'veeam_tiles_configuration_label_vm_count' | translate"
                        data-description=":: VeeamDashboardCtrl.configurationInfos.data.vmCount">
                    </cui-tile-item>
                    <cui-tile-item class="cui-dropdown-menu-container" data-term="'veeam_tiles_configuration_label_stockage_number' | translate"
                        data-description=":: VeeamDashboardCtrl.configurationInfos.data.backupCount">
                    </cui-tile-item>
                    <cui-tile-item>
                        <cui-tile-definitions>
                            <cui-tile-definition-term data-term="'veeam_tiles_configuration_label_datacenter' | translate"></cui-tile-definition-term>
                            <cui-tile-definition-description-region data-regions="VeeamDashboardCtrl.configurationInfos.data.location.macroRegion.code"></cui-tile-definition-description-region>
                        </cui-tile-definitions>
                    </cui-tile-item>
                </cui-tile-body>
            </cui-tile>
        </div>
        <div class="col-xm-12 col-md-4">
            <cui-tile-subscription data-loading="VeeamDashboardCtrl.subscriptionInfos.loading"
                data-subscription-info="VeeamDashboardCtrl.subscriptionInfos.data"
                data-offer-actions="VeeamDashboardCtrl.uiActions.changeOffer"
                data-autorenew-actions="VeeamDashboardCtrl.uiActions.manageAutorenew"
                data-contact-actions="VeeamDashboardCtrl.uiActions.manageContact"
                class="h-100"></cui-tile-subscription>
        </div>
    </div>
</section>
