<div id="cloud-project-compute-ssh" class="row">
    <div class="col-xs-12">

        <div class="well">
            <p>
                <strong data-translate="cpc_ssh_key_explain_1"></strong>
            </p>
            <p data-translate="cpc_ssh_key_explain_2"
               data-translate-values="{createUrl: CloudProjectComputeSshCtrl.guides.create}">
            </p>
            <p data-translate="cpc_ssh_key_explain_3"
               data-translate-values="{addUrl: CloudProjectComputeSshCtrl.guides.add, changeUrl: CloudProjectComputeSshCtrl.guides.change }">
            </p>
        </div>

        <div class="clearfix">
            <!-- ADD -->
            <button data-ng-click="CloudProjectComputeSshCtrl.toggleAddSshKey()"
                    type="button"
                    class="btn btn-primary pull-left"
                    data-ng-disabled="CloudProjectComputeSshCtrl.loaders.table.ssh || CloudProjectComputeSshCtrl.table.ssh === null"
                    data-ng-class="{'visibility-hide' : CloudProjectComputeSshCtrl.toggle.openAddSsh}"
                    write-right-required>
                <i class="glyphicon glyphicon-plus right-space-m8"></i>
                <span translate="cpc_ssh_add_button"></span>
            </button>
            <!-- SEARCH -->
            <button type="button"
                    class="btn btn-search pull-right"
                    data-ng-class="{ 'visibility-hide' : !CloudProjectComputeSshCtrl.table.ssh.length}"
                    data-ng-click="CloudProjectComputeSshCtrl.toggleSearchBar()"
                    data-ng-disabled="CloudProjectComputeSshCtrl.loaders.remove.ssh"
                    data-ng-hide="CloudProjectComputeSshCtrl.toggle.openAddSsh">

                <i data-ng-hide="CloudProjectComputeSshCtrl.search.open" class="fa fa-search right-space-m8"></i>
                <i data-ng-show="CloudProjectComputeSshCtrl.search.open" class="fa fa-times right-space-m8"></i>
                <span data-translate="cpc_ssh_search_button"></span>
            </button>
        </div>
        <!-- SEARCH FORM -->
        <form name="searchSshKeysForm"
              novalidate
              data-ng-slide-down="CloudProjectComputeSshCtrl.search.open && CloudProjectComputeSshCtrl.table.ssh.length !== 0" data-duration="0.3"
              class="ovh-form-flat animate-opacity2-leave"
              data-ng-hide="CloudProjectComputeSshCtrl.toggle.openAddSsh">
            <div class="clearfix">
                <div flat-input-container class="pull-right left-space-m12" style="width: 170px;">
                    <label for="searchName" translate="cpc_ssh_name"></label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text"
                               class="form-control"
                               id="searchName"
                               name="searchName"
                               placeholder="{{'cpc_ssh_name' | translate}}"
                               maxlength="255"
                               data-ng-model="CloudProjectComputeSshCtrl.search.name"
                               data-ng-disabled="CloudProjectComputeSshCtrl.loaders.remove.ssh">

                        <div class="input-group-btn"
                             data-ng-show="CloudProjectComputeSshCtrl.search.name">
                            <button class="no-style btn"
                                    type="button"
                                    data-ng-click="CloudProjectComputeSshCtrl.search.name = null"
                                    data-ng-disabled="CloudProjectComputeSshCtrl.loaders.remove.ssh">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- SSH TABLE -->
        <div class="table-responsive-vertical shadow-z-1 top-space-m12">
            <table class="table table-pretty table-hover table-striped">
                <thead>
                    <tr>
                        <th style="width: 25%;">
                            <button class="no-style"
                                data-ng-click="CloudProjectComputeSshCtrl.orderBy('name')"
                                data-ng-show="CloudProjectComputeSshCtrl.table.ssh.length">
                                <label class="pointer" for="sshaddname" translate="cpc_ssh_name"></label>
                                <span class="animate-flash-enter text-danger" data-ng-show="CloudProjectComputeSshCtrl.toggle.openAddSsh">*</span>
                                <span class="table-pretty-filter">
                                    <i data-ng-show="CloudProjectComputeSshCtrl.order.by !== 'name'" class="fa fa-sort"></i>
                                    <i data-ng-show="CloudProjectComputeSshCtrl.order.by === 'name' && CloudProjectComputeSshCtrl.order.reverse" class="fa fa-sort-desc"></i>
                                    <i data-ng-show="CloudProjectComputeSshCtrl.order.by === 'name' && !CloudProjectComputeSshCtrl.order.reverse" class="fa fa-sort-asc"></i>
                                </span>
                            </button>
                        </th>
                        <th>
                            <button class="no-style"
                                data-ng-click="CloudProjectComputeSshCtrl.orderBy('publicKey')"
                                data-ng-show="CloudProjectComputeSshCtrl.table.ssh.length">
                                <label class="pointer" for="sshaddkey" translate="cpc_ssh_key"></label>
                                <span class="animate-flash-enter text-danger" data-ng-show="CloudProjectComputeSshCtrl.toggle.openAddSsh">*</span>
                                <span class="table-pretty-filter">
                                    <i data-ng-show="CloudProjectComputeSshCtrl.order.by !== 'publicKey'" class="fa fa-sort"></i>
                                    <i data-ng-show="CloudProjectComputeSshCtrl.order.by === 'publicKey' && CloudProjectComputeSshCtrl.order.reverse" class="fa fa-sort-desc"></i>
                                    <i data-ng-show="CloudProjectComputeSshCtrl.order.by === 'publicKey' && !CloudProjectComputeSshCtrl.order.reverse" class="fa fa-sort-asc"></i>
                                </span>
                            </button>
                        </th>
                        <th class="text-center" style="width: 35px;" write-right-required>
                            <button data-ng-click="CloudProjectComputeSshCtrl.getSshKeys(true)"
                                class="no-style">
                                <i class="glyphicon glyphicon-refresh"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody data-ng-show="CloudProjectComputeSshCtrl.toggle.openAddSsh" class="reverse-table-striped animate-opacity2-leave">
                    <tr>
                        <td colspan="3" class="no-space">
                            <div data-ng-slide-down="CloudProjectComputeSshCtrl.toggle.openAddSsh" lazy-render duration="0.3">

                                <form id="addSshKeyForm" name="addSshKeyForm" class="ovh-form-flat container-fluid no-space" novalidate>
                                    <div class="row-fluid">
                                        <div class="col-sm-3 no-space">
                                            <div flat-input-container class="space-p8 vertical-top">
                                                <input type="text"
                                                    class="form-control error-animate-shake-light"
                                                    id="sshaddname"
                                                    name="sshaddname"
                                                    placeholder="{{ ::'cpc_ssh_add_name' | translate}}"
                                                    data-ng-disabled="CloudProjectComputeSshCtrl.loaders.add.ssh"
                                                    data-ng-model="CloudProjectComputeSshCtrl.sshAdd.name"
                                                    required autofocus
                                                    data-ng-pattern="/^[\w\-\s]+$/"
                                                    data-ng-maxlength="255">
                                            </div>
                                        </div>

                                        <div class="col-sm-9 no-space">
                                            <div flat-input-container class="space-p8">
                                                <textarea class="form-control error-animate-shake-light vertical-resize"
                                                    id="sshaddkey"
                                                    name="sshaddkey"
                                                    rows="3"
                                                    placeholder="{{ ::'cpc_ssh_add_key' | translate}}"
                                                    data-ng-disabled="CloudProjectComputeSshCtrl.loaders.add.ssh"
                                                    data-ng-model="CloudProjectComputeSshCtrl.sshAdd.publicKey"
                                                    required ></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row-fluid">
                                        <div class="col-sm-12 no-space">
                                            <div class="left-space-p8 right-space-p8 text-danger" data-ng-messages="addSshKeyForm.sshaddname.$error" data-ng-if="addSshKeyForm.sshaddname.$dirty">
                                                <p class="animate-fadeInLeft-enter animate-fadeOutRight-leave" data-ng-message="required"><span translate="cpc_ssh_error_required_name"></span></p>
                                                <p class="animate-fadeInLeft-enter animate-fadeOutRight-leave" data-ng-message="maxlength"><span translate="cpc_ssh_error_max_char"></span></p>
                                                <p class="animate-fadeInLeft-enter animate-fadeOutRight-leave" data-ng-message="pattern"><span translate="cpc_ssh_error_pattern_name"></span></p>
                                            </div>

                                            <div class="left-space-p8 right-space-p8 text-danger" data-ng-messages="addSshKeyForm.sshaddkey.$error" data-ng-if="addSshKeyForm.sshaddkey.$dirty">
                                                <p class="animate-fadeInLeft-enter animate-fadeOutRight-leave" data-ng-message="required"><span translate="cpc_ssh_error_required_key"></span></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row-fluid">
                                        <div class="col-sm-12 bottom-space-p4 top-space-p12 text-center">
                                            <button type="reset"
                                                class="btn btn-default"
                                                data-ng-disabled="CloudProjectComputeSshCtrl.loaders.add.ssh"
                                                data-ng-click="CloudProjectComputeSshCtrl.toggleAddSshKey()">
                                                <i class="glyphicon glyphicon-remove right-space-m8"></i>
                                                <span translate="cpc_ssh_add_button_cancel"></span>
                                            </button>
                                            <button type="submit"
                                                class="btn btn-primary"
                                                data-ng-disabled="addSshKeyForm.$invalid"
                                                data-ng-click="CloudProjectComputeSshCtrl.postSshKey()">
                                                <i class="glyphicon glyphicon-ok right-space-m8"></i>
                                                <span translate="cpc_ssh_add_button_submit"></span>
                                                <spinner name="bubbles-fff-ffcd1a-16" data-ng-show="CloudProjectComputeSshCtrl.loaders.add.ssh"></spinner>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row-fluid">
                                        <div class="col-sm-12 bottom-space-p8 text-center">
                                            <span class="fs10"><span class="text-danger">*</span> {{ 'common_required_field' | translate }}</span>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody data-ng-show="CloudProjectComputeSshCtrl.loaders.table.ssh">
                    <tr>
                        <td colspan="3" class="text-center">
                            <spinner></spinner>
                        </td>
                    </tr>
                </tbody>
                <tbody data-ng-if="!CloudProjectComputeSshCtrl.loaders.table.ssh && CloudProjectComputeSshCtrl.table.sshKeysFilter.length === 0">
                    <tr>
                        <td colspan="3" class="text-center">
                            <span translate="cpc_ssh_empty"></span><br>
                            <span translate="cpc_ssh_empty_add"></span>
                        </td>
                    </tr>
                </tbody>
                <tbody data-ng-if="!CloudProjectComputeSshCtrl.loaders.table.ssh && CloudProjectComputeSshCtrl.table.sshKeysFilter === null">
                    <tr>
                        <td colspan="3" class="text-center">
                            <i class="fa fa-bug"></i>
                            <span translate="cpc_ssh_error"></span>
                        </td>
                    </tr>
                </tbody>
                <tbody data-ng-hide="CloudProjectComputeSshCtrl.loaders.table.ssh">
                    <tr data-ng-repeat="ssh in CloudProjectComputeSshCtrl.table.sshKeysFilter | orderBy:CloudProjectComputeSshCtrl.order.by:CloudProjectComputeSshCtrl.order.reverse track by ssh.id">

                        <td data-title="{{::'cpc_ssh_name' | translate}}" class="word-break">
                            <span data-ng-class="{'opacity2-leave' : CloudProjectComputeSshCtrl.toggle.sshDeleteId === ssh.id,
                                                'opacity2-enter' : CloudProjectComputeSshCtrl.toggle.sshDeleteId !== ssh.id}"
                                 data-ng-bind="::ssh.name">
                            </span>
                        </td>

                        <td data-title="{{::'cpc_ssh_key' | translate}}" class="word-break">
                            <div data-ng-class="{'opacity2-leave' : CloudProjectComputeSshCtrl.toggle.sshDeleteId === ssh.id,
                                                'opacity2-enter' : CloudProjectComputeSshCtrl.toggle.sshDeleteId !== ssh.id}">

                                <button class="no-style" data-ng-click="sshkeyDeploy = !sshkeyDeploy; CloudProjectComputeSshCtrl.selectSshKey(ssh.id, sshkeyDeploy);">
                                    <i class="fa fa-caret-right rotate" data-ng-class="{'rotate90' : sshkeyDeploy}"></i>
                                </button>

                                <span class="animate-fadeInUp-enter animated-300 animate-fadeOutDown-leave"
                                    data-ng-if="!sshkeyDeploy">
                                    {{ ::ssh.publicKey | sshKeyMin}}</span>
                                </span>

                                <div data-ng-slide-down="sshkeyDeploy" duration="0.3" style="padding-left: 19px;">
                                    <textarea class="no-space no-style vertical-resize full-width no-outline"
                                        id="sshkey_{{ssh.id}}"
                                        readonly="true"
                                        onclick="this.select();"
                                        data-ng-bind="::ssh.publicKey"></textarea>
                                </div>
                            </div>
                        </td>

                        <td data-title="" class="text-center" write-right-required>

                            <div data-ng-show="CloudProjectComputeSshCtrl.toggle.sshDeleteId === ssh.id"
                                class="text-center animate-fadeInRight-enter animate-fadeOutLeft-leave full-width"
                                style="left:0; position:absolute; z-index:1000; margin-top: -6px;">

                                <button class="btn btn-default"
                                    data-ng-disabled="CloudProjectComputeSshCtrl.loaders.remove.ssh"
                                    data-ng-click="CloudProjectComputeSshCtrl.toggle.sshDeleteId = null">
                                    <i class="glyphicon glyphicon-remove right-space-m8"></i>
                                    <span translate="cpc_ssh_delete_cancel"></span>
                                </button>
                                <button class="btn btn-danger"
                                    data-ng-click="CloudProjectComputeSshCtrl.deleteSshKey(ssh)">
                                    <i class="glyphicon glyphicon-trash right-space-m8"></i>
                                    <span translate="cpc_ssh_delete_submit"></span>
                                    <spinner name="bubbles-fff-d34936-16" data-ng-show="CloudProjectComputeSshCtrl.loaders.remove.ssh"></spinner>
                                </button>
                            </div>

                            <div data-ng-class="{'opacity2-leave' : CloudProjectComputeSshCtrl.toggle.sshDeleteId === ssh.id,
                                                'opacity2-enter' : CloudProjectComputeSshCtrl.toggle.sshDeleteId !== ssh.id}">
                                <button class="no-style"
                                    data-ng-click="CloudProjectComputeSshCtrl.toggle.sshDeleteId = ssh.id"
                                    data-ng-disabled="CloudProjectComputeSshCtrl.toggle.sshDeleteId === ssh.id">
                                    <i class="glyphicon glyphicon-trash right-space-m8"></i>
                                </button>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- NO Pagination -->
    </div>
</div>
