
<section class="cui-page__content log-aliases">
    <cui-page-content-title text="::'logs_aliases_title' | translate"></cui-page-content-title>
    <p data-translate="logs_aliases_description"></p>

    <p>{{ctrl.quota.data.configured}}/{{ctrl.quota.data.max}} <span data-translate="logs_aliases_total_used"></span>
        (<logs-upgrade-quota-link></logs-upgrade-quota-link>)
    </p>

    <button type="button" class="oui-button oui-button_secondary"
        data-ui-sref="dbaas.logs.detail.aliases.home.add"
        data-ng-disabled="ctrl.delete.loading">
            <i class="oui-icon oui-icon-add pr-1" aria-hidden="true"></i> {{ ::'logs_aliases_add' | translate }}
    </button>

    <oui-spinner data-ng-if="ctrl.quota.loading || ctrl.aliases.loading || ctrl.delete.loading"></oui-spinner>
    <oui-datagrid rows="ctrl.aliases.data">
        <oui-column title="::'logs_aliases_col_title' | translate" property="info.name" sortable="asc"></oui-column>
        <oui-column title="::'logs_aliases_col_description' | translate" property="info.description" sortable></oui-column>
        <oui-column title="::'logs_aliases_col_shared' | translate" property="info.isEditable" sortable>
            <span data-ng-if="!$row.info.isEditable">{{ ::'common_yes' | translate }}</span>
            <span data-ng-if="$row.info.isEditable"> - </span>
        </oui-column>
        <oui-column title="::'logs_aliases_col_creation_date' | translate" property="info.createdAt" sortable>
            {{ $row.info.createdAt | momentFormat:'L'}}
        </oui-column>
        <oui-column title="::'logs_aliases_col_streams' | translate" property="streams.length" sortable>
            <span data-ng-if="$row.streams.length" data-ng-bind="$row.streams.length" />
            <span data-ng-if="!$row.streams.length"> - </span>
        </oui-column>
        <oui-column title="::'logs_aliases_col_indices' | translate" property="indexes.length" sortable>
            <span data-ng-if="$row.indexes.length" data-ng-bind="$row.indexes.length" />
            <span data-ng-if="!$row.indexes.length"> - </span>
        </oui-column>
        <oui-action-menu compact>
            <oui-action-menu-item disabled="!$row.info.isEditable" text="{{ ::'logs_aliases_attach_content' | translate }}" on-click="ctrl.attachContent($row)"></oui-action-menu-item>
            <oui-action-menu-item text="{{ ::'logs_aliases_elasticsearch_access' | translate }}" href="{{ctrl.getElasticSearchUrl($row)}}" external></oui-action-menu-item>
            <oui-action-menu-item disabled="!$row.info.isEditable" text="{{ ::'common_delete' | translate }}" on-click="ctrl.showDeleteConfirm($row.info)"></oui-action-menu-item>
            <oui-action-menu-item disabled="!$row.info.isEditable" text="{{ ::'common_edit' | translate }}" on-click="ctrl.edit($row.info)"></oui-action-menu-item>
        </oui-action-menu>
    </oui-datagrid>
    <div ui-view="logsAliasesAddEdit"></div>
</section>

