<div class="oui-modal oui-modal_shadow">
    <form name="AnnouncementSummitForm">
        <div class="oui-modal__header">
            <button class="oui-icon oui-icon-close_thin oui-modal__close-button"
                    type="button"
                    aria-label="Exit" data-ng-click="AnnouncementSummitCtrl.cancel()"
            ></button>
        </div>
        <div class="oui-modal__body oui-modal__body_no-icon">
            <div class="oui-modal__body-text">
                <h2 class="oui-modal__title" data-translate="announcement_summit_title"></h2>
                <img class="summit__banner" data-ng-src="assets/images/announcement/summit/summit_2017_{{AnnouncementSummitCtrl.locale}}.png">
                <oui-checkbox
                    text="{{ 'announcement_summit_stop_showing' | translate }}"
                    on-change="AnnouncementSummitCtrl.stopShowing(modelValue)">
                </oui-checkbox>
            </div>
        </div>
        <div class="oui-modal__footer">
            <button class="oui-button oui-button_secondary"
                    type="button"
                    data-translate="announcement_summit_cancel"
                    data-ng-click="AnnouncementSummitCtrl.cancel()"></button>
            <button class="oui-button oui-button_primary"
                    type="submit"
                    data-translate="announcement_summit_register"
                    data-ng-click="AnnouncementSummitCtrl.confirm()"></button>
        </div>
    </form>
</div>
