<div class="oui-modal oui-modal_shadow">
        <div class="oui-modal__header">
            <button
                class="oui-icon oui-icon-close_thin oui-modal__close-button"
                type="button"
                aria-label="Exit"
                ng-click="ctrl.cancel()"></button>
        </div>

        <div class="oui-modal__body oui-modal__body_no-icon">
            <div class="oui-modal__body-text mb-5">
                <h2 class="oui-modal__title" data-translate="logs_options_overview_title"></h2>
            </div>
            <dl class="preview-list preview-list_no-margin">
                <dt class="preview-list__term"
                    data-translate="logs_options_option_type"></dt>
                <dd class="preview-list__definition"
                    data-ng-bind=":: ctrl.option.type"></dd>
                <dt class="preview-list__term"
                    data-translate="logs_options_details"></dt>
                <dd class="preview-list__definition"
                    data-ng-bind=":: ctrl.option.detail"></dd>
                <dt class="preview-list__term"
                    data-translate="logs_options_linked_items"></dt>
                <dd class="preview-list__definition">
                    <div data-ng-if="ctrl.option.linked_items > 0">
                        <div data-ng-if="ctrl.aliases.length > 0">
                            <span class="pl-0 preview-list__list-heading" data-translate="logs_options_manage_alias"></span>                        
                            <ul data-ng-repeat="alias in ctrl.aliases track by $index">{{alias.info.name}}</ul>
                        </div>
                        <div data-ng-if="ctrl.dashboards.length > 0">
                            <span class="pl-0 preview-list__list-heading" data-translate="logs_options_manage_dashboard"></span>                        
                            <ul data-ng-repeat="dashboard in ctrl.dashboards track by $index">{{dashboard.info.title}}</ul>
                        </div>
                        <div data-ng-if="ctrl.indices.length > 0">
                            <span class="pl-0 preview-list__list-heading" data-translate="logs_options_manage_index"></span>                        
                            <ul data-ng-repeat="index in ctrl.indices track by $index">{{index.info.name}}</ul>
                        </div>
                        <div data-ng-if="ctrl.inputs.length > 0">
                            <span class="pl-0 preview-list__list-heading" data-translate="logs_options_manage_input"></span>                        
                            <ul data-ng-repeat="input in ctrl.inputs track by $index">{{input.info.title}}</ul>
                        </div>
                        <div data-ng-if="ctrl.roles.length > 0">
                            <span class="pl-0 preview-list__list-heading" data-translate="logs_options_manage_role"></span>                        
                            <ul data-ng-repeat="role in ctrl.roles track by $index">{{role.info.name}}</ul>
                        </div>
                        <div data-ng-if="ctrl.streams.length > 0">
                            <span class="pl-0 preview-list__list-heading" data-translate="logs_options_manage_stream"></span>                        
                            <ul data-ng-repeat="stream in ctrl.streams track by $index">{{stream.info.title}}</ul>
                        </div>
                    </div>
                    <span data-ng-if="ctrl.option.linked_items === 0"> - </span>
                </dd>
                <dt class="preview-list__term"
                    data-translate="logs_options_status"></dt>
                <dd class="preview-list__definition"
                    data-ng-bind=":: ctrl.option.state"></dd>
            </dl>
        </div>
    </div>
    