<h4 class="oui-header_4 cui-tile__title" data-ng-bind="$ctrl.title"></h4>
<div class="cui-tile__body" data-ng-if="$ctrl.loading">
    <div class="cui-tile__item">
        <div class="cui-tile__definition">
            <cui-skeleton loading="true" data-width="20%"></cui-skeleton>
            <cui-skeleton loading="true" data-width="60%"></cui-skeleton>
        </div>
    </div>
    <div class="cui-tile__item">
        <div class="cui-tile__definition">
            <cui-skeleton loading="true" data-width="20%"></cui-skeleton>
            <cui-skeleton loading="true" data-width="60%"></cui-skeleton>
        </div>
    </div>
    <div class="cui-tile__item">
        <div class="cui-tile__definition">
            <cui-skeleton loading="true" data-width="20%"></cui-skeleton>
            <cui-skeleton loading="true" data-width="60%"></cui-skeleton>
        </div>
    </div>
</div>
<ng-transclude data-ng-if="!$ctrl.loading"></ng-transclude>