@clipboard-border-color: #E0F6FD;
@cui-clipboard-color: @oui-color-primary;

.cui-clipboard-list {
	&__item {
		margin-bottom: 13px;
	}
}

.cui-clipboard {
	&__input {
		padding: 6px 12px;
		width: 100%;

		background-color: rgba(224, 246, 253, 0.5);
		font-family: "Source Sans Pro";
		font-weight: 700;
		color: @cui-clipboard-color;

		border: 1px solid @clipboard-border-color;
		border-radius: 5px;
	}
}