<div class="container-fluid">
    <div class="text-center mt-5 py-5">
        <h1 class="d-inline">
            <span data-translate="homepage_welcome_to_your_manager_1"></span>
            <span data-translate="homepage_welcome_to_your_manager_2"></span>
        </h1>
        <p class="lead"
           data-ng-bind-html="'homepage_top_guides_header' | translate: { url: $ctrl.guides.all }">
        </p>
    </div>
    <div
        data-ng-if="$ctrl.isLoading"
        class="text-center">
        <oui-spinner data-size="l"></oui-spinner>
    </div>
    <div
        data-ng-if="!$ctrl.isLoading"
        class="row d-md-flex">
        <div class="col-md-10 col-lg-8 mx-md-auto">
            <cui-tile data-ng-repeat="section in $ctrl.guides.sections track by $index"
                      data-title="section.title | translate"
                      class="cui-tile mb-5">
                <div class="cui-tile__top-bordered"
                     data-ng-repeat="link in section.list track by $index">
                    <a class="oui-button oui-button_link oui-button_full-width cui-tile__button"
                       data-at-internet-click="{ name: link.atInternetClickTag }"
                       data-ng-href="{{ link.href }}"
                       data-ng-attr-target="{{(link.isExternal) ? '_blank' : undefined}}"
                       rel="noopener">
                        <span data-ng-bind="link.displayText"></span>
                        <span class="oui-icon oui-icon-external_link" data-ng-if="link.isExternal" aria-hidden="true"></span>
                    </a>
                </div>
            </cui-tile>
        </div>
    </div>
</div>
