<form class="oui-modal oui-modal_shadow" novalidate>

    <div class="oui-modal__header">
        <button
            type="button"
            data-ng-click="$ctrl.cancel()"
            class="oui-icon oui-icon-close_thin oui-modal__close-button"
            data-translate-attr="{ 'aria-label': 'common_cancel' }"></button>
    </div>

    <div class="oui-modal__body">

        <span class="oui-icon oui-icon-help_circle oui-icon_bicolor" aria-hidden="true"></span>

        <div class="oui-modal__body-text">
            <h2 class="oui-modal__title" data-translate="cpci_private_network_delete_title"></h3>

            <p class="oui-modal__text" data-translate="cpci_private_network_delete_confirm"></p>
        </div>
    </div>

    <div class="oui-modal__footer">
        <oui-button
            type="reset"
            data-ng-click="$ctrl.cancel()"
            data-variant="secondary"
            data-text="{{:: 'common_cancel' | translate }}"
            class="mr-3">
        </oui-button>
        <oui-button
            type="submit"
            data-ng-click="$ctrl.confirm()"
            data-variant="primary"
            data-text="{{:: 'common_confirm' | translate }}">
        </oui-button>
    </div>

</form>
