<div class="col-xs-12 well top-space-p20">
    <div class="row">
        <div class="col-xs-12 col-lg-7">
            <dl class="dl-horizontal">
                <dt data-translate="nasha_dashboard_ip" class="bottom-space-m4"></dt>
                <dd data-ng-bind="NashaCtrl.data.nasha.ip" class="bottom-space-m8"></dd>
                <dt data-translate="nasha_dashboard_datacenter" class="bottom-space-m4"></dt>
                <dd data-translate="{{ ::'nasha_datacenter_' + NashaCtrl.data.nasha.datacenter }}"
                    class="bottom-space-m8">
                </dd>
                <dt data-translate="nasha_dashboard_capacity" class="bottom-space-m4"></dt>
                <dd class="info-total-capacity">
                    <cloud-space-meter
                        class="cloud-space-meter"
                        data-usage="NashaCtrl.data.nasha.use"
                        data-legend="true"
                        data-large="true">
                    </cloud-space-meter>
                    <span class="info-total-capacity-text">
                        <i data-translate="nasha_dashboard_capacity_delay_text"></i>
                    </span>
                </dd>
            </dl>
        </div>

        <div class="col-xs-12 col-lg-5 pull-right">
            <dl class="dl-horizontal bottom-space-m0">
                <dt data-translate="nasha_dashboard_creation_date" class="bottom-space-m4"></dt>
                <dd data-ng-bind="NashaCtrl.data.information.creation | date:'mediumDate'" class="bottom-space-m8"></dd>
                <dd data-ng-show="NashaCtrl.loaders.information" class="loader-inline" class="bottom-space-m8"></dd>

                <dt data-translate="nasha_dashboard_expiration_date" class="bottom-space-m4"></dt>
                <dd class="bottom-space-m8">
                    <span data-ng-bind="NashaCtrl.data.information.expiration | date:'mediumDate'"></span>
                    <a data-ng-show="NashaCtrl.urlRenew"
                        data-ng-href="{{NashaCtrl.urlRenew}}"
                        class="nasha__link no-style space-p12">
                        <i class="fa fa-repeat"></i>
                        <span data-translate="common_renew"></span>
                    </a>
                </dd>

                <dt data-translate="nasha_dashboard_space_usage" class="bottom-space-m4"></dt>
                <dd class="bottom-space-m8">
                    <div>
                        <span class="pull-left right-space-m4" data-translate="common_no" data-ng-class="{'monitoring-stich-labels': NashaCtrl.monitoring.enabled}"></span>
                        <flat-switch class="pull-left monitoring-switch">
                            <input type="checkbox"
                                   class="pointer"
                                   data-ng-disabled="NashaCtrl.monitoring.loading"
                                   data-ng-model="NashaCtrl.monitoring.enabled"
                                   data-ng-click="NashaCtrl.updateMonitoringState(NashaCtrl.monitoring.enabled)">
                        </flat-switch>
                        <span class="pull-left left-space-m4" data-translate="common_yes" data-ng-class="{'monitoring-stich-labels': !NashaCtrl.monitoring.enabled}"></span>
                    </div>
                    <span>&nbsp;</span>
                    <i class="fa fa-question-circle fs18 pointer"
                       data-responsive-popover="'app/nasha/information/nasha-information-usage-help.html'"
                       data-popover-placement="bottom"
                       data-popover-trigger="outsideClick">
                    </i>
                </dd>
            </dl>
        </div>

    </div>
</div>
