<form novalidate name="ctrl.form">
    <div class="oui-modal oui-modal_shadow">
        <div class="oui-modal__header">
            <button
                class="oui-icon oui-icon-close_thin oui-modal__close-button"
                type="button"
                aria-label="Exit"
                ng-click="ctrl.cancel()"></button>
        </div>
        <div class="oui-modal__body oui-modal__body_no-icon">
            <oui-spinner data-ng-if="ctrl.token.loading"></oui-spinner>
            <div data-ng-if="!ctrl.token.loading">
                <div class="oui-modal__body-text">
                    <h2 class="oui-modal__title" data-translate="logs_tokens_add"></h2>
                </div>

                <div class="oui-field" data-ng-class="{'oui-field_error': ctrl.form.$submitted && ctrl.form.logs-password.$invalid}">
                    <label for="logs-password" class="oui-label" data-translate="logs_tokens_col_name"></label>
                    <div class="oui-field__content">
                        <div class="oui-field-control oui-field-control_4">
                            <input data-ng-class="{ 'oui-input_error': form.$submitted && form.logs-password.$invalid }"
                                id="logs-password"
                                name="logs-password"
                                class="oui-input"
                                data-ng-model="ctrl.newPassword"
                                data-ng-pattern="ctrl.pattern"
                                required
                                cui-password />
                        </div>
                    </div>
                </div>
                <div class="oui-field" data-ng-class="{'oui-field_error': ctrl.form.$submitted && ctrl.form.logs-confirm-password.$invalid}">
                    <label for="logs-confirm-password" class="oui-label" data-translate="logs_tokens_select_cluster"></label>
                    <div class="oui-field__content">
                        <div class="oui-field-control oui-field-control_4">
                            <input data-ng-class="{ 'oui-input_error': form.$submitted && form.logs-confirm-password.$invalid }"
                                id="logs-confirm-password"
                                name="logs-confirm-password"
                                class="oui-input"
                                data-ng-model="ctrl.confirmPassword"
                                required />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="oui-modal__footer" data-ng-if="!ctrl.token.loading">
            <div class="cui-form-actions">
                <oui-spinner data-ng-if="ctrl.saving.loading"></oui-spinner>
                <div data-ng-if="!ctrl.saving.loading">
                    <button type="button"
                        class="oui-button oui-button_secondary"
                        data-translate="common_cancel"
                        data-ng-click="ctrl.cancel()"></button>
                    <button type="submit"
                        class="oui-button oui-button_primary"
                        data-translate="common_save"
                        data-ng-click="ctrl.changePassword()"></button>
                </div>
            </div>
        </div>
    </div>
</form>