<form novalidate name="ctrl.form">
    <div class="oui-modal oui-modal_shadow">
        <div class="oui-modal__header">
            <button
                class="oui-icon oui-icon-close_thin oui-modal__close-button"
                type="button"
                aria-label="Exit"
                ng-click="ctrl.cancel()"></button>
        </div>
        <div class="oui-modal__body oui-modal__body_no-icon">
            <div>
                <div class="oui-modal__body-text">
                    <h2 class="oui-modal__title" data-translate="logs_password_change_title"></h2>
                    <div class="mb-3">
                        <span data-translate="logs_password_validation_message"></span>
                    </div>
                </div>

                <div class="oui-field" data-ng-class="{'oui-field_error': ctrl.form.$submitted && ctrl.form.new_password.$invalid}">
                    <label for="new_password" class="oui-label" data-translate="logs_password_new_label"></label>
                    <div class="oui-field__content">
                        <div class="oui-field-control oui-field-control_5 mb-2">
                            <input type="text" id="new_password"
                                    name="new_password"
                                    class="oui-input mb-0"
                                    data-ng-model="ctrl.newPassword"
                                    data-ng-class="{'oui-input_error': ctrl.form.$submitted && ctrl.form.new_password.$invalid}"
                                    autofocus
                                    cui-password
                                    required />
                        </div>
                    </div>
                </div>
                <div class="oui-field" data-ng-class="{'oui-field_error': ctrl.form.$submitted && ctrl.form.confirm_password.$invalid}">
                    <label for="confirm_password" class="oui-label" data-translate="logs_password_confirm_label"></label>
                    <div class="oui-field__content">
                        <div class="oui-field-control oui-field-control_5 mb-2">
                            <input type="text" id="confirm_password"
                                    name="confirm_password"
                                    class="oui-input mb-0"
                                    data-ng-model="ctrl.confirmPassword"
                                    data-ng-class="{'oui-input_error': ctrl.form.$submitted && ctrl.form.confirm_password.$invalid}"
                                    required
                                    cui-password
                                    cui-compare-to="ctrl.newPassword" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="oui-modal__footer">
            <div class="cui-form-actions">
                <oui-spinner data-ng-if="ctrl.saving.loading"></oui-spinner>
                <div data-ng-if="!ctrl.saving.loading">
                    <button type="button"
                        class="oui-button oui-button_secondary"
                        data-translate="common_cancel"
                        data-ng-click="ctrl.cancel()"></button>
                    <button type="submit"
                        class="oui-button oui-button_primary"
                        data-translate="common_save"
                        data-ng-click="ctrl.changePassword()"></button>
                </div>
            </div>
        </div>
    </div>
</form>
    
    
    