<cui-modal>
    <cui-modal-header data-on-dismiss="$ctrl.cancel()"></cui-modal-header>
    <cui-modal-body data-title="'metrics_token_delete_title' | translate">
        <oui-spinner data-ng-show="$ctrl.loading"></oui-spinner>
        <p data-translate="metrics_token_delete_message"></p>
    </cui-modal-body>
    <cui-modal-footer>
        <cui-cancel-button
          data-text="'metrics_token_cancel' | translate"
          data-ng-click="$ctrl.cancel()"></cui-cancel-button>
        <cui-submit-button
          data-text="'metrics_token_delete' | translate"
          data-ng-click="$ctrl.confirm()"
          data-ng-disabled="$ctrl.loading"></cui-submit-button>
    </cui-modal-footer>
</cui-modal>
