<section class="cui-page__content">
    <cui-page-content-title text="'iplb_configuration_title' | translate"></cui-page-content-title>
    <p data-translate="iplb_configuration_intro"></p>

    <button type="button"
        class="oui-button oui-button_secondary mb-3"
        data-translate="iplb_configuration_action_apply"
        data-ng-click="ctrl.applyChanges()"
        data-ng-disabled="!ctrl.selectedZones.length"></button>

    <oui-spinner data-ng-if="ctrl.zones.loading"></oui-spinner>
    <oui-table data-ng-if="!ctrl.zones.loading"
        rows="ctrl.zones.data"
        on-selection-change="ctrl.onSelectionChange($selection)">
        <column title="'iplb_configuration_datacenter' | translate" property="name" sortable="asc"></column>
        <column title="'iplb_configuration_progress' | translate"
            sortable
            class="oui-table__cell_component">
            <oui-progress data-compact data-ng-if="$row.task">
                <oui-progress-bar data-type="{{ ctrl.ServiceHelper.constructor.getTaskProgressType($row.task.status) }}" data-value="$row.task.progress">
                </oui-progress-bar>
            </oui-progress>
        </column>
        <column title="'iplb_configuration_status' | translate" template="ctrl.constructor.statusTemplate()" class="oui-table__cell_action"></column>
        <column title="'iplb_configuration_action' | translate"
            class="oui-table__cell_action oui-table__cell_action-menu"
            template="ctrl.constructor.actionTemplate()">
        </column>
    </oui-table>
</section>
