<div class="nasha-partition-add">
    <div class="modal-header">
        <h3 class="modal-title" data-translate="nasha_partitions_action_add"></h3>
    </div>

    <form class="form" role="form" data-ng-submit="NashaPartitionAddCtrl.addPartition()" name="nashaPartitionAddForm">
        <div class="modal-body">
            <div class="form-group">
                <label data-translate="nasha_partitions_name" for="inputPartitionName"></label>
                <input type="text"
                       id="inputPartitionName"
                       name="inputPartitionName"
                       class="input-medium form-control bottom-space-m12"
                       placeholder="{{'nasha_partitions_name' | translate}}"
                       data-ng-pattern="NashaPartitionAddCtrl.namePattern"
                       data-ng-model="NashaPartitionAddCtrl.newPartition.partitionName"/>
                <span class="text-danger" data-ng-show="!nashaPartitionAddForm.inputPartitionName.$valid" data-translate="nasha_partitions_name_fail"></span>
            </div>

            <div class="form-group">
                <label data-translate="nasha_partitions_size_in_Gb" for="inputPartitionSize"></label>
                <span data-translate="nasha_partitions_minimum_size"></span>
                <input type="number"
                           class="input-medium form-control bottom-space-m12 partition-size"
                           id="inputPartitionSize"
                           min="10"
                           max="{{NashaPartitionAddCtrl.nasha.zpoolSize}}"
                           placeholder="{{'nasha_partitions_size_in_Gb' | translate}}"
                           data-ng-change="NashaPartitionAddCtrl.checkSize()"
                           data-ng-model="NashaPartitionAddCtrl.newPartition.size"/>

            <div class="form-group">
                <strong data-translate="nasha_partitions_protocol"></strong>
                <div class="radio">
                    <label class="protocols-label top-space-m4" data-ng-repeat="protocol in NashaPartitionAddCtrl.protocols">
                        <input type="radio"
                               name="protocols"
                               class="protocols-radio right-space-m4"
                               data-ng-model="NashaPartitionAddCtrl.newPartition.protocol"
                               data-ng-value="protocol" />{{'nasha_partitions_action_add_desc_' + protocol | translate}}
                    </label>
                </div>
          </div>
        </div>

        <div class="modal-footer">
            <button type="submit"
                    class="pull-right btn btn btn-primary right-space-p16 left-space-p16"
                    data-ng-disabled="!NashaPartitionAddCtrl.isPartitionValid() || NashaPartitionAddCtrl.loading">
                <span data-translate="common_add"></span>
            </button>
            <button type="reset" class="btn btn-default pull-left"
                    data-ng-click="NashaPartitionAddCtrl.dismiss()">
                <i class="fa fa-times"></i>
                <span data-translate="common_cancel"></span>
            </button>
        </div>
    </form>
</div>
