<div id="openstackTerminal" data-ng-controller="CloudProjectComputeInfrastructureOpenstackTerminalCtrl as OpenstackTerminalCtl" >
    <div class="margin"></div>
    <div class="terminal col-md-offset-2 col-sm-offset-3"
     data-ng-class="{ maximized : OpenstackTerminalCtl.maximized, minimized : OpenstackTerminalCtl.minimized }"
     >
        <div class="header" data-ng-click="OpenstackTerminalCtl.clickBar()">
            <div class="title">
                Openstack Terminal
            </div>
            <div class="buttons">
                <button class="no-style" type="button"
                 data-ng-if="!OpenstackTerminalCtl.minimized"
                 data-ng-click="OpenstackTerminalCtl.minimize();$event.stopPropagation()"><i class="fa fa-window-minimize"></i></button>
                <button class="no-style" type="button" data-ng-click="OpenstackTerminalCtl.maximize();$event.stopPropagation()"><i class="fa fa-window-maximize"></i></button>
            </div>
        </div>
        <div class="settings">
            <select ng-if="!OpenstackTerminalCtl.regions.loading"
                class="form-control"
                ng-options="region as region for region in OpenstackTerminalCtl.regions.data track by region"
                ng-model="OpenstackTerminalCtl.region"
                >
            </select>
            <oui-loader ng-show="OpenstackTerminalCtl.regions.loading" size="s" class="d-inline-block"></oui-loader>
            <label> Commandes :</label>
            <button type="button" class="btn btn-primary"
                ng-repeat="(label,action) in OpenstackTerminalCtl.actions track by label"
                ng-click="OpenstackTerminalCtl.Service.sendAction(action, OpenstackTerminalCtl.region)">{{label}}</button>
        </div>

        <div class="hterm">
            <div ng-if="OpenstackTerminalCtl.session.loading">
                <oui-loader size="m" class="d-inline-block"></oui-loader>
            </div>
            <cui-message-container
                data-messages="OpenstackTerminalCtl.messages">
            </cui-message-container>
            <div
                ng-show="!OpenstackTerminalCtl.session.loading && !OpenstackTerminalCtl.session.hasErrors && !OpenstackTerminalCtl.regions.hasErrors"
                hterm="hterm"
                send-data="OpenstackTerminalCtl.Service.send(data, OpenstackTerminalCtl.region)"
                send-config="OpenstackTerminalCtl.Service.setConfig(config)"
                term="OpenstackTerminalCtl.term"
                >
            </div>
        </div>
    </div>
</div>
