<div class="oui-modal oui-modal_shadow">
    <div class="oui-modal__header">
        <button class="oui-icon oui-icon-close_thin oui-modal__close-button"
            type="button"
            aria-label="Exit" data-ng-click="NashaPartitionDeleteCtrl.dismiss()"></button>
    </div>

    <div class="oui-modal__body">
        <i class="oui-icon oui-icon-help_circle oui-icon_bicolor" aria-hidden="true"></i>
        <h2 class="oui-modal__title" data-translate="nasha_partitions_action_delete_title"></h2>
        <span data-translate="nasha_partitions_delete_confirmation" data-translate-values="{partitionName: NashaPartitionDeleteCtrl.data.partition.partitionName}"></span>
    </div>

    <div class="oui-modal__footer">
        <button type="reset"
            class="oui-button oui-button_secondary"
            data-ng-click="NashaPartitionDeleteCtrl.dismiss()"
            data-translate="common_cancel">
        </button>
        <button type="button"
            class="oui-button oui-button_primary"
            data-ng-click="NashaPartitionDeleteCtrl.deletePartition()"
            data-ng-disabled="NashaPartitionDeleteCtrl.loading"
            data-translate="common_confirm">
        </button>
    </div>
</div>
