 <div>
    <div class="modal-header">
        <h3 class="modal-title" data-translate="nasha_access_action_delete_title"></h3>
    </div>

    <div class="modal-body">
        <span data-translate="nasha_access_action_delete_confirmation" data-translate-values="{accessIp: NashaPartitionAccessDeleteCtrl.toRemove.access.ip}"></span>
    </div>

    <div class="modal-footer">
        <button type="reset"
            class="oui-button oui-button_secondary"
            data-ng-click="NashaPartitionAccessDeleteCtrl.dismiss()"
            data-translate="common_cancel">
        </button>
        <button type="button"
            class="oui-button oui-button_primary"
            data-ng-disabled="NashaPartitionAccessDeleteCtrl.loading"
            data-ng-click="NashaPartitionAccessDeleteCtrl.removeAccess()"
            data-translate="common_confirm">
        </button>
    </div>
</div>
