 <div class="oui-modal oui-modal_shadow cui-modal">
    <div class="oui-modal__header">
        <button class="oui-icon oui-icon-close_thin oui-modal__close-button"
                type="button"
                aria-label="Exit" data-ng-click="NashaPartitionAccessDeleteCtrl.dismiss()"></button>
    </div>

    <div class="oui-modal__body">
        <i class="oui-icon oui-icon-warning_circle oui-icon_bicolor" aria-hidden="true"></i>
        <h2 class="oui-modal__title" data-translate="nasha_access_action_delete_title"></h2>
        <span data-translate="nasha_access_action_delete_confirmation" data-translate-values="{accessIp: NashaPartitionAccessDeleteCtrl.toRemove.access.ip}"></span>
    </div>

    <div class="oui-modal__footer">
        <button type="reset"
            class="oui-button oui-button_secondary"
            data-ng-click="NashaPartitionAccessDeleteCtrl.dismiss()"
            data-translate="common_cancel">
        </button>
        <button type="button"
            class="oui-button oui-button_primary"
            data-ng-disabled="NashaPartitionAccessDeleteCtrl.loading"
            data-ng-click="NashaPartitionAccessDeleteCtrl.removeAccess()"
            data-translate="common_confirm">
        </button>
    </div>
</div>
