<div class="row cloud-billing-vouchers">

    <div class="col-xs-12">

        <!-- ADD BUTTON -->
        <button class="btn btn-primary"
                data-ng-click="VouchersCtrl.toggleAddVoucher()"
                data-ng-disabled="VouchersCtrl.loading.init || VouchersCtrl.datas.voucherIds === null"
                data-ng-class="{'visibility-hide' : VouchersCtrl.toggle.openAddVoucher}"
                write-right-required>
            <i class="glyphicon glyphicon-plus right-space-m8"></i>
            <span data-translate="cpb_vouchers_add_button"/>
        </button>

        <!-- ADD CREDIT BUTTON -->
        <button class="btn btn-primary"
                data-ng-click="VouchersCtrl.openAddCredit()"
                data-ng-disabled="VouchersCtrl.loading.init || VouchersCtrl.datas.voucherIds === null"
                data-ng-class="{'visibility-hide' : VouchersCtrl.toggle.openAddVoucher}"
                write-right-required>
            <i class="fa fa-shopping-cart right-space-m8"></i>
            <span data-translate="cpb_vouchers_add_credit_button"/>
        </button>

        <p data-translate="cpb_vouchers_add_explain_bis" class="fs10 top-space-m20"></p>

        <!-- VOUCHERS LIST -->
        <div class="table-responsive-vertical shadow-z-1 top-space-m12">

            <table class="table table-pretty table-hover table-striped no-space table-relative">
                <thead>
                    <tr>
                        <th>
                            <button class="no-style"
                                    data-ng-click="VouchersCtrl.sortBy('description')">
                                <span data-translate="cpb_vouchers_name_cell"></span>
                                <span class="table-pretty-filter">
                                    <i data-ng-show="VouchersCtrl.sort.by !== 'description'" class="fa fa-sort"></i>
                                    <i data-ng-show="VouchersCtrl.sort.by === 'description' && VouchersCtrl.sort.reverse" class="fa fa-sort-desc"></i>
                                    <i data-ng-show="VouchersCtrl.sort.by === 'description' && !VouchersCtrl.sort.reverse" class="fa fa-sort-asc"></i>
                                </span>
                            </button>
                        </th>
                        <th class="text-center">
                            <span data-translate="cpb_vouchers_products_cell"></span>
                        </th>
                        <th class="text-center">
                            <button class="no-style"
                                    data-ng-click="VouchersCtrl.sortBy('voucher')">
                                <span data-translate="cpb_vouchers_voucher_cell"></span>
                                <span class="table-pretty-filter">
                                    <i data-ng-show="VouchersCtrl.sort.by !== 'voucher'" class="fa fa-sort"></i>
                                    <i data-ng-show="VouchersCtrl.sort.by === 'voucher' && VouchersCtrl.sort.reverse" class="fa fa-sort-desc"></i>
                                    <i data-ng-show="VouchersCtrl.sort.by === 'voucher' && !VouchersCtrl.sort.reverse" class="fa fa-sort-asc"></i>
                                </span>
                            </button>
                        </th>
                        <th class="text-center">
                            <button class="no-style"
                                    data-ng-click="VouchersCtrl.sortBy('validity.from')">
                                <span data-translate="cpb_vouchers_validity_from_cell"></span>
                                <span class="table-pretty-filter">
                                    <i data-ng-show="VouchersCtrl.sort.by !== 'validity.from'" class="fa fa-sort"></i>
                                    <i data-ng-show="VouchersCtrl.sort.by === 'validity.from' && VouchersCtrl.sort.reverse" class="fa fa-sort-desc"></i>
                                    <i data-ng-show="VouchersCtrl.sort.by === 'validity.from' && !VouchersCtrl.sort.reverse" class="fa fa-sort-asc"></i>
                                </span>
                            </button>
                        </th>
                        <th class="text-center">
                            <button class="no-style"
                                    data-ng-click="VouchersCtrl.sortBy('total_credit.value')">
                                <span data-translate="cpb_vouchers_total_credit_cell"></span>
                                <span class="table-pretty-filter">
                                    <i data-ng-show="VouchersCtrl.sort.by !== 'total_credit.value'" class="fa fa-sort"></i>
                                    <i data-ng-show="VouchersCtrl.sort.by === 'total_credit.value' && VouchersCtrl.sort.reverse" class="fa fa-sort-desc"></i>
                                    <i data-ng-show="VouchersCtrl.sort.by === 'total_credit.value' && !VouchersCtrl.sort.reverse" class="fa fa-sort-asc"></i>
                                </span>
                            </button>
                        </th>
                        <th class="text-center">
                            <button class="no-style"
                                    data-ng-click="VouchersCtrl.sortBy('validity.to')">
                                <span data-translate="cpb_vouchers_validity_to_cell"></span>
                                <span class="table-pretty-filter">
                                    <i data-ng-show="VouchersCtrl.sort.by !== 'validity.to'" class="fa fa-sort"></i>
                                    <i data-ng-show="VouchersCtrl.sort.by === 'validity.to' && VouchersCtrl.sort.reverse" class="fa fa-sort-desc"></i>
                                    <i data-ng-show="VouchersCtrl.sort.by === 'validity.to' && !VouchersCtrl.sort.reverse" class="fa fa-sort-asc"></i>
                                </span>
                            </button>
                        </th>
                        <th class="text-center">
                            <button class="no-style"
                                    data-uib-tooltip="{{ :: 'cpb_vouchers_available_credit_cell_info' | translate }}"
                                    data-ng-click="VouchersCtrl.sortBy('available_credit.value')">
                                <span data-translate="cpb_vouchers_available_credit_cell"></span>
                                <i class="fa fa-question-circle pointer-help"></i>
                                <span class="table-pretty-filter">
                                    <i data-ng-show="VouchersCtrl.sort.by !== 'available_credit.value'" class="fa fa-sort"></i>
                                    <i data-ng-show="VouchersCtrl.sort.by === 'available_credit.value' && VouchersCtrl.sort.reverse" class="fa fa-sort-desc"></i>
                                    <i data-ng-show="VouchersCtrl.sort.by === 'available_credit.value' && !VouchersCtrl.sort.reverse" class="fa fa-sort-asc"></i>
                                </span>
                            </button>
                        </th>
                    </tr>
                </thead>
                <!-- ADD VOUCHERS -->
                <tbody data-ng-show="VouchersCtrl.toggle.openAddVoucher">
                    <tr>
                        <td colspan="7" class="no-space">
                            <div class="animate-fadeInDown-enter animate-fadeOutUp-leave"
                                 ng-slide-down="VouchersCtrl.toggle.openAddVoucher"
                                 data-lazy-render
                                 data-duration="0.3">

                                <form name="voucherFormAdd" class="form-horizontal ovh-form-flat">
                                    <div class="row-fluid">
                                        <div class="col-xs-12 no-space">
                                            <div data-flat-input-container class="space-p8">
                                                <input type="text"
                                                       class="form-control"
                                                       id="voucherAddValue"
                                                       autofocus=""
                                                       name="voucherAddValue"
                                                       placeholder="{{ :: 'cpb_vouchers_your_voucher' | translate }}"
                                                       data-ng-model="VouchersCtrl.model.voucher" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid top-space-m12 bottom-space-p12 clearfix">
                                        <div class="col-xs-12 text-center">
                                            <button type="reset"
                                                    class="btn btn-default"
                                                    data-ng-click="VouchersCtrl.toggleAddVoucher()"
                                                    data-ng-disabled="VouchersCtrl.loading.add">
                                                <i class="glyphicon glyphicon-remove right-space-m8"></i>
                                                <span>{{ :: 'common_cancel' | translate }}</span>
                                            </button>
                                            <button type="submit"
                                                    class="btn btn-primary"
                                                    data-ng-disabled="!VouchersCtrl.model.voucher"
                                                    data-ng-click="VouchersCtrl.addVoucher()">
                                                <i class="glyphicon glyphicon-ok right-space-m8"></i>
                                                <span>{{ :: 'cpb_vouchers_your_voucher_add' | translate }}</span>
                                                <spinner data-ng-if="VouchersCtrl.loading.add"></spinner>
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </td>
                    </tr>
                </tbody>
                <!-- NO DATAS BODY -->
                <tbody data-ng-if="!VouchersCtrl.loading.init && VouchersCtrl.datas.voucherIds.length === 0">
                    <tr>
                        <td colspan="7"
                            class="text-center">
                            <span>{{ :: 'cpb_vouchers_list_no_vouchers' | translate }}</span>
                        </td>
                    </tr>
                </tbody>
                <!-- NO DATAS BODY -->
                <tbody data-ng-if="!VouchersCtrl.loading.init && VouchersCtrl.datas.voucherIds === null">
                    <tr>
                        <td colspan="7"
                            class="text-center">
                            <i class="fa fa-bug"></i>
                            <span>{{ :: 'cpb_vouchers_table_error' | translate }}</span>
                        </td>
                    </tr>
                </tbody>
                <!-- DATAS BODY -->
                <tbody data-ng-if="!VouchersCtrl.loading.init && VouchersCtrl.datas.vouchers.length > 0">
                    <tr data-ng-repeat="voucher in VouchersCtrl.datas.vouchers | orderBy:VouchersCtrl.sort.by:VouchersCtrl.sort.reverse">
                        <td data-title="{{ :: 'cpb_vouchers_name_cell' | translate }}">
                            {{ :: VouchersCtrl.getVoucherDisplayName(voucher) }}
                            <div data-ng-if="voucher.pdfUrl">
                                <span data-translate="cpb_vouchers_bill_ref" data-translate-values="{ url : voucher.pdfUrl, billId : voucher.bill }"></span>
                            </div>
                        </td>
                        <td class="text-center" data-title="{{ :: 'cpb_vouchers_products_cell' | translate }}">{{ :: voucher.products.length ? voucher.products.join(', ') : ('cpb_vouchers_products_all' | translate) }}</td>
                        <td class="text-center" data-title="{{ :: 'cpb_vouchers_voucher_cell' | translate }}">{{ :: voucher.voucher }}</td>
                        <td class="text-center" data-title="{{ :: 'cpb_vouchers_validity_from_cell' | translate }}">{{ :: voucher.validity.from | date:'medium' }}</td>
                        <td class="text-center" data-title="{{ :: 'cpb_vouchers_total_credit_cell' | translate }}">{{ :: voucher.total_credit.text }}</td>
                        <td class="text-center" data-title="{{ :: 'cpb_vouchers_validity_to_cell' | translate }}">{{ :: voucher.validity.to | date:'medium' }}</td>
                        <td class="text-center" data-title="{{ :: 'cpb_vouchers_available_credit_cell' | translate }}">{{ :: voucher.available_credit.text }}</td>
                    </tr>
                </tbody>
                <!-- LOADING BODY -->
                <tbody data-ng-if="VouchersCtrl.loading.init">
                    <tr>
                        <td colspan="7"
                            class="text-center">
                            <spinner></spinner>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- PAGINATION TABLE -->
        <div class="table-pretty-pagination top-space-m12"
             data-ng-hide="VouchersCtrl.loading.init
                            || VouchersCtrl.datas.voucherIds === null
                            || VouchersCtrl.datas.voucherIds.length <= 5"
             data-pagination-front
             data-items="VouchersCtrl.datas.voucherIds"
             data-paginated-items="VouchersCtrl.datas.vouchers"
             data-current-page="currentPage"
             data-nb-pages="nbPages"
             data-items-per-page="itemsPerPage"
             data-transform-item="VouchersCtrl.transformItem(item)"
             data-on-transform-item-done="VouchersCtrl.onTransformItemDone(items)"
             data-page-placeholder="{{'common_pagination_page' | translate: {currentPage:currentPage, nbPages:nbPages} }}"
             data-item-per-page-placeholder="{{'common_pagination_display' | translate}}">
        </div>

        <p data-translate="cpb_vouchers_credit_comment" class="fs10 top-space-m20"></p>

    </div>

</div>
