<form novalidate name="$ctrl.form">
    <oui-modal 
        data-title="{{:: 'openstackusers_users_add_button' | translate}}"
        data-primary-action="$ctrl.confirm()"
        data-primary-label="{{ ::'common_confirm' | translate }}"
        data-secondary-action="$ctrl.cancel()"
        data-secondary-label="{{ ::'common_cancel' | translate }}"
        data-on-dismiss="$ctrl.cancel()"
        data-loading="$ctrl.saving">
            
        <div class="oui-field" data-ng-class="{'oui-field_error': $ctrl.form.$submitted && $ctrl.form.useradddescription.$invalid}">
                <label class="oui-label" for="useradddescription"
                       data-translate="openstackusers_users_userlist_add_description"></label>
                <input type="text"
                       class="oui-input"
                       id="useradddescription"
                       name="useradddescription"
                       data-ng-model="$ctrl.model.value"
                       required
                       data-ng-maxlength="255"
                       data-ng-class="{'oui-input_error': $ctrl.form.$submitted && $ctrl.form.useradddescription.$invalid}">
                <div class="oui-field__error" data-ng-if="$ctrl.form.$submitted && $ctrl.form.useradddescription.$invalid">
                    <span role="alert">
                        <i class="oui-icon oui-icon-error" aria-hidden="true"></i>
                        <span translate="common_required_field"></span>
                    </span>
                </div>
        </div>
    </oui-modal>
</form>
