<span data-ng-if="$ctrl.volumeConsumptionDetails.length === 0"
      data-translate="cpbc_no_consumption_data"
      class="cloud-billing-resource-no-data"></span>

<oui-datagrid data-rows="$ctrl.volumeConsumptionDetails"
              data-ng-if="$ctrl.volumeConsumptionDetails.length > 0">
    <oui-column data-title="::'cpbc_volume_col_name' | translate" data-property="name" data-sortable>
        <oui-popover oui-popover-placement="top">
            <span oui-popover-trigger data-ng-bind=":: $row.name"></span>
            <oui-popover-content>
                <ul class="list-unstyled">
                    <li>
                        <strong><span data-translate= "cpbc_volume_location"></span> : </strong>
                        <span data-ng-bind=":: $ctrl.CucRegionService.getTranslatedMicroRegion($row.region)"></span>
                    </li>
                    <li>
                        <strong><span data-translate= "cpbc_volume_type"></span> : </strong>
                        <span data-ng-bind=":: $row.type"></span>
                    </li>
                    <li>
                        <strong><span data-translate= "cpbc_volume_size"></span> : </strong>
                        <span data-ng-bind=":: $row.size | bytes:2:'true':'GiB'"></span>
                    </li>
                    <li>
                        <strong><span data-translate= "cpbc_volume_state"></span> : </strong>
                        <span data-translate="{{ :: 'cloud_common_state_' + $row.status }}"></span>
                    </li>
                </ul>
            </oui-popover-content>
        </oui-popover>
    </oui-column>
    <oui-column data-title="::'cpbc_volume_col_consumption' | translate" data-property="totalPrice" data-sortable>
        <span data-ng-bind=":: $row.totalPrice"></span>
        <i class="fa fa-question-circle left-space-m4"
           data-uib-tooltip="{{ :: 'cpbc_volume_consumption_tooltip_part1' | translate }}{{ :: 'cpbc_volume_consumption_tooltip_part2' | translate : {amount: volume.amount} }}"
           data-tooltip-placement="left" aria-hidden="true">
        </i>
    </oui-column>
</oui-datagrid>
