<oui-modal data-heading="Information"
           data-primary-action="$ctrl.$uibModalInstance.close()"
           data-primary-label="Close"
           data-on-dismiss="$ctrl.$uibModalInstance.close()"
           data-type="warning"
           class="m-0">
  <p>We are currently experiencing a problem with processing payments.</p>
  <p>Please complete our <a href="https://us.ovhcloud.com/order-interest-form" target="_blank" rel="noopener">form</a> and we will be in contact soon.</p>
</oui-modal>
