<div class="oui-modal oui-modal_shadow nasha-partition-access-add">
    <form class="form" role="form" data-ng-submit="NashaPartitionAccessAddCtrl.addAccess()" name="nashaPartitionAccessAddForm">
        <div class="oui-modal__header">
            <button class="oui-icon oui-icon-close_thin oui-modal__close-button"
                type="button"
                aria-label="Exit" data-ng-click="NashaPartitionAccessAddCtrl.dismiss()"></button>
        </div>


        <div class="oui-modal__body oui-modal__body_no-icon" data-ng-if="NashaPartitionAccessAddCtrl.loading">
            <div class="text-center">
                <oui-spinner></oui-spinner>
            </div>
        </div>
        <div class="oui-modal__body oui-modal__body_no-icon" data-ng-if="!NashaPartitionAccessAddCtrl.loading">
            <h2 class="oui-modal__title" data-translate="nasha_access_action_add"></h2>

            <div class="bottom-space-m12">
                <oui-message type="info">
                    <span data-translate="nasha_partitions_access_notice"></span>
                </oui-message>
            </div>
            <div class="form-group">
                <label class="nasha-partition-add-title" data-translate="nasha_access_action_add_message" for="selectAccess"></label>
                <cloud-auto-complete data-id="selectAccess"
                                     data-ng-model="NashaPartitionAccessAddCtrl.data.accessToAdd"
                                     data-ng-disabled="NashaPartitionAccessAddCtrl.loading"
                                     data-options="NashaPartitionAccessAddCtrl.data.accessAvailable"
                                     data-group-by="description"
                                     data-order-by="['!!description' ,'description', 'ip']"
                                     data-display-property="ip"
                                     data-group-description="{{ 'nasha_access_action_add_services' | translate }}"
                                     data-placeholder="{{ 'nasha_access_action_add_placeholder' | translate }}"></cloud-auto-complete>
            </div>
            <div class="form-group top-space-m20">
                <strong class="permissions" data-translate="nasha_partitions_access_permissions"></strong>

                <oui-message type="warning"
                    data-ng-if="NashaPartitionAccessAddCtrl.data.partition.protocol !== 'NFS'">
                        <span data-translate="nasha_partitions_access_permissions_warning_cifs"></span>
                    </oui-message>

                <div class="radio">
                    <label class="protocols-radio top-space-m4">
                        <input type="radio"
                               name="permission"
                               class="permissions-labels right-space-m4"
                               data-ng-model="NashaPartitionAccessAddCtrl.data.type"
                               data-ng-value="'readwrite'" />
                        {{ 'nasha_partitions_access_readwrite' | translate }}
                    </label>
                </div>
                <div class="radio"
                     data-ng-class="{ disabled: NashaPartitionAccessAddCtrl.data.partition.protocol !== 'NFS' }">
                    <label class="permissions-labels top-space-m4">
                        <input type="radio"
                               name="permission"
                               class="right-space-m4"
                               data-ng-model="NashaPartitionAccessAddCtrl.data.type"
                               data-ng-value="'readonly'"
                               data-ng-disabled="NashaPartitionAccessAddCtrl.data.partition.protocol !== 'NFS'" />
                        {{ 'nasha_partitions_access_readonly' | translate }}
                    </label>
                </div>
            </div>
        </div>

        <div class="oui-modal__footer">
            <button type="reset"
                class="oui-button oui-button_secondary"
                data-ng-click="NashaPartitionAccessAddCtrl.dismiss()"
                 data-translate="common_cancel">
            </button>
            <button type="submit"
                class="oui-button oui-button_primary"
                data-ng-disabled="NashaPartitionAccessAddCtrl.loading || !NashaPartitionAccessAddCtrl.data.type || !NashaPartitionAccessAddCtrl.data.accessToAdd"
                data-translate="common_confirm">
            </button>
        </div>
    </form>
</div>
