<div class="cui-page__content inputs-home">
    <oui-back-button class="back_button_inline_text"></oui-back-button>
    <span class="oui-header_3" data-translate="inputs_title"></span>    
    <p class="oui-paragraph mb-5" data-translate="inputs_intro_text"></p>
    
    <oui-spinner data-ng-if="ctrl.quota.loading"></oui-spinner>
    <p data-ng-if="!ctrl.quota.loading">{{ctrl.quota.data.configured}}/{{ctrl.quota.data.max}} <span data-translate="inputs_total_used"></span>
        (<button role="link" class="oui-link oui-button-link"
            ui-sref="dbaas.logs.detail.options"
            data-translate="inputs_increase_quota"
            data-ng-disabled="ctrl.delete.loading">
        </button>)
    </p>

    <button class="oui-button oui-button_secondary oui-button_icon-left mt-4 mb-5">
        <i class="oui-icon oui-icon-add" aria-hidden="true"></i>
        {{::'inputs_add_input' | translate}}
    </button>

    <oui-spinner data-ng-if="ctrl.inputs.loading || ctrl.delete.loading"></oui-spinner>
    <oui-datagrid data-ng-if="!(ctrl.inputs.loading || ctrl.delete.loading)"
        rows="ctrl.inputs.data">
        <oui-column title="::'inputs_tool' | translate" property="info.title" sortable></oui-column>
        <oui-column title="::'inputs_description' | translate" property="info.description" sortable></oui-column>        
        <oui-column title="::'inputs_creation_date' | translate" property="info.createdAt">
            {{ $row.info.createdAt | momentFormat:'L'}}
        </oui-column>
        <oui-column title="::'inputs_software' | translate" property="info.engine.software">
            {{ $row.info.engine.software }}
        </oui-column>
        <oui-column title="::'inputs_linked_option' | translate" property="info.optionId">
            <i data-ng-if="$row.info.optionId" class="glyphicon glyphicon-ok"></i>
            <span data-ng-if="!$row.info.optionId"> - </span>
        </oui-column>
        <oui-column title="::'inputs_state' | translate" property="info.state">
            <oui-inline-color-alert type="$row.info.stateType" label="{{ 'inputs_state_' + $row.info.state | translate }}"></oui-inline-color-alert>
        </oui-column>
        <oui-action-menu align="end" compact>
            <oui-action-menu-item text="{{ ::'inputs_info_title' | translate }}" on-click="ctrl.info($row)"></oui-action-menu-item>
            <oui-action-menu-item text="{{ ::'inputs_start' | translate }}" on-click="ctrl.startInput($row)" disabled="!$row.actionsMap.START || $row.info.status === ctrl.LogsInputsConstant.status.PROCESSING"></oui-action-menu-item>
            <oui-action-menu-item text="{{ ::'inputs_restart' | translate }}" on-click="ctrl.restartInput($row)" disabled="!$row.actionsMap.RESTART || $row.info.status === ctrl.LogsInputsConstant.status.PROCESSING"></oui-action-menu-item>
            <oui-action-menu-item text="{{ ::'inputs_stop' | translate }}" on-click="ctrl.stopInput($row)" disabled="!$row.actionsMap.END || $row.info.status === ctrl.LogsInputsConstant.status.PROCESSING"></oui-action-menu-item>
            <oui-action-menu-item text="{{ ::'inputs_standard_output' | translate }}" on-click="ctrl.standardOutput($row)" disabled="!$row.actionsMap.LOG"></oui-action-menu-item>
            <oui-action-menu-item text="{{ ::'common_delete' | translate }}" on-click="ctrl.showDeleteConfirm($row)" disabled="!$row.actionsMap.DESTROY || $row.info.status === ctrl.LogsInputsConstant.status.PROCESSING"></oui-action-menu-item>
        </oui-action-menu>
    </oui-datagrid>    
</div>
