<header class="oui-page-header">
    <div class="oui-page-header__container">
        <div class="oui-page-header__content">
            <oui-spinner data-size="m" data-ng-if="$ctrl.loaders.init"></oui-spinner>
            <h1 class="oui-page-header__title" data-ng-if="!$ctrl.loaders.init" data-ng-bind="$ctrl.description || $ctrl.serviceName"></h1>
            <h2 class="oui-page-header__description" data-ng-if="!$ctrl.loaders.init && $ctrl.description !== $ctrl.serviceName" data-ng-bind="$ctrl.serviceName"></h2>
        </div>
    </div>
    <oui-header-tabs>
        <oui-header-tabs-item
            data-text="{{ ::'vps_tab_dashboard' | translate }}"
            data-state="iaas.vps.detail.dashboard"
            data-state-params="{ serviceName: $ctrl.serviceName }">
        </oui-header-tabs-item>
        <oui-header-tabs-item
            data-text="{{ ::'vps_tab_secondary_dns' | translate }}"
            data-state="iaas.vps.detail.secondary-dns"
            data-state-params="{ serviceName: $ctrl.serviceName }">
        </oui-header-tabs-item>
        <oui-header-tabs-item
            data-text="{{ ::'vps_tab_backup_storage' | translate }}"
            data-state="iaas.vps.detail.backup-storage"
            data-state-params="{ serviceName: $ctrl.serviceName }">
        </oui-header-tabs-item>
        <oui-header-tabs-item
            data-text="{{ ::'vps_tab_veeam' | translate }}"
            data-state="iaas.vps.detail.veeam"
            data-state-params="{ serviceName: $ctrl.serviceName }">
        </oui-header-tabs-item>
        <oui-header-tabs-item
            data-text="{{ ::'vps_tab_additional_disk' | translate }}"
            data-state="iaas.vps.detail.additional-disk"
            data-state-params="{ serviceName: $ctrl.serviceName }">
        </oui-header-tabs-item>
        <oui-header-tabs-item
            data-text="{{ ::'vps_configuration_monitoring_title' | translate }}"
            data-state="iaas.vps.detail.monitoring"
            data-state-params="{ serviceName: $ctrl.serviceName }">
        </oui-header-tabs-item>
    </oui-header-tabs>
</header>
