<cui-modal>
    <cui-modal-header data-on-dismiss="$ctrl.cancel()"></cui-modal-header>
    <cui-modal-body data-title="'vps_configuration_secondarydns_delete_title' | translate">
        <div class="text-center" data-ng-if="$ctrl.loader.save">
            <oui-loader class="d-inline-block"></oui-loader>
        </div>
        <div data-ng-if="!ctrl.loader.save">
            <cui-modal-text data-text="'vps_configuration_secondarydns_delete_step1_question' | translate"></cui-modal-text>
        </div>
    </cui-modal-body>
    <cui-modal-footer>
        <cui-cancel-button data-text="'common_cancel' | translate" data-on-click="$ctrl.cancel()"></cui-cancel-button>
        <cui-submit-button data-text="'common_confirm' | translate" 
            data-on-click="$ctrl.confirm()"
            data-disabled="$ctrl.loader.save"></cui-submit-button>
    </cui-modal-footer>
</cui-modal>
