.log-options {
    .current-options-box {
        margin-bottom: 4rem;
    }
    
    .log_options_back_button {
        button {
            padding-top: 1.2rem;
            padding-right: 0rem;
        }
    }

    .total-price {
        text-align: right;
    }

    .current-options-tile {
        text-align: center;
        margin-bottom: 2rem;
        .cui-tile {
            padding: 0rem;
        }
        .cui-tile__item:last-child::after {
            background-color: transparent;
        }

        .oui-header_4 {
            margin: 0em;
        }
    }

    .log-quantity {
        .oui-input-group {
            margin: 0rem;
        }
    }
}