<div class="cloud-billing-resource-list">
    <uib-accordion>
        <uib-accordion-group data-is-open="$ctrl.toggle.accordions.instance" class="{{ $ctrl.toggle.accordions.instance ? 'active' : ''}}">
            <uib-accordion-heading>
                <button type="button" class="cloud-billing-accordion-heading" data-ng-click="$ctrl.toggleAccordion()">
                    <span class="chevron-right">
                        <i class="glyphicon pull-left" data-ng-class="{ 'glyphicon-chevron-down': $ctrl.toggle.accordions.instance, 'glyphicon-chevron-right': !$ctrl.toggle.accordions.instance }"></i>
                    </span>
                    <span class="cloud-billing-accordion-heading-title" data-translate="cpbc_hourly_instance_detail_title"></span>
                    <span class="cloud-billing-accordion-heading-price" data-ng-bind="$ctrl.resources.instance.price.text"></span>
                </button>
            </uib-accordion-heading>
            <instance-list data-instances="$ctrl.resources.instance.elements"
                        data-instance-col-name="'cpbc_hourly_instance_col_name'"
                        data-instance-col-total="'cpbc_hourly_instance_col_consumption'"
                        data-instance-col-total-tooltip="'cpbc_hourly_instance_col_consumption_tooltip'"
                        data-show-switch-to-monthly-billing-option="$ctrl.showSwitchToMonthlyBillingOption"
                        data-show-additional-instance-details="$ctrl.showAdditionalInstanceDetails"></instance-list>
        </uib-accordion-group>
    </uib-accordion>
    <uib-accordion>
        <uib-accordion-group
            data-is-open="$ctrl.toggle.accordions.snapshot"
            class="{{ $ctrl.toggle.accordions.snapshot ? 'active' : ''}}">
            <uib-accordion-heading>
                <button type="button" class="cloud-billing-accordion-heading" data-ng-click="$ctrl.toggleAccordion()">
                    <span class="chevron-right">
                        <i class="glyphicon pull-left" data-ng-class="{ 'glyphicon-chevron-down': $ctrl.toggle.accordions.snapshot, 'glyphicon-chevron-right': !$ctrl.toggle.accordions.snapshot }"></i>
                    </span>
                    <span class="cloud-billing-accordion-heading-title" data-translate="cpbc_snapshot_detail_title"></span>
                    <span class="cloud-billing-accordion-heading-price" data-ng-bind="$ctrl.resources.snapshot.price.text"></span>
                </button>
            </uib-accordion-heading>
            <snapshot-list data-snapshots="$ctrl.resources.snapshot.elements" data-ng-if="$ctrl.groupSnapshotsByRegion"></snapshot-list>
            <snapshot-detailed-consumption data-snapshots="$ctrl.resources.snapshot.elements" data-ng-if="!$ctrl.groupSnapshotsByRegion"></snapshot-detailed-consumption>
        </uib-accordion-group>
    </uib-accordion>
    <uib-accordion>
        <uib-accordion-group
            data-is-open="$ctrl.toggle.accordions.volume"
            class="{{ $ctrl.toggle.accordions.volume ? 'active' : ''}}">
            <uib-accordion-heading>
                <button type="button" class="cloud-billing-accordion-heading" data-ng-click="$ctrl.toggleAccordion()">
                    <span class="chevron-right">
                        <i class="glyphicon pull-left" data-ng-class="{ 'glyphicon-chevron-down': $ctrl.toggle.accordions.volume, 'glyphicon-chevron-right': !$ctrl.toggle.accordions.volume }"></i>
                    </span>
                    <span class="cloud-billing-accordion-heading-title" data-translate="cpbc_volume_detail_title"></span>
                    <span class="cloud-billing-accordion-heading-price" data-ng-bind="$ctrl.resources.volume.price.text"></span>
                </button>
            </uib-accordion-heading>
            <volume-list data-volumes="$ctrl.resources.volume.elements"></volume-list>
        </uib-accordion-group>
    </uib-accordion>
    <uib-accordion>
        <uib-accordion-group
                data-is-open="$ctrl.toggle.accordions.objectStorage"
                class="{{ $ctrl.toggle.accordions.objectStorage ? 'active' : ''}}">
            <uib-accordion-heading>
                <button type="button" class="cloud-billing-accordion-heading" data-ng-click="$ctrl.toggleAccordion()">
                <span class="chevron-right">
                    <i class="glyphicon pull-left" data-ng-class="{ 'glyphicon-chevron-down': $ctrl.toggle.accordions.objectStorage, 'glyphicon-chevron-right': !$ctrl.toggle.accordions.objectStorage }"></i>
                </span>
                    <span class="cloud-billing-accordion-heading-title" data-translate="cpbc_object_storage_detail_title"></span>
                    <span class="cloud-billing-accordion-heading-price" data-ng-bind="$ctrl.resources.objectStorage.price.text"></span>
                </button>
            </uib-accordion-heading>
            <object-storage-list data-storages="$ctrl.resources.objectStorage.elements"></object-storage-list>
        </uib-accordion-group>
    </uib-accordion>
    <uib-accordion>
        <uib-accordion-group
                data-is-open="$ctrl.toggle.accordions.archiveStorage"
                class="{{ $ctrl.toggle.accordions.archiveStorage ? 'active' : ''}}">
            <uib-accordion-heading>
                <button type="button" class="cloud-billing-accordion-heading" data-ng-click="$ctrl.toggleAccordion()">
                <span class="chevron-right">
                    <i class="glyphicon pull-left" data-ng-class="{ 'glyphicon-chevron-down': $ctrl.toggle.accordions.archiveStorage, 'glyphicon-chevron-right': !$ctrl.toggle.accordions.archiveStorage }"></i>
                </span>
                    <span class="cloud-billing-accordion-heading-title" data-translate="cpbc_archive_storage_detail_title"></span>
                    <span class="cloud-billing-accordion-heading-price" data-ng-bind="$ctrl.resources.archiveStorage.price.text"></span>
                </button>
            </uib-accordion-heading>
            <archive-storage-list data-storages="$ctrl.resources.archiveStorage.elements"></archive-storage-list>
        </uib-accordion-group>
    </uib-accordion>
    <uib-accordion>
        <uib-accordion-group data-is-open="$ctrl.toggle.accordions.outgoingTraffic" class="{{ $ctrl.toggle.accordions.outgoingTraffic ? 'active' : ''}}">
            <uib-accordion-heading>
                <button type="button" class="cloud-billing-accordion-heading" data-ng-click="$ctrl.toggleAccordion()">
                    <span class="chevron-right">
                        <span class="glyphicon pull-left" data-ng-class="{ 'glyphicon-chevron-down': $ctrl.toggle.accordions.outgoingTraffic, 'glyphicon-chevron-right': !$ctrl.toggle.accordions.outgoingTraffic }"></span>
                    </span>
                    <span class="cloud-billing-accordion-heading-title" data-translate="cpbc_hourly_instance_trafic_title"></span>
                    <span class="cloud-billing-accordion-heading-price"
                        data-ng-bind="$ctrl.resources.bandwidthInstance.price.text">
                    </span>
                </button>
            </uib-accordion-heading>
            <outgoing-trafic data-regions="$ctrl.resources.bandwidthInstance.elements"></outgoing-trafic>
        </uib-accordion-group>
    </uib-accordion>
</div>
