<div>
    <!-- init loading... -->
    <div data-ng-if="CloudProjectComputeInfrastructureOverviewCtrl.loaders.init" class="text-center" style="margin-top: 200px;">
        <spinner name="bubbles-222-fff-32"></spinner>
    </div>
    <div class="well"
         data-ng-if="!CloudProjectComputeInfrastructureOverviewCtrl.loaders.init">
        <p class="bold" data-translate="infra_overview_tips_title"></p>
        <p>
            <span data-translate="infra_overview_tips_platform1"></span>
            (<a data-translate="infra_overview_tips_platform2"
                data-ui-sref="iaas.pci-project.openstack.users">
            </a>)
            <span data-translate="infra_overview_tips_platform3"></span>
        </p>
        <p>
            <span data-translate="infra_overview_tips_guides1"></span>
            <a data-translate="infra_overview_tips_guides2"
                data-ng-href="{{ CloudProjectComputeInfrastructureOverviewCtrl.guideUrl }}"
                target="_blank">
            </a>.
        </p>
        <div class="bottom-space-m4">
            <label class="normal">
            <input type="checkbox"
                   class="right-space-m4"
                   data-ng-model="CloudProjectComputeInfrastructureOverviewCtrl.neverShowAgain"
                   style="vertical-align: -2px">
            </input>
            {{:: 'infra_overview_tips_never_again' | translate }}</span>
        </div>
        <button class="btn btn-primary"
                data-ng-disabled="CloudProjectComputeInfrastructureOverviewCtrl.loaders.redirect"
                data-ng-click="CloudProjectComputeInfrastructureOverviewCtrl.redirectToInterface()">
            <i class="fa fa-undo right-space-m4"></i>
            <span data-translate="infra_overview_tips_redirect_complete_view"></span>
            <spinner data-ng-if="CloudProjectComputeInfrastructureOverviewCtrl.loaders.redirect"></spinner>
        </button>
    </div>
</div>
