<section class="container-fluid cui-page__content cui-page__content-flex metrics__dashboard">
    <div class="row d-lg-flex">
        <div class="col-xm-12 col-md-5">
            <cui-tile class="h-100" data-title="'metrics_tiles_shortcut_title' | translate">
                <ul class="cui-tile__body cui-tile__body_list">
                    <li class="cui-tile__item cui-tile__item_button">
                        <a class="oui-button oui-button_link oui-button_icon-right oui-button_full-width cui-tile__button"
                            type="button"
                            ui-sref="dbaas.metrics.detail.token.add({ serviceName: MetricsDashboardCtrl.serviceName })">
                            <span data-translate="metrics_tiles_shortcut_token_add"></span>
                            <i class="oui-icon oui-icon-chevron-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                <br />
                <h5 class="cui-tile__title cui-tile__subtitle" data-translate="metrics_tiles_tools_title"></h5>
                <ul class="cui-tile__body cui-tile__body_list">
                    <li class="cui-tile__item" data-ng-repeat="graph in MetricsDashboardCtrl.graphs">
                        <a class="oui-button oui-button_link oui-button_icon-right oui-button_full-width cui-tile__button cui-tile__button_link"
                            type="button" 
                            href="{{graph.url}}"
                            target="_blank">
                            <span class="text-link" data-ng-bind="graph.name"></span>
                            <i class="fa fa-icon fa-external-link" aria-hidden="true"></i>
                            <i class="oui-icon oui-icon-chevron-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </cui-tile>
        </div>
        <div class="col-xm-12 col-md-7">
            <cui-tile data-title="'metrics_tiles_usage_title' | translate" class="h-100">
                <div class="chart-pie">
                    <div class="chart-pie-container">
                        <div data-ng-show="MetricsDashboardCtrl.loading.service && MetricsDashboardCtrl.loading.consumption" class="chart-pie-loader">
                            <cui-loader></cui-loader>
                        </div>
                        <div data-ng-hide="MetricsDashboardCtrl.loading.service && MetricsDashboardCtrl.loading.consumption">
                            <metrics-chart-pie 
                                            legend="'metrics_mads' | translate "
                                            text="MetricsDashboardCtrl.usage.conso.mads | formatSi"
                                            text-small="MetricsDashboardCtrl.displayUsage(MetricsDashboardCtrl.usage.conso.mads, MetricsDashboardCtrl.usage.quota.mads)"
                                            value="MetricsDashboardCtrl.computeUsage(MetricsDashboardCtrl.usage.conso.mads, MetricsDashboardCtrl.usage.quota.mads)"
                                            color="MetricsDashboardCtrl.computeColor(MetricsDashboardCtrl.usage.conso.mads, MetricsDashboardCtrl.usage.quota.mads)">
                            </metrics-chart-pie>
                        </div>
                    </div>
                    <div class="chart-pie-container">
                        <div data-ng-show="MetricsDashboardCtrl.loading.service && MetricsDashboardCtrl.loading.consumption" class="chart-pie-loader">
                            <cui-loader></cui-loader>
                        </div>
                        <div data-ng-hide="MetricsDashboardCtrl.loading.service && MetricsDashboardCtrl.loading.consumption">
                            <metrics-chart-pie 
                                            legend="'metrics_ddp' | translate "
                                            text="MetricsDashboardCtrl.usage.conso.ddp | formatSi"
                                            text-small="MetricsDashboardCtrl.displayUsage(MetricsDashboardCtrl.usage.conso.ddp, MetricsDashboardCtrl.usage.quota.ddp)"
                                            value="MetricsDashboardCtrl.computeUsage(MetricsDashboardCtrl.usage.conso.ddp, MetricsDashboardCtrl.usage.quota.ddp)"
                                            color="MetricsDashboardCtrl.computeColor(MetricsDashboardCtrl.usage.conso.ddp, MetricsDashboardCtrl.usage.quota.ddp)">
                            </metrics-chart-pie>
                        </div>
                    </div>
                </div>
            </cui-tile>
        </div>
    </div>
    <div class="row d-lg-flex">
        <div class="col-xm-12 col-md-6">
            <cui-tile data-title="'metrics_tiles_configuration_title' | translate"
                    data-loading="MetricsDashboardCtrl.loading.service"
                    class="h-100">
                <div class="cui-tile__body">
                    <div class="cui-tile__item cui-dropdown-menu-container">
                        <dl class="cui-tile__definition">
                            <dt class="cui-tile__term" data-translate="metrics_tiles_configuration_name"></dt>
                            <dd class="cui-tile__description" data-ng-bind="MetricsDashboardCtrl.configuration.description || MetricsDashboardCtrl.configuration.name"></dd>
                            <cui-dropdown-menu>
                                <cui-dropdown-menu-button>
                                    <ng-include src="'app/ui-components/icons/button-action.html'"></ng-include>
                                </cui-dropdown-menu-button>
                                <cui-dropdown-menu-body>
                                    <div class="oui-action-menu">
                                    <div class="oui-action-menu__item oui-action-menu-item">
                                        <div class="oui-action-menu-item__icon"></div>
                                        <button class="oui-button oui-button_link oui-action-menu-item__label"
                                            type="button"
                                            data-translate="metrics_tiles_modify"
                                            data-ng-click="MetricsDashboardCtrl.showEditName(MetricsDashboardCtrl.configuration.description)"></button>
                                    </div>
                                    </div>
                                </cui-dropdown-menu-body>
                            </cui-dropdown-menu>
                        </dl>
                    </div>
                    <div class="cui-tile__item cui-dropdown-menu-container">
                        <dl class="cui-tile__definition">
                            <dt class="cui-tile__term" data-translate="metrics_tiles_configuration_retention"></dt>
                            <dd class="cui-tile__description">
                                <span data-ng-bind=":: MetricsDashboardCtrl.configuration.retention"></span>
                                <span data-translate="metrics_tiles_configuration_retention_month"></span>
                            </dd>
                        </dl>
                    </div>
                    <div class="cui-tile__item cui-dropdown-menu-container">
                        <dl class="cui-tile__definition">
                            <dt class="cui-tile__term" data-translate="metrics_tiles_configuration_datacenter"></dt>
                            <dd class="cui-tile__description">
                                <i class="flag-icon {{ MetricsDashboardCtrl.configuration.datacenter.flag }} flag flag__icon-sm"></i>
                                <span class="cui-tile__description_vertical-sub">
                                    <span data-ng-bind=":: MetricsDashboardCtrl.configuration.datacenter.name"></span> -
                                    <small data-ng-bind=":: MetricsDashboardCtrl.configuration.datacenter.country"></small>
                                </span>
                            </dd>
                        </dl>
                    </div>

                </div>
            </cui-tile>
        </div>
        <div class="col-xm-12 col-md-6">
            <cui-tile data-title="'metrics_tiles_subscription_title' | translate"
                    data-loading="MetricsDashboardCtrl.loading.service && MetricsDashboardCtrl.loading.plan"
                    class="h-100">
                <div class="cui-tile__body">
                    <div class="cui-tile__item">
                        <dl class="cui-tile__definition">
                            <dt class="cui-tile__term" data-translate="metrics_tiles_subscription_offer"></dt>
                            <dd class="cui-tile__description" data-translate="metrics_tiles_subscription_{{:: MetricsDashboardCtrl.plan.offer}}"></dd>
                        </dl>
                    </div>
                    <div class="cui-tile__item">
                        <dl class="cui-tile__definition">
                            <dt class="cui-tile__term" data-translate="common_tile_subscription_autorenew"></dt>
                            <dd class="cui-tile__description" data-ng-bind="MetricsDashboardCtrl.plan.autorenew"></dd>
                            <cui-dropdown-menu>
                                <cui-dropdown-menu-button>
                                    <ng-include src="'app/ui-components/icons/button-action.html'"></ng-include>
                                </cui-dropdown-menu-button>
                                <cui-dropdown-menu-body>
                                    <div class="oui-action-menu">
                                    <div class="oui-action-menu__item oui-action-menu-item">
                                        <div class="oui-action-menu-item__icon"></div>
                                        <a class="oui-button oui-button_link oui-action-menu-item__label"
                                            target="_blank"
                                            data-translate="common_manage"
                                            href="{{ MetricsDashboardCtrl.actions.autorenew }}"></a>
                                    </div>
                                    </div>
                                </cui-dropdown-menu-body>
                            </cui-dropdown-menu>
                        </dl>
                    </div>
                    <div class="cui-tile__item">
                        <dl class="cui-tile__definition">
                            <dt class="cui-tile__term" data-translate="common_tile_subscription_contact"></dt>
                            <dd class="cui-tile__description">
                                <span data-ng-bind=":: MetricsDashboardCtrl.plan.contactAdmin"></span>
                                <small data-translate="metrics_contact_admin"></small>
                            </dd>
                            <dd class="cui-tile__description">
                                <span data-ng-bind="MetricsDashboardCtrl.plan.contactBilling"></span>
                                <small data-translate="metrics_contact_billing"></small>
                            </dd>
                            <cui-dropdown-menu>
                                <cui-dropdown-menu-button>
                                    <ng-include src="'app/ui-components/icons/button-action.html'"></ng-include>
                                </cui-dropdown-menu-button>
                                <cui-dropdown-menu-body>
                                    <div class="oui-action-menu">
                                    <div class="oui-action-menu__item oui-action-menu-item">
                                        <div class="oui-action-menu-item__icon"></div>
                                        <a class="oui-button oui-button_link oui-action-menu-item__label"
                                            target="_blank"
                                            data-translate="common_manage"
                                            href="{{ MetricsDashboardCtrl.actions.contacts }}"></a>
                                    </div>
                                    </div>
                                </cui-dropdown-menu-body>
                            </cui-dropdown-menu>
                        </dl>
                    </div>
                    <div class="cui-tile__item">
                        <dl class="cui-tile__definition">
                            <dt class="cui-tile__term" data-translate="common_tile_subscription_creation_date"></dt>
                            <dd class="cui-tile__description" data-ng-bind="MetricsDashboardCtrl.plan.creation"></dd>
                        </dl>
                    </div>

                </div>
            </cui-tile>
        </div>
    </div>
</section>
